.breadcrumbs {
    margin-top: 75px;

    @include mobile {
        margin-top: 25px;
    }
}

.breadcrumbs-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    li {
        margin-right: 15px;
        a {
            position: relative;
            display: inline-block;
            font-size: 14px;
            text-decoration: none;
            color: #0b3757;

            @include mobile {
                font-size: 12px;
            }
            
            &:after {
                content: "/";
                position: absolute;
                right: -10px;
            }
        }

        span {
            color: #efb803;
            font-size: 14px;

            @include tablet {
                font-size: 12px;
            }
        }
    }
}