.footer {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  background-color: #0b3757;
  padding-top: 80px;
  padding-bottom: 60px;

  @include tablet {
    padding-top: 100px;
    padding-bottom: 70px;
  }

  .container {
    display: flex;
    justify-content: space-between;

    @include tablet {
      flex-wrap: wrap;
    }
    @include mobile {
      flex-direction: column;
    }
  }
}

.footer-logo-block {
  width: 35%;

  @include tablet {
    width: 45%;
    order: 1;
    text-align: left;
    margin-bottom: 20px;
  }
  @include mobile {
    width: 100%;
  }
}

.footer-copy {
  margin-top: 16px;
  color: #9dafbd;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: -0.32px;

  @include tablet {
    margin-top: 115px;
  }
  @include mobile {
    margin-top: 50px;
  }

  span {
    display: block;
  }
}

.footer-nav {
  width: 35%;

  @include tablet {
    display: none;
  }
  @include mobile {
    width: 100%;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 10px;

    @include tablet {
      display: flex;
      justify-content: space-evenly;
    }

    li {
      a {
        color: #d1dbe3;
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.39px;
        line-height: 26px;
      }
    }
  }
}

.footer-contact {
  width: 30%;

  @include tablet {
    order: 2;
    width: 55%;
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  @include mobile {
    width: 100%;
  }
}

.footer__address {
  color: #9dafbd;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 45px;
  margin-top: 0;

  @include tablet {
    order: 1;
  }

  .address-line {
    display: block;
    white-space: nowrap;

    @include laptop {
      font-size: 14px;
      display: block;
      white-space: normal;
    }
  }

  @include tablet {
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 1.3;
  }
}

.footer__tel {
  color: #9dafbd;
  text-decoration: none;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 20px;
  display: block;

  @include tablet {
    margin-top: 40px;
    font-size: 36px;
    font-weight: 700;
    order: 3;
  }
}

.footer__mail {
  font-size: 14px;
  color: #9dafbd;
  line-height: 30px;
  text-decoration: none;

  @include tablet {
    margin-top: 20px;
    order: 2;
  }
}
