header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  display: flex;
  padding-top: 30px;
  padding-bottom: 10px;
  z-index: 99999;
  transition: 0.3s;
  align-items: center;
  background-image: linear-gradient(180deg, #0b3757 0%, rgba(2, 11, 17, 0) 100%);

  @include laptop {
    padding-right: 40px;
  }

  &.header.scroll {
    background-color: #07273d;
    min-height: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .container {
    display: flex;
    justify-content: space-between;

    @include laptop {
      align-items: center;
    }
  }
}

.header-menu-block {
  display: flex;
  align-items: center;
}

.top-menu {

  &__langs {
    margin-left: 30px;
    cursor: pointer;
    padding-right: 10px;
    background-image: url(./icons/select-arrow.svg);
    background-repeat: no-repeat;
    background-position: 98% center;
  }

  &__contacts {
    margin-left: 13px;

    &:hover {
      .header-btn {
        color: $mainColor;
      }
    }
  }

  ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;

    li {
      margin-right: 13px;
      color: #febb03;

      & ul {
        position: absolute;
        width: 70px;
        height: auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        opacity: 0;
        visibility: hidden;
        background: $mainColor;
        border: 1px solid #fec303;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        transition: 0.2s;
        cursor: default;
      }

      &:hover > ul, & ul:hover {
        visibility: visible;
        opacity: 1;
      }

      & ul li {
        width: 100%;
        margin: 0;
        padding: 5px 10px;
        padding-left: 0;
      }



      &.active {
        a {
          position: relative;
          border: 1px solid #fec303;
          color: #febb03;

          &::after {
            content: "";
            position: absolute;
            left: -3px;
            top: 50%;
            transform: translateY(-50%);
            width: 5px;
            height: 13px;
            background-color: $contrastColor;
          }
        }
      }

      &:last-child {
        margin-right: 0;
      }

      a {
        color: #ffffff;
        text-decoration: none;
        line-height: 16px;
        letter-spacing: -0.5px;
        padding: 5px 11px 5px 8px;
        transition: 0.2s;

        &:hover {
          color: #febb03;
        }
      }
    }
  }
}

.header-right {
  display: flex;
  align-items: center;
  margin-left: 50px;

  @include laptop {
    margin-left: 0;
  }
}

.change-lang {
  margin-right: 28px;

  @include mobile {
    display: none;
  }

  select {
    position: relative;
    font-family: "Roboto";
    border: none;
    background-color: transparent;
    color: $contrastColor;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-appearance: none; 
    appearance: none;
    outline: none;
    padding-right: 10px;
    background-image: url(./icons/select-arrow.svg);
    background-repeat: no-repeat;
    background-position: 98% center;

    option {
      color: $mainColor;
    }
  }

  select::-ms-expand {
    display: none;
}
}

.header-btn {
  width: 162px;

  @include mobile {
    width: 140px;
    height: 35px;
  }
}
