.burger {
  display: none;

  @include laptop {
    position: absolute;
    right: 80px;
    display: block;
    width: 30px;
    height: 30px;

    &.active {
      span {
        width: 0;

        &:after {
          transform: rotate(-45deg);
          top: 0;
        }

        &:before {
          transform: rotate(45deg);
          top: 0;
        }
      }
    }

    span {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 30px;
      height: 2px;
      background-color: $contrastColor;
      transition: 0.2s;

      &::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 2px;
        bottom: -10px;
        background: $contrastColor;
        transition: 0.3s;
      }

      &::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 2px;
        top: -10px;
        background: $contrastColor;
        transition: 0.3s;
      }
    }
  }
}

@include laptop {
  .top-menu__langs-selected {
    &:hover {
      display: none;
    }
  }

  .top-menu {
    position: absolute;
    top: 90px;
    left: -580px;
    background-color: #0b3757;
    height: auto;
    transition: 0.3s;
    width: 180px;

    &__langs {
      background-position: 88% center;
    }

    &.active {
      width: 100%;
      top: 90px;
      left: 0;

      &:before {
        content: " ";
        background: rgba(11, 55, 97, 0.8);
        position: absolute;
        height: 100vh;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
      }
    }

    ul {
      margin: 0;
      flex-direction: column;
      padding: 0;
      background: #0B3757;

      li {
        position: relative;
        width: 100%;
        min-height: 60px;
        margin: 0;
        margin-top: 10px;
        padding-bottom: 10px;
        padding-right: 0;
        border-bottom:1px solid #9DAFBD;

        &.top-menu__langs {
          padding-bottom: 0;
        }

        ul {
          width: 100%;
          background: #0B3757;
        }

        &:hover > ul, & ul:hover {
          position: static;
          padding: 0;
          margin: 0;
          border: none;

          li:last-child {
            border-bottom: none;
          }
        }


        &.top-menu__contacts {
          height: 130px;

          a {
            min-width: 285px;
            padding: 0;
            margin-top: 40px;
            margin-bottom: 0;
            font-weight: normal;
            border: 1px solid $contrastColor;
          }
        }


        &.active {
          a {
            position: absolute;
            border: none;

            &:after {
              display: none;
            }
          }
        }

        a {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          border: none;
          padding: 0;
          padding-top: 20px;
          padding-bottom: 20px;
          padding-left: 80px;
        }
      }
    }
  }
}

.close {
  display: none;
  width: 20px;
  height: 20px;
  cursor: pointer;

  @include laptop {
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
  }

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 15px;
    height: 2px;
    background-color: white;
  }

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    width: 15px;
    height: 2px;
    background-color: white;
  }
}


.change-lang.change-lang-mobile {
    display: none;

    @include mobile {
        display: flex;
        justify-content: center;
        margin-right: 0;
        margin: auto;
    }

}

