[contenteditable]:empty:before {
  display: block;
  color: #cdd7dd;
  content: attr(placeholder);
}

.modal {

  &__mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 73, 94, 0.8);
    z-index: 14000;
    visibility: hidden;
    opacity: 0;
    transition: 0.7s;
  }

  &__container {
    display: flex;
    z-index: 15000;
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;

    &.active {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__window {
    width: 100%;
    min-width: 300px;
    max-width: 745px;
    min-height: 400px;
    margin: auto;
    border-radius: 10px;
    background: #EEEEEE;
    transition: 0.5s ease-out;
    transform: translateY(45px);
  }

  &__content {
    padding: 60px 95px 70px 100px;

    .section-modal-form {
      margin-top: 40px;

      .contact-column {
        display: flex;
        flex-direction: column;

        input {
          width: 100%;
          margin-bottom: 10px;
          color: $mainColor;

          &::placeholder {
            color: #9dafbd;
          }
        }

        .modal__text {
          width: 100%;
          min-height: 135px;
          padding-top: 20px;
          padding-left: 15px;
          margin-bottom: 30px;
          font-size: 14px;
          color: $mainColor;
          background: #ffffff;
          border: 1px solid #d1dbe3;
        }

        .contact__label {
          display: block;
        }
      }

      .contact__buttons {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        button {
          max-width: 260px;
          margin: 0;
        }
      }

    }
  }

  &__button {
    &-close {
      position: absolute;
      padding: 0;
      top: 30px;
      right: 30px;
      width: 40px;
      height: 40px;
      border: none;
      background: transparent;
      cursor: pointer;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }

}

.close_modal {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  border-radius: 0;
  width: 40px;
  height: 40px;
  background-color: #2fc2e2;
  background: linear-gradient(93deg, #5ec19c 0%, #2fc2e2 100%);
  color: #393a38;
  cursor: pointer;
}
.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 73, 94, 0.8);
  z-index: 14000;
  visibility: hidden;
  opacity: 0;
  transition: 0.7s;
}
.modal-container {
  display: flex;
  z-index: 15000;
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
}
.modal {
  width: 100%;
  min-width: 300px;
  max-width: 1000px;
  min-height: 400px;
  margin: auto;
  background: #fff;
  transition: 0.5s ease-out;
  transform: translateY(45px);
}
.modal_html {
  padding: 50px;
}
.active {
  visibility: visible;
  opacity: 1;
}
.active + .modal-container {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}