.pager {
  display: flex;
  flex-direction: row;

  &__container {
    display: flex;
    justify-content: center;
    margin-top: 70px;

    @include tablet {
      padding-left: 0;
      padding-right: 0;
    }
    @include mobile {
      margin-top: 55px;
    }
  }
  &__left {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid #9DAFBD;
    position: relative;
    margin-right: 5px;

    a {
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
      }
    }
    &:after {
      content: "";
      position: absolute;
      margin-left: 2px;
      width: 8px;
      height: 8px;
      border-style: solid;
      border-color: #07273D;
      border-width: 2px 2px 0 0;
      -webkit-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }
    &:hover {
      border:2px solid #EFB803;

      &:after {
        border-color: #EFB803;
      }
    }
  }
  &__right {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid #9DAFBD;
    position: relative;
    margin-left: 5px;

    a {
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
      }
    }
    &:after {
      content: "";
      position: absolute;
      margin-left: -2px;
      width: 8px;
      height: 8px;
      border-style: solid;
      border-color: #07273D;
      border-width: 2px 2px 0 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:hover {
      border:2px solid #EFB803;

      &:after {
        border-color: #EFB803;
      }
    }
  }
  &__list {
    display: flex;
    flex-direction: row;
  }
  &__item {
    width: 35px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 12px;

    a {
      color: #A2A4A9;
      text-decoration: none;
      font-weight: bold;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
      }
    }
    &.active a {
      color: #07273D;
    }
  }
}