.section-why-us {
  background-color: #eeeeee;

  @include tablet {
    padding-top: 200px;
  }

  .container {
    &:after {
      content: "";
      position: absolute;
      left: -150px;
      top: 120px;
      width: 203px;
      height: 278px;
      border: 2px solid #d1dbe3;
    }

    &:before {
      content: "";
      position: absolute;
      left: -200px;
      top: 330px;
      width: 216px;
      height: 203px;
      border: 2px solid #efb803;
    }
  }

  .section-top {
    width: 65%;
  }
}

.why-us-list {
  margin-top: 90px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;

  @include desktop {
      margin-top: 70px;
  }

  @include laptop {
      padding: 0;
  }

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.why-us-item {
  width: 28%;

  @include laptop {
      width: 31%;
  }

  @include tablet {
    flex: 0 50%;
    width: 50%;
    margin-bottom: 30px;
    text-align: left;
  }
}

.why-us-item__header {
  font-size: 36px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 15px;

  @include desktop {
      font-size: 26px;
      margin-top: 30px;
  }

  @include tablet {
    font-size: 30px;
    margin-top: 10px;
    line-height: 38px;
  }
}

.why-us-item__desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
}

.why-us-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;

  @include mobile {
      margin-top: 30px;
  }
}

.why-us-logos-item {
  margin: 0 40px;
  margin-top: 20px;

  @include tablet {
      margin: 0 15px;
      margin-top: 20px;
  }

  @include tablet {
      margin: 0 10px;
      margin-top: 20px;
      width: 27%;
  }

  @include mobile {
      width: 26%;
  }
}

.why-us-img-wrapp {

  svg {
    fill: #efb803;;
  }
}