.section-solutions {

  @include tablet {
    padding-top: 200px;
  }

  .section-top {
    width: 58%;
    margin-left: auto;
  }

  .container {
    &:after {
      content: "";
      position: absolute;
      left: -60px;
      top: 370px;
      width: 203px;
      height: 228px;
      border: 2px solid #d1dbe3;
      z-index: -1;
    }

    &:before {
      content: "";
      position: absolute;
      left: -225px;
      top: 150px;
      width: 253px;
      height: 278px;
      border: 2px solid #efb803;
      z-index: -1;
    }

    .s-solution-frame-base-1 {
      &:before {
        content: "";
        position: absolute;
        right: -200px;
        bottom: 10px;
        width: 176px;
        height: 106px;
        border: 2px solid #efb803;
        z-index: -1;
      }
    }
  }

  .section-header {
    width: 100%;
    margin-left: auto;
    font-size: 54px;
    line-height: 58px;

    @include tablet {
      font-size: 50px;
    }

    @include mobile {
      width: 100%;
    }
  }
}

.solutions-list {
  margin: 70px 0;
  display: flex;
  flex-wrap: wrap;
}

.solutions-item {
  position: relative;
  width: 33.3%;
  height: 220px;
  padding: 30px 15px;
  border: 1px solid #d1dbe3;
  background: #ffffff;
  text-align: center;
  transition: 0.3s;

  &:hover {
    background-color: #efb803;
    border-color: #efb803;
  }

  a{
    text-decoration: none;
    color: #0b3757;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
    }
  }

  .svg-icon {
    fill: #efb803;
    transition: 0.3s;
  }

  &:hover .svg-icon {
    fill: #0b3757;
  }

  @include tablet {
    width: 50%;
  }

  @include mobile {
    padding: 15px;
    height: initial;
    min-height: 150px;
  }
}

.solutions-item-img-wrapp {
  margin-bottom: 25px;

  @include mobile {
    margin-bottom: 15px;
  }

  img {
    height: 71px;

    @include mobile {
      height: 50px;
    }
  }
}

.solutions-item__title {
  display: block;
  margin: auto;
  width: 90%;
  font-size: 18px;
  color: #0b3757;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 26px;

  @include desktop {
    width: 90%;
  }

  @include mobile {
    width: 100%;
    font-size: 14px;
    line-height: 1.3;
  }
}

.btn-solution {
    margin: auto;
}
