.section-news {
    position: relative;
    padding-top: 70px;
    background: #EEEEEE;

    .container {
        @include tablet {
            padding-left: 80px;
            padding-right: 80px;
        }
    }
    @include mobile {
        padding-left: 25px;
        padding-right: 25px;
    }
    &_on-main {
        padding-top: 30px;
        background: #fff;
        padding-bottom: 70px;

        .container {
            padding-left: 70px;
            padding-right: 70px;

            @include mobile {
                padding-left: 25px;
                padding-right: 25px;
            }
        }
        .news-item__body {
            min-height: 220px;
        }
        .float-header {
            @include tablet {
                top: 10px;
            }
            @include mobile {
                span {
                    font-size: 30px;
                    &:first-child:after {
                        height: 55px;
                        width: 191px;
                        left: -40px;
                    }
                    &:after {
                        height: 68px;
                        width: 210px;
                    }
                }
            }
        }
        @include tablet {
            padding-top: 40px;
            padding-bottom: 30px;

            .news__more_on-main {
                padding-top: 90px;
            }
            .float-header--left {
                left: 90px;
                top: -40px;
                line-height: 1;
                font-size: 24px;

                span:after {
                    width: 250px;
                    left: -20px;
                    top: -10px;
                    height: 58px;
                }
                span:first-child:after {
                    width: 230px;
                    top: -10px;
                    left: -70px;
                }
                span {
                    font-size: 30px;
                }
            }
        }
        @include mobile {
            padding-top: 0;
            margin-top: 20px;
            padding-bottom: 30px;

            .float-header--left {
                left: 95px;
                top: -40px;
                line-height: 1;
                font-size: 24px;

                span:first-child:after {
                    top: -10px;
                }
                span:after {
                    top: -10px;
                    height: 58px;
                }
            }
            .news-page__button-more-news {
                .btn {
                    max-width: 260px;
                }
            }
        }
    }
}

.s-news-frame-1 {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        right: -195px;
        top: -13px;
        width: 134px;
        height: 88px;
        border: 2px solid #d1dbe3;
    }
    &:after {
        content: "";
        position: absolute;
        right: -175px;
        top: -115px;
        width: 144px;
        height: 134px;
        border: 2px solid #efb803;
    }
}

