.section-projects {
  position: relative;

  @include tablet {
    padding-top: 193px;
  }

  &:before {
    content: "";
    position: absolute;
    bottom: 10%;
    left: -100px;
    display: block;
    width: 178px;
    height: 107px;
    border: 2px solid #d1dbe3;
  }

  .container {
    position: relative;

    .s-projects-frame-1 {
      &:before {
        content: "";
        position: absolute;
        display: block;
        top: 25%;
        right: -250px;
        width: 243px;
        height: 279px;
        border: 2px solid #d1dbe3;
        z-index: -1;
      }
    }

    &:after {
      position: absolute;
      content: "";
      top: 0;
      right: -200px;
      width: 347px;
      height: 279px;
      border: 2px solid #efb803;
      z-index: -1;
    }
  }

  .float-header span::after {
    width: 383px;

    @include desktop {
      width: 373px;
    }

    @include laptop {
      width: 340px;
    }
  }

  .float-header span:first-child:after {
    width: 364px;

    @include desktop {
      width: 354px;
    }

    @include laptop {
      width: 324px;
    }
  }
}

.projects-list {
  padding-top: 165px;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include tablet {
    flex-direction: column;
    padding-top: 0;
  }

  @include mobile {
    padding-top: 65px;
  }
}

.projects-item {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-position: center;
  background-size: cover;
  height: 300px;
  margin-bottom: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 45px;
  transition: 0.2s;

  @include laptop {
    padding-left: 20px;
    padding-right: 15px;
  }

  @include tablet {
    height: 250px;
    padding-left: 30px;
    margin-bottom: 15px;
  }

  @include mobile {
    height: initial;
    min-height: 250px;
    padding-top: 15px;
  }

  &:hover {
    top: -5px;
  }

  &:nth-child(1) {
    background-image: url(./images/di-sas.jpg);
    width: 32%;

    @include tablet {
      width: 100%;
    }

    @include mobile {
      width: 100%;
    }
  }

  &:nth-child(2) {
    background-image: url(./images/managment.jpg);
    width: 66%;

    @include tablet {
      width: 100%;
    }

    @include mobile {
      width: 100%;
    }
  }

  &:nth-child(3) {
    background-image: url(./images/hadoop.jpg);
    width: 66%;

    @include tablet {
      width: 100%;
    }

    @include mobile {
      width: 100%;
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-image: linear-gradient(to top, #0b3757 0%, rgba(2, 11, 17, 0.25) 100%);
  }
}

.projects-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;

  a {
    margin-left: 10px;
    margin-right: 10px;
  }

  &__all {
    display: none;

    @include tablet {
      display: flex;
    }
  }
}

.projects-item-all {
  position: relative;
  top: 0;
  background-color: #efb803;
  height: 300px;
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.2s;

  @include tablet {
    display: none;
    width: 45%;
  }

  @include mobile {
    width: 100%;
    height: 150px;
  }

  &:hover {
    top: -5px;
  }

  img {
    display: block;
    margin-bottom: 40px;

    @include mobile {
      margin-bottom: 10px;
      width: 60px;
    }
  }

  a {
    color: #0b3757;
    letter-spacing: -0.5px;
    line-height: 26px;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.projects-title__link {
  text-decoration: none;
  color: #efb803;

  &:hover {
    text-decoration: underline;

    & + .projects-description {
      text-decoration: underline;
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
}

.projects-title {
  position: relative;
  color: #efb803;
  letter-spacing: -0.5px;
  line-height: 26px;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 15px;
  z-index: 1;
}

.projects-description {
  position: relative;
  margin: 0;
  font-size: 14px;
  color: #ffffff;
  line-height: 16px;
  z-index: 1;
}
