.section-hero {
  position: relative;
  min-height: 772px;
  background-image: linear-gradient(180deg, #0b3757 0%, rgba(2, 11, 17, 0) 25%), url(./images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @include tablet {
    min-height: 670px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #0b3757, $alpha: 0.7);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }
}

.hero-main {
  position: relative;
  margin-top: 245px;
  padding-left: 40px;
  z-index: 10;

  @include tablet {
    margin-top: 145px;
  }

  @include mobile {
    padding: 20px 10px;
  }

  &:after {
    content: "";
    position: absolute;
    right: 0;
    top: -30px;
    display: block;
    width: 70.6%;
    height: 140%;
    border: 2px solid rgba($color: #fff, $alpha: 0.34);

    @include desktop {
      width: 60%;
    }

    @include laptop {
      width: 55%;
      height: 120%;
    }

    @include tablet {
      width: 50%;
      height: 400px;
    }

    @include mobile {
      top: 0;
      height: 100%;
    }
  }
}

.hero__header {
  position: relative;
  font-size: 36px;
  color: $contrastColor;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 30px;
  z-index: 1;
  line-height: 1.2;
  letter-spacing: -0.81px;

  @include tablet {
    font-size: 30px;
  }

  span {
    display: block;
    font-size: 70px;
    font-weight: 700;

    @include tablet {
      font-size: 55px;
    }

    @include mobile {
      font-size: 54px;
    }
  }
}

.hero__desc {
  position: relative;
  width: 49%;
  font-size: 18px;
  letter-spacing: -0.5px;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 44px;
  z-index: 1;

  @include desktop {
    width: 70%;
  }

  @include tablet {
    width: 100%;
  }
}

.btn-hero {
  margin: 0;
  position: relative;
  z-index: 100;
  border: none;
}
