.section-team {
  position: relative;
  background-color: #eeeeee;

  @include tablet {
    padding-top: 200px;
    padding-bottom: 70px;
  }

  &.white-bg {
    background-color: #fff;
  }

  &.no-top-padding {
    padding-top: 0;
  }

  &.about-page {
    &:after {
      display: none;
    }
  }

  .float-header span:first-child::after {
    width: 296px;

    @include laptop {
      width: 300px;

      @include mobile {
        width: 210px;
      }
    }
  }

  .section-top {
    width: 65%;

    @include mobile {
      width: 100%;
    }
  }

  .section-header {
    width: 100%;

    @include mobile {
      width: 100%;
    }
  }

  .section-header-full {
    width: 100%;
  }
}

.team-list {

  &:after {
    content: "";
    position: absolute;
    top: 35%;
    left: -80px;
    display: block;
    width: 278px;
    height: 247px;
    border: 2px solid #d1dbe3;
  }

  &:before {
    content: "";
    position: absolute;
    left: -10px;
    top: 45%;
    width: 203px;
    height: 285px;
    border: 2px solid #efb803;
  }


  .team-inner-frame {
    position: relative;
    margin: 70px -15px;
    display: flex;

    &:before {
      position: absolute;
      content: "";
      top: -35px;
      right: -110px;
      width: 203px;
      height: 279px;
      border: 2px solid #d1dbe3;
    }

    //&:before {
    //  position: absolute;
    //  content: "";
    //  top: 85%;why-us-item__header
    //  right: -45px;
    //  width: 103px;
    //  height: 109px;
    //  border: 2px solid #efb803;
    //}
    //&:after {
    //  position: absolute;
    //  content: "";
    //  top: 78%;
    //  right: -80px;
    //  width: 80px;
    //  height: 90px;
    //  border: 2px solid #d1dbe3;
    //}

    @include laptop {
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @include tablet {
      margin: 70px 0;
      margin-bottom: 30px;
    }

    @include mobile {
      margin: 40px 0;
    }
  }
}


.team-item {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #d1dbe3;
  width: 25%;
  min-height: 390px;
  margin: 0 15px;
  padding-top: 50px;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;

  @include desktop {
    margin: 0 7px;
  }

  @include laptop {
    width: 46%;
    margin: 15px;
  }

  @include tablet {
    width: 47%;
    margin: 0;
    margin-bottom: 40px;
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 390px;
  }

  @include mobile {
    width: 100%;
  }

  &.team-item-about {
    .team__description {
      text-align: left;
    }
    .team__name {
      min-height: auto;
    }
  }
}

.team-item-img-wrapp {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 30px;

  @include mobile {
    width: 120px;
    height: 120px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.team__name {
  color: #0b3757;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.32px;
  line-height: 16px;
  display: block;

  @include mobile {
    font-size: 16px;
  }
}

.team__profession {
  font-size: 12px;
  color: #0b3757;
  font-weight: 400;
  letter-spacing: -0.27px;
  line-height: 14px;
  text-align: center;
  margin-bottom: 10px;

  @include mobile {
    font-size: 15px;
  }
}

.team__description {
  color: #9dafbd;
  font-size: 12px;
  line-height: 16px;
  text-align: left;

  @include mobile {
    line-height: 1.3;
  }
}
