.section-others {
    position: relative;
    padding-top: 70px;
    padding-bottom: 80px;
    background-image: url(./images/others-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #0b3757, $alpha: 0.7);
     
    }
}
.others__title {
    position: relative;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1.29px;
    line-height: 43px;
    color: #efb803;
    z-index: 10;
    margin-top: 0;
    margin-bottom: 40px;

    @include mobile {
        font-size: 24px;
        line-height: 1.2;
    }

    span {
        display: block;
        font-weight: 400;
    }
}

.others-list {
    display: flex;

    @include mobile {
        flex-wrap: wrap;
    }

}

.others-item {
    position: relative;
    width: 33.3%;
    min-height: 218px;
    border: 1px solid #d1dbe3;
    background-color: #ffffff;
    z-index: 10;
    text-align: center;
    padding: 0 10px;
    padding-top: 31px;

    @include mobile {
        width: 100%;
    }

    a {
        display: block;
        text-decoration: none;
        margin-top: 25px;
        font-size: 18px;
        color: #0b3757;
        letter-spacing: -0.5px;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
}