.section-contact {
  background: url(./images/contact-bg.jpg) center no-repeat;
  background-size: cover;
  padding-bottom: 0;

  @include tablet {
    padding-top: 190px;
  }

  .section-header {
    span {

      @include tablet {
        display: inline;
      }
    }
  }

  .float-header span:first-child::after {
    width: 296px;

    @include laptop {
      width: 280px;

      @include mobile {
        width: 210px;
      }
    }
  }

}

.contact-main {
  margin-top: 40px;
  padding: 70px 0;
  background-color: rgba($color: #eee, $alpha: 0.7);

  @include mobile {
    padding: 40px 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.contact-form-block {
  @include laptop {
    width: 100%;
  }

  .btn {
    width: 260px;
    margin-top: 30px;
    margin-left: 0;
    box-shadow: initial;

    @include desktop {
      width: 240px;
    }

    @include laptop {
      width: 50%;
      margin: auto;
      margin-top: 20px;
    }

    @include tablet {
      width: 50%;
      margin: auto;
      margin-top: 50px;
    }

    @include mobile {
      width: 100%;
    }
  }
}

.contact-inputs {
  display: flex;
  margin-bottom: 30px;

  @include tablet {
    flex-direction: column;
  }

  @include mobile {
    flex-wrap: wrap;
  }
}

.contact-row {
  margin-right: 30px;
  display: flex;
  flex-direction: column;

  @include desktop {
    margin-right: 15px;
  }

  @include laptop {
    width: 50%;
  }

  @include tablet {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  @include mobile {
    width: 100%;
    margin-right: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  .input {
    width: 260px;
    margin-bottom: 10px;

    @include desktop {
      width: 240px;
    }

    @include laptop {
      width: 100%;
    }

    @include tablet {
      width: 100%;
    }

      &:last-child {
      margin-bottom: 0;
    }
  }

  .textarea {
    height: 100%;
    width: 358px;
    margin-bottom: 0;
    resize: none;
    border: 1px solid #d1dbe3;
    background-color: #ffffff;
    padding-left: 15px;
    font-size: 14px;
    color: #9dafbd;
    letter-spacing: -0.32px;

    @include desktop {
      width: 310px;
    }

    @include laptop {
      width: 100%;
      min-height: 130px;
    }

    @include mobile {
      margin-top: 15px;
      height: 150px;
    }

    &::placeholder {
      font-family: Roboto;
      color: #9dafbd;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: -0.32px;
    }
  }
}

.contact-info {
  width: 30%;

  @include tablet {
    display: none;
  }

  @include laptop {
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }
}

.contact__label {
  color: #0b3757;
  font-size: 14px;
  letter-spacing: -0.32px;
  line-height: 16px;

  @include mobile {
    display: flex;
  }

  input {
    margin-right: 15px;
  }
}

.contact__address {
  font-size: 18px;
  margin: 0;
  line-height: 30px;
  margin-bottom: 30px;
}

.contact__mail {
  font-size: 18px;
  display: block;
  text-decoration: none;
  color: #0b3757;
  margin-bottom: 40px;
}

.contact__tel {
  text-decoration: none;
  font-size: 36px;
  font-weight: 700;
  color: #0b3757;

  @include desktop {
    font-size: 28px;
  }
}

