.section-mirea {
  position: relative;
  background-color: #eeeeee;

  .float-header span:first-child::after {
    width: 296px;

    @include laptop {
      width: 250px;

      @include mobile {
        width: 210px;
      }
    }
  }

  .section-top {
    width: 50%;

    @include mobile {
      width: 100%;
    }
  }

  .section-header {
    width: 63%;

    @include mobile {
      width: 100%;
    }
  }

  .section-header-full {
    width: 100%;
  }
}

.section-mirea__row {
  display: flex;
  flex-direction: row;

  @include mobile {
    flex-direction: column;
  }
}

.section-mirea__logo {
  min-width: 300px;
  flex-basis: 25%;

  @include mobile {
    text-align: center;
    flex-basis: 100%;
    min-width: auto;
    width: 100%;
  }
}

.section-mirea__description {
  width: auto;

  @include mobile {
    width: 100%;
  }
}