.section-clients {
  background-color: #eeeeee;

  @include tablet {
    padding-top: 200px;
  }

  &.white-bg {
    background-color: #fff;
  }

  &.no-padding {
    padding: 0;
  }

  .section-top {
    width: 65%;
  }

  .section-top-full {
    width: 100%;
  }
}

.clients-list {
  display: flex;
  margin: 70px 0;

  @include tablet {
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 0;
  }
}

.clients-item {
  padding-left: 28px;
  border-left: 8px solid $contrastColor;
  margin-right: 90px;

  @include desktop {
    margin-right: 30px;
    border-width: 5px;
  }

  @include laptop {
    margin-right: 15px;
    padding-left: 15px;
  }

  @include tablet {
    flex: 0 50%;
    margin-right: 0;
    margin-bottom: 70px;
    padding-bottom: 15px;
    border-bottom: none;
    border-left: 5px solid $contrastColor;
  }
}

.clients-item__title {
  margin-top: 0;
  margin-bottom: 15px;
  color: #0b3757;
  font-size: 36px;
  font-weight: 700;

  @include desktop {
    font-size: 28px;
  }

  @include tablet {
    width: 70%;
    font-size: 30px;
  }
}

.clients-item__subtitle {
  font-size: 16px;
  line-height: 24px;
  color: #0b3757;
  white-space: nowrap;

  @include tablet {
    width: 70%;
    display: block;
    white-space: normal;
  }
}

.clients-slider-wrapp {
  margin-bottom: 70px;
}

.container-client-slider {
  padding-top: 190px;

  @include tablet {
    padding-top: 0;
  }

  .float-header {
    top: 50px;

    @include tablet {
      top: -190px;
      right: 80px;
    }
  }
}

.clients-slider {
  .slick-arrow {
    position: absolute;
    top: 50%;
    width: 25px;
    height: 25px;
    border: none;
    border-top: 3px solid #9dafbd;
    border-left: 3px solid #9dafbd;
    background-color: transparent;
    font-size: 0;
    outline: none;
    cursor: pointer;
  }

  .slick-next {
    right: -20px;
    transform: translate(-50%) rotate(135deg);

    @include tablet {
      right: -10px;
    }
  }

  .slick-prev {
    left: -20px;
    transform: translate(-50%) rotate(-45deg);

    @include tablet {
      left: 10px;
    }
  }
}

.clients-slider-dots {
  margin-top: 40px;

  .slick-dots {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;

    li {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }

      &.slick-active {
        button {
          border-color: #000;
        }
      }

      button {
        width: 30px;
        height: 10px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #9dafbd;
        font-size: 0;
        outline: none;
        cursor: pointer;
      }
    }
  }
}

.clients-slider-item {
  width: 100%;
  display: flex !important;
  justify-content: center;
  flex-wrap: wrap;

  img {
    margin: 25px;

    @include tablet {
      margin: 10px 15px;
    }

    @include mobile {
      width: 22%;
    }
  }

  &.clients-slider-item-about {
    img {
      margin: 50px;
      margin-top: 25px;
      margin-bottom: 25px;

      @include tablet {
        margin: 10px 15px;

      }

      @include mobile {
        width: 22%;
      }
    }
  }
}
