.about-page {
  .page-banner {
    background-image: url(./images/about-bg.jpg);
    min-height: 630px;
  }

  .text-page-main {
    &:after {
      display: none;
    }

    &::before {
      display: none;
    }
  }
}

.team-list-about {
  &:after {
    content: "";
    position: absolute;
    top: 27%;
    left: -30px;
    display: block;
    width: 153px;
    height: 200px;
    border: 2px solid #d1dbe3;
  }

  &:before {
    content: "";
    position: absolute;
    top: 35%;
    left: 20px;
    display: block;
    width: 203px;
    height: 205px;
    border: 2px solid #efb803;
  }

  .team-inner-frame {
      &:before {
        position: absolute;
        content: "";
        top: 85%;
        right: -45px;
        width: 103px;
        height: 109px;
        border: 2px solid #efb803;
      }
      &:after {
        position: absolute;
        content: "";
        top: 78%;
        right: -80px;
        width: 80px;
        height: 90px;
        border: 2px solid #d1dbe3;
      }
    }
}
