.text-page {
  .header {
    height: 99px;
    background-image: initial;
    background-color: #07273d;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;
  }

  .content {
    padding-top: 99px;
  }
}

.logo-image {
  @include tablet {
    //margin-left: 43px;
  }
}

.text-page-top {
  margin-top: 20px;

  .container {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 40px;
      right: -100px;
      display: block;
      width: 193px;
      height: 176px;
      border: 2px solid #efb803;

      @include laptop {
        display: none;
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: 120px;
      right: -20px;
      display: block;
      width: 158px;
      height: 141px;
      border: 2px solid #d1dbe3;

      @include laptop {
        display: none;
      }
    }
  }

  img {
    position: absolute;
    width: 180px;
    right: 160px;
    top: 0;

    @include laptop {
      right: 0;
      width: 150px;
    }

    @include tablet {
      width: 100px;
    }

    @include mobile {
      width: 50px;
      right: 15px;
    }
  }
}

.text-page-header {
  width: 65%;

  @include tablet {
    width: 80%;
  }

  @include mobile {
    width: 100%;
  }

  h1 {
    margin: 0;
    margin-bottom: 30px;
    color: #0b3757;
    font-size: 54px;
    font-weight: 400;
    letter-spacing: -1.93px;
    line-height: 63px;

    @include laptop {
      font-size: 51px;
    }

    @include tablet {
      font-size: 43px;
    }

    @include mobile {
      width: calc(100% - 60px);
      line-height: 1.1;
      font-size: 36px;
    }
  }

  p {
    font-size: 18px;
    margin: 0;
    color: #0b3757;
    line-height: 24px;
  }
}

.text-page-main {
  position: relative;
  margin-top: 70px;
  padding-bottom: 70px;

  &:after {
    content: "";
    position: absolute;
    left: -170px;
    bottom: 40%;
    width: 211px;
    height: 232px;
    border: 2px solid #efb803;

    @include laptop {
      display: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: -100px;
    bottom: 30%;
    width: 169px;
    height: 189px;
    border: 2px solid #d1dbe3;

    @include laptop {
      display: none;
    }
  }

  h3 {
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: #0b3757;
    width: 80%;

    @include tablet {
      font-size: 23px;
      width: 100%;
    }

    @include mobile {
      font-size: 19px;
      line-height: 1.2;
    }
  }

  hr {
    border: 1px solid #D1DBE3;
    border-collapse: collapse;
    margin-top: 70px;
    margin-bottom: 70px;
  }

  p {
    font-size: 18px;
  }

  ul {
    margin: 0;
    margin-bottom: 70px;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      padding-left: 30px;
      color: #0b3757;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }

      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 5px;
        display: block;
        width: 10px;
        height: 10px;
        background-color: #0e3f67;
        border-radius: 50%;
      }

      ul {
        margin-top: 30px;
        margin-bottom: 30px;

        li {
          padding-left: 70px;

          &:after {
            width: 5px;
            height: 5px;
          }
        }
      }
    }
  }
}

.text-page-buttons {
  display: flex;
  justify-content: center;
  margin-top: 60px;

  @include mobile {
    flex-wrap: wrap;
  }

  .btn {
    margin: 0 15px;

    @include mobile {
      width: 100%;
      margin: 0;
    }
  }

  .btn-emty {
    border: 1px solid #0b3757;
    color: #0b3757;
    box-shadow: none;
    transition: 0.2s;

    @include mobile {
        width: 100%;
        margin-top: 15px;
    }

    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      background-color: #fff;
    }
  }
}

.page-banner {
  position: relative;
  padding-top: 166px;
  background-position: center;
  background-size: cover;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba($color: #0b3757, $alpha: 0.7);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    z-index: 0;
  }
}

.page-top {
  position: relative;
  z-index: 1;
}

.page-title {
  color: #efb803;
  font-size: 54px;
  font-weight: 700;
  letter-spacing: -1.93px;
  line-height: 63px;
  margin: 0;
  margin-bottom: 30px;

  &.success {
    color: #66D844;
  }

  &.error {
    color: #F24841;
  }

  @include laptop {
    font-size: 51px;
  }

  @include tablet {
    font-size: 37px;
    line-height: 45px;
  }

  @include mobile {
    font-size: 34px;
    line-height: 38px;
  }

  span {
    font-weight: 400;
    display: block;

    &.inline-block {
      display: inline-block;
    }
  }
}

.page-description {
  width: 50%;
  margin: 0;
  color: #ffffff;
  font-size: 18px;
  line-height: 26px;

  @include laptop {
    width: 70%;
  }

  @include tablet {
    width: 100%;
  }
}
