.contact-page {
  .page-banner {
    background-image: url(./images/contact-page-bg.jpg);
    min-height: 630px;

    @include tablet {
      padding-bottom: 60px;
    }
  }

  .p-contact-container {
    display: flex;
    padding-right: 0;

    @include tablet {
      flex-direction: column;
      padding: 0 15px;
    }

    .page-top {
      width: 50%;

      @include tablet {
        width: 100%;
      }
    }
    .contact-form-block {
      width: 50%;
      position: relative;
      z-index: 1;

      @include tablet {
        width: 100%;
        margin-top: 40px;
      }

      .contact-form {
        .contact-inputs {
          .contact-row {
            width: 100%;

            input {
              display: block;
              width: 100%;
              height: 100px;
              margin-bottom: 15px;

              @include mobile {
                height: 50px;
              }
            }
            textarea {
              display: block;
              width: 100%;

              @include mobile {
                margin-top: 0;
              }
            }
          }
        }
      }
    }
  }

  .text-page-main {
    &:after {
      display: none;
    }

    &::before {
      display: none;
    }
  }

  .contact__label {
    color: #fff;
  }
}

.section-address {
  position: relative;
  background: url(./images/contact-bg.jpg) center no-repeat;
  background-size: cover;
  min-height: 500px;
  padding-bottom: 100px;

  &__map {
    width: 60%;

    @include tablet {
      width: 100%;
    }
  }

  &__contact-info {
    width: 40%;
    font-size: 18px;
    line-height: 1.7em;
    padding-left: 40px;

    @include tablet {
      width: 100%;
      margin-top: 40px;
      padding-left: 0;
    }

    .contact-info__image {
      margin-bottom: 30px;

      @include tablet {
        text-align: center;
      }

      img {
        width: 150px;
        height: auto;
        border-radius: 50%;

        @include tablet {
          width: 50%;
        }
      }
    }

    .contact-info__email {
      a {
        text-decoration: none;
        color: #0b3757;
      }
    }

    .contact-info__tel {
      a {
        text-decoration: none;
        color: #0b3757;
      }
    }
  }
}