.news-list {
  margin-bottom: 100px;
  position: relative;

  @include tablet {
    padding-left: 80px;
    padding-right: 80px;
  }
  @include mobile {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 70px;
  }
  &:after {
    content: "";
    position: absolute;
    left: -120px;
    top: 105px;
    width: 152px;
    height: 166px;
    border: 2px solid #efb803;

    @include tablet {
      display: none;
    }
  }
  &:before {
    content: "";
    position: absolute;
    left: -178px;
    top: 58px;
    width: 122px;
    height: 137px;
    border: 2px solid #d1dbe3;

    @include tablet {
      display: none;
    }
  }
  &__blocks {
    position: relative;

    @include tablet {
      display: none;
    }
    &:before {
      content: "";
      position: absolute;
      right: -140px;
      top: 368px;
      width: 100px;
      height: 112px;
      border: 2px solid #d1dbe3;
    }
    &:after {
      content: "";
      position: absolute;
      right: -210px;
      top: 400px;
      width: 125px;
      height: 137px;
      border: 2px solid #efb803;
    }
  }
  &__item {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    position: relative;

    @include tablet {
      margin-top: 20px;
    }
    &:hover a {
      text-decoration: underline;
    }
  }
  &__image {
    padding-right: 60px;

    @include tablet {
      display: none;
    }
    img {
      max-width: none;
      width: 194px;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #D1DBE3;
    margin-bottom: 4px;
    padding-right: 60px;
    flex: 1;


    @include tablet {
      padding-right: 40px;
    }
    @include mobile {
      padding-right: 0;
      margin-bottom: 15px;

      &:nth-last-child {
        margin-bottom: 5px;
      }
    }
  }
  &__date {
    font-size: 15px;
    color: #0B3757;
    opacity: 0.4;
    padding-top: 5px;

    @include mobile {
      font-size: 14px;
    }
  }
  &__header {
    margin-top: 18px;
    font-size: 17px;
    line-height: 22px;
    color: #0B3757;
    max-width: 826px;
    width: 100%;

    @include tablet {
      padding-bottom: 35px;
      white-space: normal;
    }
    @include mobile {
      font-size: 16px;
      line-height: 20px;
      white-space: normal;
    }
    a {
      text-decoration: none;
      color: #0B3757;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
      }
    }
  }
}
