.news-item {
  position: relative;
  width: calc(33.3% - 10px);
  max-width: 358px;
  background-color: #fff;
  transition: 0.3s;
  overflow: hidden;

  @include tablet {
    width: calc(50% - 10px);
    max-width: 289px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  @include mobile {
    width: 100%;
    max-width: none;
    margin-top: 30px;
    margin-bottom: 0;
  }
  &__body {
    min-height: 270px;
    padding: 20px;
    border: 1px solid #D1DBE3;

    @include tablet {
      min-height: 220px;
    }
    @include mobile {
      min-height: 200px;
    }
  }
  &__image {
    margin-bottom: -4px;

    img {
      @include tablet {
        width: 100%;
        max-width: none;
      }
    }
  }
  &__date {
    font-size: 12px;
    color: #0B3757;
    opacity: 0.4;
  }
  &__header {
    margin-top: 20px;
    font-size: 17px;
    line-height: 22px;
    max-height: 110px;
    overflow: hidden;

    @include tablet {
      min-height: 180px;
      max-height: 180px;
      margin-bottom: 0;
    }
    @include mobile {
      min-height: 120px;
      max-height: 135px;
      margin-bottom: 0;
    }
    a {
      text-decoration: none;
      color: #0B3757;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
      }
    }
  }
  &__line {
    display: none;

    @include tablet {
      display: block;
      width: 100%;
      border-top: 2px solid #D1DBE3;
      margin-top: 5px;
      margin-bottom: 10px;
    }
    @include mobile {
      display: none;
    }
  }
  &__button {
    height: 50px;
    position: absolute;
    right: 20px;
    bottom: 20px;

    @include tablet {
      display: none;
    }
  }
  .square-btn {
    bottom: 0;
    right: 0;
  }
  &:hover a {
    text-decoration: underline;
  }
  &:hover .svg-icon {
    fill: #0b3757;
  }
  &:hover .square-btn {
    width: 271px;
  }
  &:hover .square-btn span {
    opacity: 1;
  }
  .svg-icon {
    width: 72px;
    fill: #efb803;
    transition: 0.3s;
  }
  &_smaller {
    width: 25%;
    max-width: 261px;
    background: none;

    @include tablet {
      width: calc(50% - 10px);
      max-width: 284px;
    }
    @include mobile {
      width: 100%;
      max-width: none;

      &:last-child {
        .news-item__body {
          border-bottom: none;
        }
      }
    }
    .news-item__body {
      border: none;
      padding: 0;
      padding-top: 20px;

      @include tablet {
        min-height: auto;
        max-height: none;
      }
      @include mobile {
        border-bottom: 2px solid #D1DBE3;
        padding-bottom: 40px;
        margin-bottom: 10px;
      }
    }
    .news-item__button {
      display: none;
    }
    .news-item__header {
      font-size: 15px;
      color: #0B3757;
      line-height: 18px;
      max-height: none;

      @include tablet {
        min-height: auto;
        max-height: none;
      }
    }
  }
}

.news-migratory {

  &.news-item {
    display: none;

    @include tablet {
      display: block;
    }
    @include mobile {
      display: none;
    }
  }
  &.news-list__item {
    display: flex;

    @include tablet {
      display: none;
    }
    @include mobile {
      display: flex;
    }
  }
}