.news {

  .page-banner {
    padding: 0;
    margin: 0;
    padding-top: 176px;
    background-image: url(./images/news-page-bg.jpg);
    min-height: 630px;

    @include tablet {
      min-height: 1027px;
    }
    @include mobile {
      padding-top: 146px;
      min-height: 666px;
    }
    .container {
      @include mobile {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  .page-title {
    margin: 0;
    padding: 0;
    display: flex;

    span {
      margin-right: 15px;
      font-weight: 400;

      @include tablet {
        padding-left: 70px;
        margin-right: 15px;
      }
      @include mobile {
        padding-left: 0;
        margin-right: 0;
      }
    }
    @include tablet {
      font-size: 54px;
    }
    @include mobile {
      flex-direction: column;
      line-height: 64px;
    }
  }

  &__showcase {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -330px;

    @include tablet {
      flex-wrap: wrap;
      padding-left: 80px;
      padding-right: 80px;
      margin-top: -760px;
      margin-bottom: 60px;
    }
    @include mobile {
      flex-direction: column;
      align-items: center;
      margin-top: -380px;
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 40px;
    }
    .news-item {
      //&:nth-child(4n) {
      //  display: none;
      //
      //  @include tablet {
      //    display: block;
      //  }
      //  @include mobile {
      //    display: none;
      //  }
      //}
      @include tablet {
        margin-bottom: 0;
      }
    }
  }

  &__header {

    @include mobile {
      display: flex;
      flex-direction: column-reverse;
    }
    h1 {
      margin: 0;
      margin-top: 30px;
      margin-bottom: 30px;
      color: #0b3757;
      font-size: 54px;
      font-weight: 400;
      letter-spacing: -1.93px;
      line-height: 63px;

      @include tablet {
        margin-top: 30px;
      }
      @include mobile {
        margin-top: 40px;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 10px;
      }
    }
  }

  &__text {
    margin-top: 25px;
    margin-bottom: 70px;

    .text-page-buttons {
      @include mobile {
        display: flex;
        justify-content: center;
        margin-top: 50px;

        .btn {
          max-width: 261px;
        }
      }
    }
    p {
      margin-top: 0;
      font-size: 17px;
      line-height: 22px;
      margin-bottom: 30px;

      @include tablet {
        margin-bottom: 20px;
      }
    }
    .container {
      @include mobile {
        padding: 0;
      }
    }
  }

  &__title {
    position: relative;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1.29px;
    line-height: 43px;
    color: #0b3757;
    z-index: 10;
    margin-top: 0;
    margin-bottom: 70px;

    span {
      font-weight: normal;
    }
    @include tablet {
      margin-bottom: 40px;
    }
    @include mobile {
      margin-bottom: 10px;
    }
  }

  &__more {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include tablet {
      flex-wrap: wrap;
      padding-bottom: 100px;
    }
    @include mobile {
      flex-direction: column;
      align-items: center;
      padding-bottom: 20px;
    }
    &_on-main {
      padding-top: 160px;

      .news-item__header {
        font-size: 14px;
        line-height: 20px;
      }
      @include tablet {
        padding-bottom: 25px;
      }
      @include mobile {
        padding-top: 60px;
      }
    }
  }

  &__cover {

    @include tablet {
      display: flex;
      overflow: hidden;
      justify-content: center;
      margin-left: -80px;
      margin-right: -80px;
    }
    @include mobile {
      display: flex;
      overflow: hidden;
      justify-content: center;
    }
    img {
      @include tablet {
        max-width: none;
      }
      @include mobile {
        max-width: none;
      }
    }
  }

}

.news-inner {

  .breadcrumbs {
    display: block;

    @include tablet {
      display: block;
    }
    @include mobile {
      display: none;
    }
  }

  .container {
    @include tablet {
      padding-right: 80px;
      padding-left: 80px;
    }
    @include mobile {
      padding-right: 25px;
      padding-left: 25px;
    }
  }

  .section-news {
    @include mobile {
      padding-left: 0;
      padding-right: 0;
    }
  }

}

