$line-top-offset: 70px;
$mobile-bottom-offset: 10px;

.projects-page {
  .page-banner {
    background-image: url(./images/projects-bg.jpg);
    min-height: 630px;

    @include tablet {
      min-height: 430px;
    }
  }
}

.p-projects-frame-base-1 {
  &:after {
    content: "";
    position: absolute;
    left: -170px;
    top: 59%;
    width: 153px;
    height: 158px;
    border: 2px solid #d1dbe3;
  }

  &:before {
    content: "";
    position: absolute;
    left: -200px;
    top: 56%;
    width: 132px;
    height: 177px;
    border: 2px solid #efb803;
  }
}

.p-projects-frame-base-2 {
  &:after {
    content: "";
    position: absolute;
    right: -120px;
    top: 78%;
    width: 153px;
    height: 210px;
    border: 2px solid #d1dbe3;
  }

  &:before {
    content: "";
    position: absolute;
    right: -195px;
    top: 73%;
    width: 172px;
    height: 250px;
    border: 2px solid #efb803;
  }
}

.p-projects-frame-base-3 {
  &:before {
    content: "";
    position: absolute;
    right: -120px;
    top: 30%;
    width: 110px;
    height: 110px;
    border: 2px solid #efb803;
  }
}

.p-projects-container {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: -170px;
    top: 14%;
    width: 153px;
    height: 158px;
    border: 2px solid #d1dbe3;
  }

  &:before {
    content: "";
    position: absolute;
    left: -200px;
    top: 10%;
    width: 132px;
    height: 177px;
    border: 2px solid #efb803;
  }

  @include tablet {
    padding-top: 30px;
  }
}

.p-projects-row-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  margin-top: $line-top-offset;

  & .p-projects-row {
    margin: 0;

    @include tablet {
      margin-bottom: $mobile-bottom-offset;
    }
  }

  @include tablet {
    margin: 0;
    flex-direction: column;
  }
}

.p-projects-column {
  width: 50%;

  &.grid {
    display: grid;
  }

  & .p-projects-row.top-offset-small {
    margin-top: 10px;

    @include tablet {
      margin: 0;
      margin-bottom: $mobile-bottom-offset;
    }
  }

  & .p-projects-row.top-offset-none {
    margin-top: 0;
  }

  &:first-child {
    margin-right: 10px;
  }

  &:last-child {
    margin-right: 0;
  }

  @include tablet {
    width: 100%;
    margin: 0;
  }
}

.p-projects-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  margin-top: $line-top-offset;
  min-height: 270px;

  &.column {
    flex-direction: column;
  }

  @include tablet {
    min-height: auto;
    flex-direction: column;
    margin: 0;
    margin-bottom: $mobile-bottom-offset;
  }
}

.p-projects-image {
  min-width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #0B3757;
  border: none;
  min-height: 90px;
  padding: 20px;
  transition: 0.3s;
  overflow: hidden;
  margin-right: 20px;

  h2 {
    color: #EFB803;
    text-align: center;
    font-size: 34px;

    span {
      display: block;
      margin-top: 8px;
      color: #9dafbc;
      font-weight: normal;
      font-size: 18px;
    }

    @include tablet {
      margin: 0;
    }
  }

  &.sticked {
    margin-right: 0;
  }

  @include desktop {
    min-width: 200px;
    margin-right: 0;
  }

  @include tablet {
    margin: 0;
  }
}

.p-projects-item__group {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  flex-direction: column;
  flex-basis: 50%;
  position: relative;
  min-height: 90px;
  transition: 0.3s;
  overflow: hidden;

  & .p-projects-item {
    width: auto;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    @include tablet {
      margin: 0;
    }
  }

  @include tablet {
    margin: 0;
  }
}

.p-projects-item__group-inside {
  display: flex;
  margin-bottom: 10px;

  & > .p-projects-item {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @include tablet {
    margin: 0;
  }
}

.p-projects-item__group-wide {
  flex-basis: 100%;
  position: relative;
  min-height: 90px;
  transition: 0.3s;
  overflow: hidden;

  & > .p-projects-item {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    @include tablet {
      margin: 0;
    }
  }
}

.p-projects-free-space {
  height: 100px;
}

.p-projects-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  position: relative;
  background-color: #EEEEEE;
  border: 1px solid #d1dbe3;
  min-height: 90px;
  padding: 20px;
  padding-right: 10px;
  padding-bottom: 50px;
  transition: 0.3s;
  overflow: hidden;
  margin-left: 10px;

  &.border-top-none {
    border-top: none;
  }

  &:hover .square-btn-gray {
    background-image: url(./icons/right-arrow-primary.svg);
    background-repeat: no-repeat;
    background-size: 27px;
    background-position: left center;
    background-color: transparent;
  }

  &.sticked {
    flex-basis: 100%;
    margin-left: 0;
    border-left: none;

    @include tablet {
      border-left: 1px solid #d1dbe3;
    }
  }

  &:only-child {
    margin-left: 0;
  }

  &:last-child {
    @include laptop {
      width: 100%;
    }
  }

  &:hover {
    background-color: #efb803;
    border-color: #efb803;
  }

  &:hover .svg-icon {
    fill: #0b3757;
  }

  &:hover .square-btn-gray span {
    opacity: 1;
  }

  .svg-icon {
    width: 72px;
    fill: #efb803;
    transition: 0.3s;
  }

  @include tablet {
    padding: 10px 5px 40px 10px;
    margin: 0;
  }
}

.p-projects-item__title {
  width: 100%;
  font-size: 18px;
  margin: 0;

  a {
    text-decoration: none;
    color: #0b3757;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
    }
  }
}

.square-btn-gray {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: transparent;

    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: calc(50% - 25px);
      display: block;
      width: 50px;
      height: 50px;
      background-image: url(./icons/right-arrow-gray.svg);
      background-repeat: no-repeat;
      background-size: 27px;
      background-position: left center;
      background-color: transparent;
  }
}
