.solutions-page {
  .page-banner {
    background-image: url(./images/solutions-bg.jpg);
    min-height: 630px;
  }
}

.p-solutions-container {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: -140px;
    top: 34%;
    width: 153px;
    height: 168px;
    border: 2px solid #efb803;

    @include laptop {
      left: -190px;
    }
  }

  &:before {
    content: "";
    position: absolute;
    left: -200px;
    top: 31%;
    width: 122px;
    height: 137px;
    border: 2px solid #d1dbe3;

    @include desktop {
      left: -150px;
    }
  }
}

.p-solutions-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: -185px;
  padding-bottom: 147px;

  &:after {
    content: "";
    position: absolute;
    right: -200px;
    top: 44%;
    width: 125px;
    height: 137px;
    border: 2px solid #efb803;

    @include laptop {
      right: -150px;
    }
  }

  &:before {
    content: "";
    position: absolute;
    right: -140px;
    top: 41%;
    width: 100px;
    height: 112px;
    border: 2px solid #d1dbe3;

    @include desktop {
      right: -190px;
    }
  }
}

.p-solutions-item {
  position: relative;
  width: 33.3%;
  background-color: #fff;
  border: 1px solid #d1dbe3;
  min-height: 464px;
  padding-top: 70px;
  padding-bottom: 125px;
  padding-right: 32px;
  padding-left: 32px;
  transition: 0.3s;
  overflow: hidden;

  @include laptop {
    min-height: 414px;
    width: 50%;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-right: 15px;
    padding-left: 15px;
  }

  @include mobile {
    width: 100%;
  }

  &:last-child {
    @include laptop {
      width: 100%;
    }
  }

  &:hover {
    background-color: #efb803;
    border-color: #efb803;
  }

  &:hover .svg-icon {
    fill: #0b3757;
  }

  &:hover .square-btn {
    width: 271px;
  }

  &:hover .square-btn span {
    opacity: 1;
  }

  .svg-icon {
    width: 72px;
    fill: #efb803;
    transition: 0.3s;
  }
}

.p-solutions-item__title {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 18px;

  a {
    text-decoration: none;
    color: #0b3757;
    font-weight: 700;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
    }
  }
}

.p-solutions-item__description {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  color: #0b3757;
}

.square-btn {
  position: absolute;
  right: 20px;
  bottom: 23px;
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  padding-left: 30px;
  background-color: #0b3757;
  transition: 0.3s;

  &:after {
    content: "";
    position: absolute;
    right: 0;
    top: calc(50% - 25px);
    display: block;
    width: 50px;
    height: 50px;
    background-image: url(./icons/right-arrow-white.svg);
    background-repeat: no-repeat;
    background-size: 27px;
    background-position: left center;
    background-color: #0b3757;
  }

  span {
    font-size: 14px;
    color: #ffffff;
    opacity: 0;
    transition: 0.3s;
    white-space: nowrap;
  }
}
