<footer class="footer">
    <div class="container">
        <div class="footer-logo-block">
            <a href="/">
                <img src="./images/logo-footer.svg" alt="">
            </a>
            <div class="footer-copy">
                <span>©2019 ООО "Дата Фрейм".</span>
                <span>Все права защищены.</span>
            </div>

        </div>
        <div class="footer-nav">
            <ul>
                <li>
                    <a href="solutions.html">
                        Решения
                    </a>
                </li>
                <li>
                    <a href="projects.html">
                        Проекты
                    </a>
                </li>
                <li>
                    <a href="about.html">
                        О компании
                    </a>
                </li>
                <li>
                    <a href="contacts.html">
                        Контакты
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-contact">
            <div class="footer__address">
                <div class="address-line">123100, г. Москва,</div>
                <div class="address-line">Москва-Сити, Пресненская набережная,</div>
                <div class="address-line">д.12, башня Федерация-Восток, 12 этаж, офис Б2</div>
            </div>
            <a href="tel:+74954813325" class="footer__tel">+7 (495) 481-33-25</a>
            <a href="mailto:info@data-frame.ru" class="footer__mail">info@data-frame.ru</a>
        </div>
    </div>
</footer>
