<header class="header">
    <div class="container">
        <a href="/" class="logo">
            <img src="./images/logo.svg" class="logo-image" alt="">
        </a>
        <div class="header-menu-block">
            <div class="top-menu">
<!--                <div class="close"></div>-->
                <ul>
                    <li class="active">
                        <a href="/">Главная</a>
                    </li>
                    <li>
                        <a href="solutions.html">Решения</a>
                    </li>
                    <li>
                        <a href="projects.html">Проекты</a>
                    </li>
                    <li>
                        <a href="about.html">О компании</a>
                    </li>
                    <li class="top-menu__langs">
                        <a href="#" class="top-menu__langs-selected">RU</a>
                        <ul>
                            <li><a href="#">RU</a></li>
                            <li><a href="#">EN</a></li>
                            <li><a href="#">NL</a></li>
                        </ul>
                    </li>
                    <li class="top-menu__contacts">
                        <a href="contacts.html" class="btn btn-emty header-btn">Связаться с нами</a>
                    </li>
                </ul>
<!--                <div class="change-lang change-lang-mobile">-->
<!--                    <select>-->
<!--                        <option value="Ru">RU</option>-->
<!--                        <option value="En">EN</option>-->
<!--                        <option value="Ned">NL</option>-->
<!--                    </select>-->
<!--                </div>-->
            </div>
<!--            <div class="header-right">-->
<!--                <div class="change-lang">-->
<!--                    <select>-->
<!--                        <option value="Ru">RU</option>-->
<!--                        <option value="En">EN</option>-->
<!--                        <option value="Ned">NL</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--                <a href="contacts.html" class="btn btn-emty header-btn">Связаться с нами</a>-->
<!--            </div>-->
        </div>
        <div class="burger">
            <span></span>
        </div>
    </div>

</header>
<script>
    
    let header = document.querySelector('.header');

    window.onscroll = function changeClass() {
        let scrollPosY = window.pageYOffset | document.body.scrollTop;

        if (scrollPosY > 10) {
            header.classList.add('scroll');
        } else if (scrollPosY <= 10) {
            if (!mobileMenu.classList.contains('active')) {
                header.classList.remove('scroll');
            }
        }
    }

    let burgerBtn = document.querySelector('.burger');
    let mobileMenu = document.querySelector('.top-menu');

    burgerBtn.addEventListener('click', function(){
        if (mobileMenu.classList.contains('active')) {
            if ((window.pageYOffset | document.body.scrollTop) <= 10) header.classList.remove('scroll');
        } else {
            header.classList.add('scroll');
        }
        this.classList.toggle('active');
        mobileMenu.classList.toggle('active');
    });

</script>