<div class="modal__mask" role="dialog" style="opacity: 0;"></div>
<div class="modal__container">
    <div class="modal__window" role="alert">
        <button class="modal__button-close" role="button"><img src="./icons/close.svg" alt="" /></button>
        <div class="modal__content">
            <section>
                <h1 class="section-header">
                    <span>Пожалуйста,</span>
                    заполните форму!
                </h1>
                <p class="section__description">
                    Для получения подробной информации по проекту, свяжитесь с нашими менеджерами
                </p>
            </section>
            <section class="section-modal-form">
                <form class="contact-form" action="">
                    <div class="contact-column">
                        <input type="text" class="input" placeholder="Ваше имя*" required>
                        <input type="email" class="input" placeholder="Ваш email*" required>
                        <input type="email" class="input" placeholder="Ваш номер телефон">
                        <div class="modal__text" contenteditable="true" placeholder="Задайте ваш вопрос или опишите задачу*"></div>
                    </div>
                    <label class="contact__label" for="policy">
                        <input type="checkbox" id="policy" checked>
                        C политикой конфиденциальности ознакомлен и согласен
                    </label>
                    <div class="contact__buttons">
                        <button class="btn btn-hero btn-bold" type="submit">Связаться с менеджером</button>
                        <button class="btn btn-emty-gray btn-bold modal__button-cancel" type="reset">Отмена</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
<script>

    let modalButtonOpenClass = '.modal__button-open';
    let modalContainerClass = '.modal__container';
    let modalMask = document.querySelector('.modal__mask');
    let modalContainer = document.querySelector('.modal__container');
    let modalButtonClose = document.querySelector('.modal__button-close');
    let modalButtonCancel = document.querySelector('.modal__button-cancel');

    modalButtonCancel.addEventListener('click', function(){
        modalClose();
    });

    modalButtonClose.addEventListener('click', function(){
        modalClose();
    });

    modalMask.addEventListener('click', function(){
        modalClose();
    });

    modalContainer.addEventListener('click', function(event){
        if (!event.target.matches(modalContainerClass)) return;
        modalClose();
    });

    document.addEventListener('click', function (event) {
        if (!event.target.matches(modalButtonOpenClass)) return;

        event.preventDefault();
        modalShow(50);

        let defaultValue = event.target.dataset.default || null;
        if (defaultValue === 'true') defaultValue = 'Здравствуйте, меня заинтересовал проект<br>' + '<b>' + event.target.innerHTML + '</b><br><br>';
        if (defaultValue) setModalText(defaultValue);

    }, false);

    document.addEventListener('keyup', function (event) {
        if (event.defaultPrevented) return;
        let key = event.key;
        if (key === 'Escape' || key === 'Esc' || key === 27) modalClose();
    });

    function modalShow(topOffset = 0) {
        let modalTopOffset = (window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop || 0) + topOffset + "px";

        modalMask.style.display = 'block';
        modalMask.classList.add("active");
        modalMask.style.opacity = null;
        modalContainer.classList.add("active");
        modalContainer.style.top = modalTopOffset;
    }

    function setModalText(text) {
        let modalText = document.querySelector('.modal__text');
        modalText.innerHTML = text;
    }

    function modalClose() {
        modalContainer.classList.remove("active");
        modalMask.classList.remove("active");
    }

</script>