// Colors
$contrastColor: #efb803;
$mainColor: #0b3757;


// Breakpoints
$mobile: 540px;
$tablet: 768px;
$laptop: 991px;
$desktop: 1200px;


@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: $laptop) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}

