* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: "Roboto";
  font-weight: 400;
  color: $mainColor;
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 70px;

  @include desktop {
    max-width: 980px;
  }

  @include laptop {
    max-width: 760px;
    padding: 0 15px;
  }

  @include tablet {
    max-width: 100%;
    padding: 0 15px;
    padding-left: 80px;
    padding-right: 40px;
  }
}

.wrapper {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 262px;
  height: 40px;
  margin: auto;
  text-decoration: none;
  background-color: $contrastColor;
  font-size: 14px;
  font-weight: 400;
  color: #0b3757;
  transition: 0.2s;
  cursor: pointer;

  @include mobile {
    width: 100%;
  }

  &:hover {
    background-color: $contrastColor + 20;
  }

  &-bold {
    font-weight: 700;
  }

  &-emty {
    background-color: transparent;
    font-weight: 500;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border: 1px solid #fec303;
    color: #fec303;
    transition: 0.3s;

    &-gray {
      background: transparent;
      border: 1px solid $mainColor;
      color: $mainColor;

      &:hover {
        background: $mainColor;
        color: #ffffff;
      }
    }

    &:hover {
      color: $mainColor;
      background-color: $contrastColor;
    }
  }
}

.section {
  padding: 70px 0;

  @include tablet {
    padding: 40px 0;
  }

  .container {
    position: relative;
  }
}

.float-header {
  position: absolute;
  right: 70px;
  top: -10px;

  @include tablet {
    top: -140px;
    right: 50px;
  }

  @include mobile {
    position: relative;
    right: -70px;
  }

  &--left {
    left: 70px;

    @include tablet {
      left: 110px;
    }
  }

  span {
    position: relative;
    display: block;
    flex-shrink: 0;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1.29px;
    color: #fff;
    z-index: 2;

    @include desktop {
      font-size: 31px;
    }

    @include laptop {
      font-size: 26px;
    }

    @include tablet {
      font-size: 36px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: -23px;
      height: 67px;
      width: 294px;
      background-color: #0b3757;
      z-index: -1;

      @include desktop {
        height: 60px;
        width: 280px;
      }

      @include laptop {
        height: 55px;
        width: 260px;
      }

      @include tablet {
        height: 68px;
        width: 290px;
      }
    }
    &:first-child {
      font-weight: 400;
      z-index: 3;

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: -70px;
        height: 61px;
        width: 261px;
        background-color: #0b3757;
        z-index: -1;

        @include desktop {
          height: 55px;
          width: 245px;
        }

        @include laptop {
          height: 50px;
          width: 240px;
        }

        @include tablet {
          height: 55px;
          width: 261px;
          left: -80px;
        }
      }
    }
  }
}

.section .container .section-top {
  @include desktop {
    width: 60%;
  }

  @include laptop {
    width: 56%;
  }

  @include tablet {
    width: 100%;
  }

  @include mobile {
    margin-top: 20px;
  }
}

.section-header {
  font-size: 54px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 28px;
  letter-spacing: -1.93px;
  line-height: 63px;
  color: #0b3757;

  @include desktop {
    font-size: 49px;
    line-height: 50px;
  }

  @include laptop {
    font-size: 41px;
    line-height: 44px;
  }

  @include tablet {
    font-size: 50px;
    line-height: 58px;
  }

  @include mobile {
    font-size: 36px;
  }

  span {
    display: block;
    font-weight: 400;
  }
}

.section__description {
  color: #0b3757;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
}

.input {
  height: 40px;
  border: 1px solid #d1dbe3;
  background-color: #ffffff;
  padding-left: 15px;
  font-size: 14px;
  color: #9dafbd;
  letter-spacing: -0.32px;

  &.error {
    border: 1px solid #F24841;
    color: #F24841;

    &::placeholder {
      color: #F24841;
    }
  }

  &::placeholder {
    font-family: Roboto;
    color: #9dafbd;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.32px;
  }
}

textarea.textarea {
  padding-top: 22px;

  &.error {
    border: 1px solid #F24841;
    color: #F24841;

    &::placeholder {
      color: #F24841;
    }
  }
}
