//@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap";
@font-face {
  font-family: 'uni_sansbold';
  src: url('./assets/fonts/_unisans-bold-webfont.woff2') format('woff2'),
  url('./assets/fonts/_unisans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'uni_sansthin_caps';
  src: url('./assets/fonts/unisans_thincaps-webfont.woff2') format('woff2'),
  url('./assets/fonts/unisans_thincaps-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html {
  line-height:1.15;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%
}

h1 {
  font-size:2em;
  margin:.67em 0
}

dl dl,dl ol,dl ul,ol dl,ul dl {
  margin:0
}

ol ol,ol ul,ul ol,ul ul {
  margin:0
}

hr {
  box-sizing:content-box;
  height:0;
  overflow:visible
}

main {
  display:block
}

pre {
  font-family:monospace,monospace;
  font-size:1em
}

a {
  background-color:transparent
}

abbr[title] {
  text-decoration:underline;
  text-decoration:underline dotted
}

b,strong {
  font-weight:bolder
}

code,kbd,samp {
  font-family:monospace,monospace;
  font-size:1em
}

small {
  font-size:80%
}

img {
  border-style:none
}

svg:not(:root) {
  overflow:hidden
}

button,input,select {
  margin:0
}

button {
  overflow:visible;
  text-transform:none
}

button,[type="button"],[type="reset"],[type="submit"] {
  -webkit-appearance:button
}

fieldset {
  padding:.35em .75em .625em
}

input {
  overflow:visible
}

legend {
  box-sizing:border-box;
  color:inherit;
  display:table;
  max-width:100%;
  white-space:normal
}

progress {
  display:inline-block;
  vertical-align:baseline
}

select {
  text-transform:none
}

textarea {
  margin:0;
  overflow:auto
}

[type="checkbox"],[type="radio"] {
  box-sizing:border-box;
  padding:0
}

[type="search"] {
  -webkit-appearance:textfield;
  outline-offset:-2px
}

::-webkit-inner-spin-button,::-webkit-outer-spin-button {
  height:auto
}

::-webkit-input-placeholder {
  color:inherit;

}

::-webkit-search-decoration {
  -webkit-appearance:none
}

::-webkit-file-upload-button {
  -webkit-appearance:button;
  font:inherit
}

::-moz-focus-inner {
  border-style:none;
  padding:0
}

:-moz-focusring {
  outline:1px dotted ButtonText
}

:-moz-ui-invalid {
  box-shadow:none
}

details {
  display:block
}

dialog {
  background-color:#fff;
  border:solid;
  color:#000;
  display:block;
  height:-moz-fit-content;
  height:-webkit-fit-content;
  height:fit-content;
  left:0;
  margin:auto;
  padding:1em;
  position:absolute;
  right:0;
  width:-moz-fit-content;
  width:-webkit-fit-content;
  width:fit-content
}

dialog:not([open]) {
  display:none
}

summary {
  display:list-item
}

template {
  display:none
}

[hidden] {
  display:none
}

* {
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}

::before,::after {
  -webkit-box-sizing:border-box;
  box-sizing:border-box
}

html {
  font-size:14px
}

body {
  font-family:"Roboto";
  font-weight:400;
  color:#0b3757;
  margin:0
}

img {
  max-width:100%
}

.container {
  width:100%;
  max-width:1280px;
  margin:0 auto;
  padding:0 70px
}

@media (max-width: 1200px) {
  .container {
    max-width:980px
  }
}

@media (max-width: 1024px) {
  .container {
    /* max-width:760px; */
    /* padding:0 15px */
  }
}

@media (max-width: 767px) {
  .container {
    max-width:100%;
    padding:0 15px;
    /* padding-left:80px; */
    /* padding-right:40px */
  }
}

.wrapper {
  position:relative;
  min-height:100vh;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between;
  overflow:hidden
}

.btn {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  width:262px;
  height:40px;
  margin:auto;
  text-decoration:none;
  background-color:#efb803;
  font-size:14px;
  font-weight:400;
  /* TEST */

  font-size:16px;
  color:#0b3757;
  -webkit-transition:.2s;
  transition:.2s;
  cursor:pointer
}

@media (max-width: 540px) {
  .btn {
    /* width:100%; */
  }
}

.btn:hover {
  background-color:#ffcc17
}

.btn-bold {
  font-weight:700
}

.btn-emty {
  background-color:transparent;
  font-weight:500;
  -webkit-box-shadow:0 10px 20px rgba(0,0,0,0.2);
  box-shadow:0 10px 20px rgba(0,0,0,0.2);
  border:1px solid #fec303;
  color:#fec303;
  -webkit-transition:.3s;
  transition:.3s;
}

.btn-emty-gray {
  background:transparent;
  border:1px solid #0b3757;
  color:#0b3757
}

.btn-emty-gray:hover {
  background:#0b3757;
  color:#fff
}

.btn-emty:hover {
  color:#0b3757;
  background-color:#efb803
}

.section {
  padding:70px 0
}

@media (max-width: 767px) {
  .section {
    padding: 40px 0 60px 0;
  }
  .section-solutions {
    padding-top: 165px;
  }
  .btn {
    /* width:100%; */
    margin-bottom: 45px;
    font-size: 18px;
    text-align: center;
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

.section .container {
  position:relative;
  /* overflow: hidden; */
  /* box-sizing: border-box; */
}

.float-header {
  position:absolute;
  right:70px;
  top:-10px;
}

@media (max-width: 767px) {
  .float-header {
    top: -125px;
    right:50px;
  }
}

@media (max-width: 540px) {
  .float-header {
    /* position:relative; */
    right: 70px;
  }
  .section-why-us .float-header {
    right: 20px;
  }

}

.float-header--left {
  left:70px
}

@media (max-width: 767px) {
  .float-header--left {
    left: 60px;
  }
}

.float-header span {
  position:relative;
  display:block;
  -ms-flex-negative:0;
  flex-shrink:0;
  font-size:36px;
  font-weight:700;
  letter-spacing:-1.29px;
  color:#fff;
  z-index: 2;
}

@media (max-width: 1200px) {
  .float-header span {
    /* font-size:31px */
  }
}

@media (max-width: 1024px) {
  .float-header span {
    /* font-size:26px */
  }
}

@media (max-width: 767px) {
  .float-header span {
    font-size: 24px;
    z-index: 3;
  }
  .float-header span:first-child{

    margin-bottom: 10px;
  }

}

.float-header span::after {
  content:"";
  position:absolute;
  bottom:-10px;
  left:-23px;
  height:67px;
  width:294px;
  background-color:#0b3757;
  z-index:-1
}

@media (max-width: 1200px) {
  .float-header span::after {
    /* height:60px; */
    /* width:280px */
  }
}

@media (max-width: 1024px) {
  .float-header span::after {
    /* height:55px; */
    width: 240px;
  }
}

@media (max-width: 767px) {
  .float-header span::after {
    height: 55px;
    width: 190px;
    bottom: -15px;
    left: -23px;
    z-index: -1;
  }
}

.float-header span:first-child {
  font-weight:400;
  z-index: 3;
}

.float-header span:first-child:after {
  content:"";
  position:absolute;
  bottom:0;
  left:-70px;
  height:61px;
  width:261px;
  background-color:#0b3757;
  z-index:-1
}

@media (max-width: 1200px) {
  .float-header span:first-child:after {
    /* height:55px; */
    /* width:245px */
  }
}

@media (max-width: 1024px) {
  .float-header span:first-child:after {
    /* height:50px; */
    width:240px;
    left: -50px;
  }
}

@media (max-width: 767px) {
  .float-header span:first-child:after {
    height: 55px;
    width: 165px;
    left: -40px;
    bottom: -18px;
  }
}

@media (max-width: 1200px) {
  .section .container .section-top {
    width: 77%;
  }

}

@media (max-width: 1023px) {
  .section .container .section-top {
    /* width:56% */
  }
  img.why-us-logos-item.why-us-logos-item-mob, img.why-us-logos-item.why-us-logos-item-desc  {
    display: none;
  }
  img.why-us-logos-item.why-us-logos-item-tab{
    display: block !important;
    margin: 0;
  }
}

@media (max-width: 767px) {
  .section .container .section-top {
    width:100%;
    margin-top: 0;
  }
}

@media (max-width: 540px) {
  .section .container .section-top {
    /* margin-top:20px; */
  }
}

.section-header {
  font-size:54px;
  font-weight:700;
  margin-top:0;
  margin-bottom:28px;
  letter-spacing:-1.93px;
  line-height:63px;
  color:#0b3757
}

@media (max-width: 1200px) {
  .section-header {
    font-size:49px;
    line-height:50px
  }
}

@media (max-width: 1024px) {
  .section-header {
    /* font-size: 37px; */
    /* line-height:44px; */
  }
}

@media (max-width: 767px) {
  .section-header {
    font-size:50px;
    line-height: 40px;
    margin-top: 15px;
    text-align: left;
  }
}

@media (max-width: 540px) {
  .section-header {
    font-size: 36px;
  }
}

.section-header span {
  display:block;
  font-weight:400
}

.section__description {
  color:#0b3757;
  font-size: 16px;
  /* TEST */
  font-size: 18px;
  line-height: 25px;
  margin-bottom:0;
}
.page-template-template-about .section__description {
  font-size: 18px;
  line-height: 27px;
}
.input {
  height:40px;
  border:1px solid #d1dbe3;
  background-color:#fff;
  padding-left:15px;
  font-size:14px;
  color: #547389;
  letter-spacing:-.32px;
}

.input.error {
  border:1px solid #F24841;
  color:#F24841
}

.input.error::-webkit-input-placeholder {
  color:#F24841
}

.input.error::-moz-placeholder {
  color:#F24841
}

.input.error:-ms-input-placeholder {
  color:#F24841
}

.input.error::-ms-input-placeholder {
  color:#F24841
}

.input.error::placeholder {
  color:#F24841
}

.input::-webkit-input-placeholder {
  font-family:Roboto;
  color: #547389;
  font-size:14px;
  font-weight:400;
  letter-spacing:-.32px
}

.input::-moz-placeholder {
  font-family:Roboto;
  color: #547389;
  font-size:14px;
  font-weight:400;
  letter-spacing:-.32px
}

.input:-ms-input-placeholder {
  font-family:Roboto;
  color: #547389;
  font-size:14px;
  font-weight:400;
  letter-spacing:-.32px
}

.input::-ms-input-placeholder {
  font-family:Roboto;
  color: #547389;
  font-size:14px;
  font-weight:400;
  letter-spacing:-.32px
}

.input::placeholder {
  font-family:Roboto;
  color: #547389;
  font-size:14px;
  font-weight:400;
  letter-spacing:-.32px
}

textarea.textarea {
  padding-top:22px
}

textarea.textarea.error {
  border:1px solid #F24841;
  color:#F24841
}

textarea.textarea.error::-webkit-input-placeholder {
  color:#F24841
}

textarea.textarea.error::-moz-placeholder {
  color:#F24841
}

textarea.textarea.error:-ms-input-placeholder {
  color:#F24841
}

textarea.textarea.error::-ms-input-placeholder {
  color:#F24841
}

textarea.textarea.error::placeholder {
  color:#F24841
}

header {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:90px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  padding-top:30px;
  padding-bottom:10px;
  z-index:99999;
  -webkit-transition:.3s;
  transition:.3s;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  background-image:-webkit-gradient(linear,left top,left bottom,from(#0b3757),to(rgba(2,11,17,0)));
  background-image:linear-gradient(180deg,#0b3757 0%,rgba(2,11,17,0) 100%)
}

@media (max-width: 1024px) {
  header {
    padding-right:40px
  }
}
@media (max-width: 767px) {
  header {
    padding-right: 0;
    padding-top: 10px;
  }
}
header.header.scroll {
  background-color:#07273d;
  min-height:60px;
  padding-top:30px;
  padding-bottom:30px
}

header .container {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between
}

@media (max-width: 1024px) {
  header .container {
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
  }
}

.header-menu-block {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center
}

.top-menu__langs {
  margin-left:30px;
  cursor:pointer;
  padding-right:10px;
  background-image:url(226beb3c361f8268cb17d4dfaf9d7c29.svg);
  background-repeat:no-repeat;
  background-position:98% center
}

.top-menu__contacts {
  margin-left:13px
}

.top-menu__contacts:hover .header-btn {
  color:#0b3757
}

.top-menu ul {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  list-style:none;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
  -ms-flex-direction:row;
  flex-direction:row;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center
}

.top-menu ul li {
  margin-right:13px;
  color:#febb03
}

.top-menu ul li ul {
  position:absolute;
  width:70px;
  height:auto;
  padding:10px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  opacity:0;
  visibility:hidden;
  background:#0b3757;
  border:1px solid #fec303;
  -webkit-box-shadow:0 2px 4px rgba(0,0,0,0.05);
  box-shadow:0 2px 4px rgba(0,0,0,0.05);
  -webkit-transition:.2s;
  transition:.2s;
  cursor:default
}

.top-menu ul li:hover>ul,.top-menu ul li ul:hover {
  visibility:visible;
  opacity:1
}

.top-menu ul li ul li {
  width:100%;
  margin:0;
  padding:5px 10px;
  padding-left:0
}

.top-menu ul li.active a {
  position:relative;
  border:1px solid #fec303;
  color:#febb03
}

.top-menu ul li.active a::after {
  content:"";
  position:absolute;
  left:-3px;
  top:50%;
  -webkit-transform:translateY(-50%);
  transform:translateY(-50%);
  width:5px;
  height:13px;
  background-color:#efb803
}

.top-menu ul li:last-child {
  margin-right:0
}

.top-menu ul li a {
  color:#fff;
  text-decoration:none;
  line-height:16px;
  letter-spacing:-.5px;
  padding:5px 11px 5px 8px;
  -webkit-transition:.2s;
  transition:.2s
}

.top-menu ul li a:hover {
  color:#febb03
}

.header-right {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  margin-left:50px
}

@media (max-width: 1024px) {
  .header-right {
    margin-left:0
  }
}

.change-lang {
  margin-right:28px
}

@media (max-width: 540px) {
  .change-lang {
    display:none
  }
}

.change-lang select {
  position:relative;
  font-family:"Roboto";
  border:none;
  background-color:transparent;
  color:#efb803;
  font-size:14px;
  text-transform:uppercase;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  outline:none;
  padding-right:10px;
  background-image:url(226beb3c361f8268cb17d4dfaf9d7c29.svg);
  background-repeat:no-repeat;
  background-position:98% center
}

.change-lang select option {
  color:#0b3757
}

.change-lang select::-ms-expand {
  display:none
}

.header-btn {
  width:162px
}

@media (max-width: 540px) {
  .header-btn {
    width:140px;
    height:35px
  }
}

.footer {
  -webkit-box-shadow:0 2px 4px rgba(0,0,0,0.05);
  box-shadow:0 2px 4px rgba(0,0,0,0.05);
  background-color:#0b3757;
  padding-top:80px;
  padding-bottom:60px
}

@media (max-width: 767px) {
  .footer {
    padding-top:100px;
    padding-bottom: 170px;
  }
}

.footer .container {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between
}

@media (max-width: 767px) {
  .footer .container {
    -ms-flex-wrap:wrap;
    flex-wrap:wrap
  }
}

.footer-logo-block {
  width:35%
}

@media (max-width: 767px) {
  .footer-logo-block {
    width: 100%;
    -webkit-box-ordinal-group:2;
    -ms-flex-order:1;
    order:1;
    text-align:left;
    margin-bottom: 75px;
  }
}

.footer-copy {
  margin-top:16px;
  color:#9dafbd;
  font-size:14px;
  font-weight:300;
  letter-spacing:-.32px
}

@media (max-width: 767px) {
  .footer-copy {
    margin-top: 0;
    position: absolute;
    bottom: 100px;
    color: #ffffff;
  }
}

.footer-copy span {
  display:block
}

.footer-nav {
  width:35%
}

@media (max-width: 767px) {
  .footer-nav {
    display:none
  }
}

.footer-nav ul {
  margin:0;
  padding:0;
  list-style:none;
  margin-bottom:10px
}

@media (max-width: 767px) {
  .footer-nav ul {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:space-evenly;
    -ms-flex-pack:space-evenly;
    justify-content:space-evenly
  }
}

.footer-nav ul li a {
  color:#d1dbe3;
  text-decoration:none;
  font-size:14px;
  font-weight:400;
  letter-spacing:-.39px;
  line-height:26px
}

.footer-contact {
  width:30%
}

@media (max-width: 767px) {
  .footer-contact {
    -webkit-box-ordinal-group:3;
    -ms-flex-order:2;
    order:2;
    width: 100%;
    text-align:left;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    width: 100% !important;
    /* font-size: 24px; */
    color: #ffffff;
  }
}

.footer__address {
  color:#9dafbd;
  font-size:14px;
  line-height:24px;
  margin-bottom:45px;
  margin-top:0
}

@media (max-width: 767px) {
  .footer__address {
    -webkit-box-ordinal-group:2;
    -ms-flex-order:1;
    order:1
  }
}

.footer__address .address-line {
  display:block;
  white-space:nowrap
}

@media (max-width: 1024px) {
  .footer__address .address-line {
    font-size:14px;
    display:block;
    white-space:normal
  }
}

@media (max-width: 767px) {
  .footer__address {
    margin-bottom: 20px;
    font-size:12px;
    line-height:1.3;
    color: #ffffff;
  }
}

.footer__tel {
  color:#9dafbd;
  text-decoration:none;
  font-size:14px;
  line-height:30px;
  margin-bottom:20px;
  display:block
}

@media (max-width: 767px) {
  .footer__tel {
    margin-top: 18px;
    font-size: 24px !important;
    font-weight:700;
    -webkit-box-ordinal-group:4;
    -ms-flex-order:3;
    order:3;
    margin-top: 20px !important;
    color: #ffffff;
  }
}

.footer__mail {
  font-size:14px;
  color:#9dafbd;
  line-height:30px;
  text-decoration:none
}

@media (max-width: 767px) {
  .footer__mail {
    margin-top:20px;
    -webkit-box-ordinal-group:3;
    -ms-flex-order:2;
    order:2;
    color: #ffffff;
  }
}

.burger {
  display:none
}
.float-header-desc{
  display: none;
}
@media (max-width: 1024px) {
  .burger {
    position:absolute;
    right:80px;
    display:block;
    width:30px;
    height:30px
  }

  .burger.active span {
    width:0
  }

  .burger.active span:after {
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
    top:0
  }

  .burger.active span:before {
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
    top:0
  }

  .burger span {
    position:absolute;
    top:50%;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    width:30px;
    height:2px;
    background-color:#efb803;
    -webkit-transition:.2s;
    transition:.2s
  }

  .burger span::after {
    content:"";
    position:absolute;
    width:30px;
    height:2px;
    bottom:-10px;
    background:#efb803;
    -webkit-transition:.3s;
    transition:.3s
  }

  .burger span::before {
    content:"";
    position:absolute;
    width:30px;
    height:2px;
    top:-10px;
    background:#efb803;
    -webkit-transition:.3s;
    transition:.3s
  }
}
@media (max-width: 767px) {
  .burger {

    right: 15px;
  }
}
@media (max-width: 1024px) {
  .top-menu__langs-selected:hover {
    display:none
  }

  .top-menu {
    position:absolute;
    top:90px;
    left:-580px;
    background-color:#0b3757;
    height:auto;
    -webkit-transition:.3s;
    transition:.3s;
    width:180px
  }

  .top-menu__langs {
    background-position:88% center
  }

  .top-menu.active {
    width:100%;
    top:90px;
    left:0
  }

  .top-menu.active:before {
    content:" ";
    background:rgba(11,55,97,0.8);
    position:absolute;
    height:100vh;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:-1
  }

  .top-menu ul {
    margin:0;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    padding:0;
    background:#0B3757
  }

  .top-menu ul li {
    position:relative;
    width:100%;
    min-height:60px;
    margin:0;
    margin-top:10px;
    padding-bottom:10px;
    padding-right:0;
    border-bottom:1px solid #9DAFBD
  }

  .top-menu ul li.top-menu__langs {
    padding-bottom:0
  }

  .top-menu ul li ul {
    width:100%;
    background:#0B3757
  }

  .top-menu ul li:hover>ul,.top-menu ul li ul:hover {
    position:static;
    padding:0;
    margin:0;
    border:none
  }

  .top-menu ul li:hover>ul li:last-child,.top-menu ul li ul:hover li:last-child {
    border-bottom:none
  }

  .top-menu ul li.top-menu__contacts {
    height:130px
  }

  .top-menu ul li.top-menu__contacts a {
    min-width:285px;
    padding:0;
    margin-top:40px;
    margin-bottom:0;
    font-weight:400;
    border:1px solid #efb803
  }

  .top-menu ul li.active a {
    position:absolute;
    border:none
  }

  .top-menu ul li.active a:after {
    display:none
  }

  .top-menu ul li a {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    border:none;
    padding:0;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:80px
  }
}

.close {
  display:none;
  width:20px;
  height:20px;
  cursor:pointer
}

@media (max-width: 1024px) {
  .close {
    display:block;
    position:absolute;
    right:5px;
    top:5px
  }
}

.close:after {
  content:"";
  position:absolute;
  top:50%;
  -webkit-transform:translateY(-50%) rotate(45deg);
  transform:translateY(-50%) rotate(45deg);
  width:15px;
  height:2px;
  background-color:#fff
}

.close:before {
  content:"";
  position:absolute;
  top:50%;
  -webkit-transform:translateY(-50%) rotate(-45deg);
  transform:translateY(-50%) rotate(-45deg);
  width:15px;
  height:2px;
  background-color:#fff
}

.change-lang.change-lang-mobile {
  display:none
}

@media (max-width: 540px) {
  .change-lang.change-lang-mobile {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    margin:auto
  }
}

.breadcrumbs {
  margin-top:75px
}

@media (max-width: 540px) {
  .breadcrumbs {
    margin-top:25px
  }
}

.breadcrumbs-list {
  margin:0;
  padding:0;
  list-style:none;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex
}

.breadcrumbs-list li {
  margin-right:15px
}

.breadcrumbs-list li a {
  position:relative;
  display:inline-block;
  font-size:14px;
  text-decoration:none;
  color:#0b3757
}

@media (max-width: 540px) {
  .breadcrumbs-list li a {
    font-size:12px
  }
}

.breadcrumbs-list li a:after {
  content:"/";
  position:absolute;
  right:-10px
}

.breadcrumbs-list li span {
  color:#efb803;
  font-size:14px
}

@media (max-width: 767px) {
  .breadcrumbs-list li span {
    font-size:12px
  }
}

[contenteditable]:empty:before {
  display:block;
  color:#cdd7dd;
  content:attr(placeholder)
}

.modal__mask {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(52,73,94,0.8);
  z-index:14000;
  visibility:hidden;
  opacity:0;
  -webkit-transition:.7s;
  transition:.7s
}

.modal__container {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  z-index:15000;
  position:absolute;
  width:100%;
  height:auto;
  top:0;
  left:0;
  visibility:hidden;
  opacity:0
}

.modal__container.active {
  visibility:visible;
  opacity:1;
  -webkit-transform:translateY(0);
  transform:translateY(0)
}

.modal__window {
  width:100%;
  min-width:300px;
  max-width:745px;
  min-height:400px;
  margin:auto;
  border-radius:10px;
  background:#EEE;
  -webkit-transition:.5s ease-out;
  transition:.5s ease-out;
  -webkit-transform:translateY(45px);
  transform:translateY(45px)
}

.modal__content {
  padding:60px 95px 70px 100px
}

.modal__content .section-modal-form {
  margin-top:40px
}

.modal__content .section-modal-form .contact-column {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column
}

.modal__content .section-modal-form .contact-column input {
  width:100%;
  margin-bottom:10px;
  color:#0b3757
}

.modal__content .section-modal-form .contact-column input::-webkit-input-placeholder {
  color: #547389;
}

.modal__content .section-modal-form .contact-column input::-moz-placeholder {
  color: #547389;
}

.modal__content .section-modal-form .contact-column input:-ms-input-placeholder {
  color: #547389;
}

.modal__content .section-modal-form .contact-column input::-ms-input-placeholder {
  color: #547389;
}

.modal__content .section-modal-form .contact-column input::placeholder {
  color: #547389;
}

.modal__content .section-modal-form .contact-column .modal__text {
  width:100%;
  min-height:135px;
  padding-top:20px;
  padding-left:15px;
  margin-bottom:30px;
  font-size:14px;
  color:#0b3757;
  background:#fff;
  border:1px solid #d1dbe3
}

.modal__content .section-modal-form .contact-column .contact__label {
  display:block
}

.modal__content .section-modal-form .contact__buttons {
  margin-top:30px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
  -ms-flex-direction:row;
  flex-direction:row
}

.modal__content .section-modal-form .contact__buttons button {
  max-width:260px;
  margin:0
}

.modal__button-close {
  position:absolute;
  padding:0;
  top:30px;
  right:30px;
  width:40px;
  height:40px;
  border:none;
  background:transparent;
  cursor:pointer
}

.modal__button-close img {
  width:20px;
  height:20px
}

.close_modal {
  position:absolute;
  padding:0;
  top:0;
  right:0;
  border-radius:0;
  width:40px;
  height:40px;
  background-color:#2fc2e2;
  background:linear-gradient(93deg,#5ec19c 0%,#2fc2e2 100%);
  color:#393a38;
  cursor:pointer
}

.mask {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(52,73,94,0.8);
  z-index:14000;
  visibility:hidden;
  opacity:0;
  -webkit-transition:.7s;
  transition:.7s
}

.modal-container {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  z-index:15000;
  position:absolute;
  width:100%;
  height:auto;
  top:0;
  left:0;
  visibility:hidden;
  opacity:0
}

.modal {
  width:100%;
  min-width:300px;
  max-width:1000px;
  min-height:400px;
  margin:auto;
  background:#fff;
  -webkit-transition:.5s ease-out;
  transition:.5s ease-out;
  -webkit-transform:translateY(45px);
  transform:translateY(45px)
}

.modal_html {
  padding:50px
}

.active {
  visibility:visible;
  opacity:1
}

.active+.modal-container {
  visibility:visible;
  opacity:1;
  -webkit-transform:translateY(0);
  transform:translateY(0)
}

.section-hero {
  position:relative;
  min-height:772px;
  background-image:-webkit-gradient(linear,left top,left bottom,from(#0b3757),color-stop(25%,rgba(2,11,17,0))),url(5defdae14e0380bd1a318bcca731fc35.jpg);
  background-image:linear-gradient(180deg,#0b3757 0%,rgba(2,11,17,0) 25%),url(5defdae14e0380bd1a318bcca731fc35.jpg);
  background-repeat:no-repeat;
  background-size:cover
}

@media (max-width: 767px) {
  .section-hero {
    min-height:670px;
    background-position: 68%;
  }
}

.section-hero::after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(11,55,87,0.7);
  -webkit-box-shadow:0 2px 4px rgba(0,0,0,0.05);
  box-shadow:0 2px 4px rgba(0,0,0,0.05)
}

.hero-main {
  position:relative;
  margin-top:245px;
  padding-left:40px;
  z-index:10
}

@media (max-width: 767px) {
  .hero-main {
    margin-top: 115px;
  }
}

@media (max-width: 540px) {
  .hero-main {
    padding:20px 10px
  }
}

.hero-main:after {
  content:"";
  position:absolute;
  right:0;
  top:-30px;
  display:block;
  width:70.6%;
  height:140%;
  border:2px solid rgba(255,255,255,0.34)
}

@media (max-width: 1200px) {
  .hero-main:after {
    width:60%
  }
}

@media (max-width: 1024px) {
  .hero-main:after {
    width:55%;
    height:120%
  }
}

@media (max-width: 767px) {
  .hero-main:after {
    width:50%;
    height:400px;
    display: none;
  }
}

@media (max-width: 540px) {
  .hero-main:after {
    top:0;
    height:100%
  }
}

.hero__header {
  position:relative;
  font-size:36px;
  color:#efb803;
  font-weight:400;
  margin-top:0;
  margin-bottom:30px;
  z-index:1;
  line-height:1.2;
  letter-spacing:-.81px
}

@media (max-width: 767px) {
  .hero__header {
    font-size:30px;
    margin-bottom: 35px;
  }
}

.hero__header span {
  display:block;
  font-size:70px;
  /* font-size:54px; */
  font-weight:700;
  font-family: 'uni_sansbold';
}
span.bold-font {
  font-family: 'uni_sansthin_caps';
  display: inline-block;
  color: white;
}
@media (max-width: 767px) {
  .hero__header span {
    font-size:55px;
    margin-bottom: 15px;
  }
}

@media (max-width: 540px) {
  .hero__header span {
    font-size:54px
  }
}

.hero__desc {
  position:relative;
  width:49%;
  font-size:18px;
  letter-spacing:-.5px;
  line-height:26px;
  color:#fff;
  margin-bottom:44px;
  z-index:1
}

@media (max-width: 1200px) {
  .hero__desc {
    width:70%
  }
}

@media (max-width: 767px) {
  .hero__desc {
    width:100%;
    margin-bottom: 70px;
  }
}

.btn-hero {
  margin:0;
  position:relative;
  z-index:100;
  border:none
}

.section-mirea {
  position:relative;
  background-color:#eee
}

.section-mirea .float-header span:first-child::after {
  width:296px
}

@media (max-width: 1024px) {
  .section-mirea .float-header span:first-child::after {
    width:250px
  }
}

@media (max-width: 1024px) and (max-width: 540px) {
  .section-mirea .float-header span:first-child::after {
    width:210px
  }
}

.section-mirea .section-top {
  width:50%
}

@media (max-width: 540px) {
  .section-mirea .section-top {
    width:100%
  }
}

.section-mirea .section-header {
  width:63%
}

@media (max-width: 540px) {
  .section-mirea .section-header {
    width:100%
  }
}

.section-mirea .section-header-full {
  width:100%
}

.section-mirea__row {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
  -ms-flex-direction:row;
  flex-direction:row
}

@media (max-width: 540px) {
  .section-mirea__row {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    text-align: left !important;
  }
}

.section-mirea__logo {
  min-width:300px;
  -ms-flex-preferred-size:25%;
  flex-basis:25%
}

@media (max-width: 540px) {
  .section-mirea__logo {
    text-align:center;
    -ms-flex-preferred-size:100%;
    flex-basis:100%;
    min-width:auto;
    width:100%
  }
}

.section-mirea__description {
  width:auto
}

@media (max-width: 540px) {
  .section-mirea__description {
    width:100%
  }
}

.section-why-us {
  background-color:#eee
}

@media (max-width: 767px) {
  .section-why-us {
    padding-top: 150px;
  }
}

.section-why-us .container:after {
  content:"";
  position:absolute;
  left:-150px;
  top:120px;
  width:203px;
  height:278px;
  border:2px solid #d1dbe3
}

.section-why-us .container:before {
  content:"";
  position:absolute;
  left:-200px;
  top:330px;
  width:216px;
  height:203px;
  border:2px solid #efb803
}

.section-why-us .section-top {
  width:65%
}
@media (max-width: 767px) {
  .section-why-us .container:after,.section-why-us .container:before{
    display: none;
  }
}

.why-us-list {
  margin-top:90px;
  padding:0 20px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between
}

@media (max-width: 1200px) {
  .why-us-list {
    margin-top:70px
  }
}

@media (max-width: 1024px) {
  .why-us-list {
    padding:0;
    flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .why-us-list {
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-direction:row;
    flex-direction:row;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-top: 60px;
    margin-bottom: 30px;
  }
}

.why-us-item {
  width:28%
}

@media (max-width: 1024px) {
  .why-us-item {
    width: 45%;
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .why-us-item {
    -webkit-box-flex:0;
    -ms-flex:0 50%;
    flex: 0 100%;
    width: 100%;
    margin-bottom: 55px;
    text-align: center;
    padding: 0 40px;
  }
}

.why-us-item__header {
  font-size:36px;
  font-weight:700;
  margin-top:30px;
  margin-bottom:15px
}

@media (max-width: 1200px) {
  .why-us-item__header {
    font-size:26px;
    margin-top:30px
  }
}

@media (max-width: 767px) {
  .why-us-item__header {
    font-size:30px;
    margin-top: 30px;
    line-height:38px;
  }
}

.why-us-item__desc {
  font-size:16px;
  /* TEST */
  font-size: 18px;
  line-height:24px;
  margin-bottom:0
}

.why-us-logos {
  display:-webkit-box;
  display:-ms-flexbox;
  display: block;
  -ms-flex-wrap:wrap;
  /* flex-wrap:wrap; */
  /* -webkit-box-pack:center; */
  -ms-flex-pack:center;
  /* justify-content:center; */
  margin-top: 70px;
}

@media (max-width: 540px) {
  .why-us-logos {
  }
}

.why-us-logos-item {
  margin:0 40px;
  /* margin:0 55px; */
  margin-top:20px;
  /* transform: scale(1.3); */
}
img.why-us-logos-item.why-us-logos-item-tab,img.why-us-logos-item.why-us-logos-item-mob {
  display:none;
}
@media (max-width: 767px) {
  .why-us-logos-item {
    margin:0 15px;
    margin-top:20px
  }
}

@media (max-width: 767px) {
  .why-us-logos-item {
    /* margin: 0 40px; */
    margin-top:20px;
    /* width: 90%; */
  }
  img.why-us-logos-item.why-us-logos-item-desc, img.why-us-logos-item.why-us-logos-item-tab{
    display: none !important;
  }
  img.why-us-logos-item.why-us-logos-item-mob {
    display: block;
    margin: 0;
  }
}

@media (max-width: 540px) {
  .why-us-logos-item {
    /* width:26%; */
  }
}

.why-us-img-wrapp svg {
  fill:#efb803
}

@media (max-width: 767px) {
  .section-solutions {
    padding-top: 165px;
  }
}

.section-solutions .section-top {
  width:58%;
  margin-left:auto
}

.section-solutions .container:after {
  content:"";
  position:absolute;
  left:-60px;
  top:370px;
  width:203px;
  height:228px;
  border:2px solid #d1dbe3;
  z-index:-1
}

.section-solutions .container:before {
  content:"";
  position:absolute;
  left:-225px;
  top:150px;
  width:253px;
  height:278px;
  border:2px solid #efb803;
  z-index:-1
}

.section-solutions .container .s-solution-frame-base-1:before {
  content:"";
  position:absolute;
  right:-200px;
  bottom:10px;
  width:176px;
  height:106px;
  border:2px solid #efb803;
  z-index:-1
}
@media (max-width: 767px) {
  .section-solutions .container .s-solution-frame-base-1:before,.section-solutions .container:before, .section-solutions .container:after {
    display: none;
  }
}
.section-solutions .section-header {
  width:100%;
  margin-left:auto;
  font-size:54px;
  line-height:58px
}

@media (max-width: 767px) {
  .section-solutions .section-header {
    font-size: 36px;
    line-height: 37px;
    margin-top: 0;
  }
}

@media (max-width: 540px) {
  .section-solutions .section-header {
    width:100%
  }
}

.solutions-list {
  margin:70px 0;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap
}

.solutions-item {
  position:relative;
  width:33.3%;
  height:220px;
  padding:30px 15px;
  border:1px solid #d1dbe3;
  background:#fff;
  text-align:center;
  -webkit-transition:.3s;
  transition:.3s
}

.solutions-item:hover {
  background-color:#efb803;
  border-color:#efb803
}

.solutions-item a {
  text-decoration:none;
  color:#0b3757;
  font-weight: bold;
}

.solutions-item a:after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:10
}

.solutions-item .svg-icon {

  -webkit-transition:.3s;
  transition:.3s
}



@media (max-width: 767px) {
  .solutions-item {
    width: 100%;
  }
}

@media (max-width: 540px) {
  .solutions-item {
    /* padding:15px; */
    height:initial;
    min-height: 170px;
  }
}

.solutions-item-img-wrapp {
  margin-bottom:25px
}

@media (max-width: 540px) {
  .solutions-item-img-wrapp {
    margin-bottom:15px
  }
}

.solutions-item-img-wrapp img {
  height:71px
}

@media (max-width: 540px) {
  .solutions-item-img-wrapp img {
    height:50px
  }
}

.solutions-item__title {
  display:block;
  margin:auto;
  width:90%;
  font-size:18px;
  color:#0b3757;
  font-weight:400;
  letter-spacing:-.5px;
  line-height:26px
}

@media (max-width: 1200px) {
  .solutions-item__title {
    width:90%
  }
}

@media (max-width: 540px) {
  .solutions-item__title {
    width:100%;
    /* font-size: 16px; */
    line-height:1.3;
  }
}

.btn-solution {
  margin:auto
}

.section-clients {
  background-color:#eee
}

@media (max-width: 767px) {
  .section-clients {
    padding-top: 160px;
  }
}

.section-clients.white-bg {
  background-color:#fff
}

.section-clients.no-padding {
  padding:0
}

.section-clients .section-top {
  width:65%
}

.section-clients .section-top-full {
  width:100%
}

.clients-list {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  margin: 70px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .clients-list {
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-direction:row;
    flex-direction:row;
    margin-bottom:0
  }
}

.clients-item {
  padding-left: 20px;
  border-left:8px solid #efb803;
  margin-right: 25px;
  margin-bottom: 70px;
  width: 31%;
  flex-shrink: 1;
  flex-flow: column;
}

@media (max-width: 1200px) {
  .clients-item {
    margin-right:30px;
    border-width:5px
  }
}

@media (max-width: 1024px) {
  .clients-item {
    margin-right:15px;
    padding-left:15px;
    width: 45%;
  }
}

@media (max-width: 767px) {
  .clients-item {
    -webkit-box-flex:0;
    -ms-flex:0 50%;
    flex: 0 100%;
    margin-right:0;
    margin-bottom:70px;
    padding-bottom: 10px;
    border-bottom:none;
    border-left: 10px solid #efb803;
  }
}

.clients-item__title {
  margin-top:0;
  margin-bottom: 15px;
  color:#0b3757;
  font-size: 35px;
  font-weight:700;
}

@media (max-width: 1200px) {
  .clients-item__title {
    font-size:28px
  }
}

@media (max-width: 767px) {
  .clients-item__title {
    width: 80%;
    font-size:30px;
    margin-bottom: 20px;
  }
}

.clients-item__subtitle {
  font-size:16px;
  font-size: 24px;
  font-weight: bold;
  line-height:24px;
  color:#0b3757;
  /* white-space:nowrap; */
}

.clients-slider-wrapp {
  margin-bottom:70px;
}

@media (max-width: 767px) {
  .clients-item__subtitle {
    width: 100%;
    display:block;
    white-space:normal;
  }
  .clients-slider-wrapp{

    margin-bottom: 90px;
  }
}



.container-client-slider {
  padding-top:190px
}

@media (max-width: 767px) {
  .container-client-slider {
    padding-top:0;
    margin-top: 115px;
  }
}

.container-client-slider .float-header {
  top:50px
}

@media (max-width: 767px) {
  .container-client-slider .float-header {
    top: -140px;
    right:80px;
  }
}

.clients-slider .slick-arrow {
  position:absolute;
  top:50%;
  width:25px;
  height:25px;
  border:none;
  border-top:3px solid #9dafbd;
  border-left:3px solid #9dafbd;
  background-color:transparent;
  font-size:0;
  outline:none;
  cursor:pointer
}

.clients-slider .slick-next {
  right:-20px;
  -webkit-transform:translate(-50%) rotate(135deg);
  transform:translate(-50%) rotate(135deg)
}

@media (max-width: 767px) {
  .clients-slider .slick-next {
    right: -10px;
    top: initial;
    bottom: -65px;
  }
}

.clients-slider .slick-prev {
  left: -20px;
  -webkit-transform:translate(-50%) rotate(-45deg);
  transform:translate(-50%) rotate(-45deg);
}

@media (max-width: 767px) {
  .clients-slider .slick-prev {
    left: 15px;
    bottom: -65px;
    top: initial;
  }
}

.clients-slider-dots {
  margin-top:40px
}

.clients-slider-dots .slick-dots {
  padding:0;
  margin:0;
  list-style:none;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center
}

.clients-slider-dots .slick-dots li {
  margin-right:15px
}

.clients-slider-dots .slick-dots li:last-child {
  margin-right:0
}

.clients-slider-dots .slick-dots li.slick-active button {
  border-color:#000
}

.clients-slider-dots .slick-dots li button {
  width:30px;
  height:10px;
  background-color:transparent;
  border:none;
  border-bottom:1px solid #9dafbd;
  font-size:0;
  outline:none;
  cursor:pointer
}

.clients-slider-item {
  width:100%;
  display:-webkit-box!important;
  display:-ms-flexbox!important;
  display:flex!important;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content: space-between;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  align-items: center;
  margin-bottom: -70px;
}

.clients-slider-item img {
  margin: 0;
}
.img-wrp {
  margin-bottom: 40px;
  width: 22%;
  margin-bottom: 70px;
}
.clients-slider-item img:nth-child(4n+4){
  margin-right: 0;
}
@media (max-width: 767px) {
  .clients-slider-item img {
    /* margin: 10px 10px; */
    /* width: 25%; */
  }
}

@media (max-width: 540px) {
  .clients-slider-item img {
    /* width: 30%; */
  }
}

.clients-slider-item.clients-slider-item-about img {
  /* margin:50px; */
  /* margin-top:25px; */
  /* margin-bottom:25px */
}

@media (max-width: 767px) {
  .clients-slider-item.clients-slider-item-about img {
    /* margin:10px 15px; */
  }
}

@media (max-width: 540px) {
  .clients-slider-item.clients-slider-item-about img {
    /* width:22% */
  }
}

.section-projects {
  position:relative
}

@media (max-width: 767px) {
  .section-projects {
    padding-top: 140px !important;
  }
}

.section-projects:before {
  content:"";
  position:absolute;
  bottom:10%;
  left:-100px;
  display:block;
  width:178px;
  height:107px;
  border:2px solid #d1dbe3
}

.section-projects .container {
  position:relative
}

.section-projects .container .s-projects-frame-1:before {
  content:"";
  position:absolute;
  display:block;
  top:25%;
  right:-250px;
  width:243px;
  height:279px;
  border:2px solid #d1dbe3;
  z-index:-1
}

.section-projects .container:after {
  position:absolute;
  content:"";
  top:0;
  right:-200px;
  width:347px;
  height:279px;
  border:2px solid #efb803;
  z-index:-1
}

.section-projects .float-header span::after {
  width:383px
}

@media (max-width: 1200px) {
  .section-projects .float-header span::after {
    width:373px
  }
}

@media (max-width: 1024px) {
  .section-projects .float-header span::after {
    width:340px
  }
}
@media (max-width: 767px) {
  .section-projects .float-header span::after {

    width: 245px;
  }
  .section-projects .container:after, .section-projects:before {

    display: none;
  }
}
.section-projects .float-header span:first-child:after {
  width:364px
}

@media (max-width: 1200px) {
  .section-projects .float-header span:first-child:after {
    width:354px
  }
}

@media (max-width: 1024px) {
  .section-projects .float-header span:first-child:after {
    width:324px
  }
}
@media (max-width: 767px) {
  .section-projects .float-header span:first-child:after {
    width: 215px;
    bottom: -15px;
  }
}
.projects-list {
  padding-top:165px;
  padding-bottom:40px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between
}

@media (max-width: 767px) {
  .projects-list {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    padding-top:0;
    padding-top: 0;
  }
}

@media (max-width: 540px) {
  .projects-list {
    padding-top: 0;
  }
}

.projects-item {
  position:relative;
  top:0;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  -webkit-box-pack:end;
  -ms-flex-pack:end;
  justify-content:flex-end;
  background-position:center;
  background-size:cover;
  height:300px;
  margin-bottom:30px;
  padding-left:30px;
  padding-bottom:30px;
  padding-right:45px;
  -webkit-transition:.2s;
  transition:.2s;
}

@media (max-width: 1024px) {
  .projects-item {
    padding-left:20px;
    padding-right:15px
  }
}

@media (max-width: 767px) {
  .projects-item {
    height:250px;
    padding-left:30px;
    margin-bottom:15px
  }
}

@media (max-width: 540px) {
  .projects-item {
    height:initial;
    min-height: 350px;
    padding-top:15px;
    padding-left: 15px;
  }
}

.projects-item:hover {
  top:-5px
}

.projects-item:nth-child(1) {
  background-image:url(4fe04ef3e80922e797d8c950cf6912ef.jpg);
  width:32%
}

@media (max-width: 767px) {
  .projects-item:nth-child(1) {
    width:100%;
  }
}

@media (max-width: 540px) {
  .projects-item:nth-child(1) {
    width:100%
  }
}

.projects-item:nth-child(2) {
  background-image:url(f724b3b3dfacbf135b2225bb0cf05c0b.jpg);
  width:66%;
  background-position: 70%;
}

@media (max-width: 767px) {
  .projects-item:nth-child(2) {
    width:100%
  }
}

@media (max-width: 540px) {
  .projects-item:nth-child(2) {
    width:100%
  }
}

.projects-item:nth-child(3) {
  background-image:url(5d6ff120b46d4d8deb62b397fb897143.jpg);
  width:66%
}

@media (max-width: 767px) {
  .projects-item:nth-child(3) {
    width:100%
  }
}

@media (max-width: 540px) {
  .projects-item:nth-child(3) {
    width:100%
  }
}

.projects-item:after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:block;
  background-image:-webkit-gradient(linear,left bottom,left top,from(#0b3757),to(rgba(2,11,17,0.25)));
  background-image:linear-gradient(to top,#0b3757 0%,rgba(2,11,17,0.25) 100%)
}

.projects-buttons {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
  -ms-flex-direction:row;
  flex-direction:row;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center
}

.projects-buttons a {
  margin-left:10px;
  margin-right:10px
}

.projects-buttons__all {
  display:none
}

@media (max-width: 767px) {
  .projects-buttons__all {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    margin-bottom: 10px;
  }
  .projects-buttons {
    flex-wrap: wrap;
  }
}

.projects-item-all {
  position:relative;
  top:0;
  background-color:#efb803;
  height:300px;
  width:32%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  -webkit-transition:.2s;
  transition:.2s
}

@media (max-width: 767px) {
  .projects-item-all {
    display:none;
    width:45%
  }
}

@media (max-width: 540px) {
  .projects-item-all {
    width:100%;
    height:150px
  }
}

.projects-item-all:hover {
  top:-5px
}

.projects-item-all img {
  display:block;
  margin-bottom:40px
}

@media (max-width: 540px) {
  .projects-item-all img {
    margin-bottom:10px;
    width:60px
  }
}

.projects-item-all a {
  color:#0b3757;
  letter-spacing:-.5px;
  line-height:26px;
  font-size:18px;
  font-weight:400;
  font-weight: bold;
  text-decoration:none;
}

.projects-item-all a:after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0
}

.projects-title__link {
  text-decoration:none;
  color:#efb803;
  /* font-weight: bold; */
}

.projects-title__link:hover {
  text-decoration:underline
}

.projects-title__link:hover+.projects-description {
  text-decoration:underline
}

.projects-title__link:after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:2
}

.projects-title {
  position:relative;
  color:#efb803;
  letter-spacing:-.5px;
  line-height:26px;
  font-size:18px;
  font-weight:400;
  font-weight: bold;
  margin:0;
  margin-bottom:15px;
  z-index:1;
}

.projects-description {
  position:relative;
  margin:0;
  font-size:14px;
  font-size: 16px;
  color:#fff;
  line-height:16px;
  z-index:1;
}

.section-team {
  position:relative;
  background-color:#eee
}

@media (max-width: 767px) {
  .section-team {
    padding-top: 160px;
    padding-bottom: 40px;
  }
  .projects-title br {

    display: none;
  }
}

.section-team.white-bg {
  background-color:#fff
}

.section-team.no-top-padding {
  padding-top:0
}

.section-team.about-page:after {
  display:none
}

.section-team .float-header span:first-child::after {
  width:296px
}

@media (max-width: 1024px) {
  .section-team .float-header span:first-child::after {
    width:300px;
  }
}

@media (max-width: 1024px) and (max-width: 540px) {
  .section-team .float-header span:first-child::after {
    width: 180px;
  }
  .section-team .float-header span::after{

    width: 200px;
  }
}

.section-team .section-top {
  width:65%
}

@media (max-width: 540px) {
  .section-team .section-top {
    width:100%
  }
}

.section-team .section-header {
  width:100%
}

@media (max-width: 540px) {
  .section-team .section-header {
    width:100%
  }
}

.section-team .section-header-full {
  width:100%
}

.team-list:after {
  content:"";
  position:absolute;
  top:35%;
  left:-80px;
  display:block;
  width:278px;
  height:247px;
  border:2px solid #d1dbe3;
}

.team-list:before {
  content:"";
  position:absolute;
  left:-10px;
  top:45%;
  width:203px;
  height:285px;
  border:2px solid #efb803;
}

.team-list .team-inner-frame {
  position:relative;
  margin:70px -15px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
}

.team-list .team-inner-frame:before {
  position:absolute;
  content:"";
  top:-35px;
  right:-110px;
  width:203px;
  height:279px;
  border:2px solid #d1dbe3
}

@media (max-width: 1024px) {
  .team-list .team-inner-frame {
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    margin-top: 50px;
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .team-list .team-inner-frame {
    margin:70px 0;
    margin-bottom:30px;
    justify-content: center;
  }
  .team-list {
    margin-top: 70px;
  }
  .team-list:after,.team-list:before,.team-list .team-inner-frame:before,.team-list .team-inner-frame:after{

    display: none !important;

  }
}

@media (max-width: 540px) {
  .team-list .team-inner-frame {
    margin:40px 0
  }
}

.team-item {
  position:relative;
  background-color:#fff;
  border:1px solid #d1dbe3;
  width:25%;
  min-height:390px;
  margin:0 15px;
  z-index:1;
  padding:50px 15px 25px;
  text-align: center;
}

@media (max-width: 1200px) {
  .team-item {
    margin:0 7px
  }
}

@media (max-width: 1024px) {
  .team-item {
    width: 47%;
    margin: 0;
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .team-item {
    width: 90%;
    margin:0;
    margin-bottom: 20px;
    padding-top: 50px;
    padding-left:20px;
    padding-right:20px;
    min-height:390px;
  }
}

@media (max-width: 540px) {
  .team-item {
    width: 90%;
  }
}



.team-item.team-item-about .team__name {
  min-height:auto
}

.team-item-img-wrapp {
  width:80px;
  height:80px;
  border-radius:50%;
  overflow:hidden;
  margin-bottom:30px;
  text-align: center;
  margin: 0 auto 30px auto;
}
@media (max-width: 767px) {
  .team-item-img-wrapp {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 540px) {
  .team-item-img-wrapp {
    width: 80px;
    height: 80px;
  }
}

.team-item-img-wrapp img {
  width:100%;
  height:100%;
  -o-object-fit:cover;
  object-fit:cover;
}

.team__name {
  color:#0b3757;
  font-size: 16px;
  font-weight:700;
  letter-spacing:-.32px;
  line-height:16px;
  display:block;
}
@media (max-width: 767px) {
  .team__name {
    margin-bottom: 5px;
  }
}
@media (max-width: 540px) {
  .team__name {
    font-size:16px
  }
}

.team__profession {
  font-size: 14px;
  color:#0b3757;
  font-weight:400;
  letter-spacing:-.27px;
  line-height:14px;
  text-align:center;
  margin: 10px 0 25px 0;
  display: block;
}

@media (max-width: 540px) {
  .team__profession {
    font-size: 16px;
  }
}

.team__description {
  color: #547389;
  font-size: 13px;
  line-height:16px;
  text-align:left;
  text-align: center;
}
.team-list.team-list-about  .team__description {
  margin: 5px 0;
}
@media (max-width: 540px) {
  .team__description {
    /* line-height: 1.3; */
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .team__description {
    line-height: 1.3;
    font-size: 15px;
  }
}

.section-contact {
  background:url(a9aa80e196851712340094a579512a86.jpg) center no-repeat;
  background-size:cover;
  padding-bottom:0
}

@media (max-width: 767px) {
  .section-contact {
    padding-top: 120px;
  }
}

@media (max-width: 767px) {
  .section-contact .section-header span {
    display:inline
  }
}

.section-contact .float-header span:first-child::after {
  width:296px
}

@media (max-width: 1024px) {
  .section-contact .float-header span:first-child::after {
    width:280px
  }
}

@media (max-width: 1024px) and (max-width: 540px) {
  .section-contact .float-header span:first-child::after {
    width: 170px;
  }
}

.contact-main {
  margin-top:40px;
  padding:70px 0;
  background-color:rgba(238,238,238,0.7)
}

@media (max-width: 540px) {
  .contact-main {
    padding:40px 0
  }
}

.contact-main .container {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap
}

@media (max-width: 1024px) {
  .contact-form-block {
    width:100%
  }
}

.contact-form-block .btn {
  width:260px;
  margin-top:30px;
  margin-left:0;
  -webkit-box-shadow:initial;
  box-shadow:initial
}

@media (max-width: 1200px) {
  .contact-form-block .btn {
    width:240px
  }
}

@media (max-width: 1024px) {
  .contact-form-block .btn {
    width:50%;
    margin:auto;
    margin-top:20px
  }
}

@media (max-width: 767px) {
  .contact-form-block .btn {
    width:50%;
    margin:auto;
    margin-top: 60px;
    width: 262px;
    font-weight: bold;
  }
}

@media (max-width: 540px) {
  .contact-form-block .btn {
    /* width:100% */
    width: 262px;
  }
}

.contact-inputs {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  margin-bottom:30px
}

@media (max-width: 767px) {
  .contact-inputs {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column
  }
}

@media (max-width: 540px) {
  .contact-inputs {
    -ms-flex-wrap:wrap;
    flex-wrap:wrap
  }
}

.contact-row {
  margin-right:30px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
}

@media (max-width: 1200px) {
  .contact-row {
    margin-right:15px
  }
}

@media (max-width: 1024px) {
  .contact-row {
    width:50%
  }
}

@media (max-width: 767px) {
  .contact-row {
    width:100%;
    margin-right:0;
    margin-bottom:10px
  }
}

@media (max-width: 540px) {
  .contact-row {
    width:100%;
    margin-right:0
  }
}

.contact-row:last-child {
  margin-right:0
}

.contact-row .input {
  width:260px;
  margin-bottom:10px
}

@media (max-width: 1200px) {
  .contact-row .input {
    width:240px
  }
}

@media (max-width: 1024px) {
  .contact-row .input {
    width:100%
  }
}

@media (max-width: 767px) {
  .contact-row .input {
    width:100%
  }
}

.contact-row .input:last-child {
  margin-bottom:0
}

.contact-row .textarea {
  height:100%;
  width:358px;
  margin-bottom:0;
  resize:none;
  border:1px solid #d1dbe3;
  background-color:#fff;
  padding-left:15px;
  font-size:14px;
  color: #547389;
  letter-spacing:-.32px;
}

@media (max-width: 1200px) {
  .contact-row .textarea {
    width:310px
  }
}

@media (max-width: 1024px) {
  .contact-row .textarea {
    width:100%;
    min-height:130px
  }
}

@media (max-width: 767px) {
  .contact-row .textarea {
    margin-top: 0;
    height:150px;
  }
}
@media (max-width: 540px) {
  .contact-row .textarea {
    margin-top: 0px;
    height: 130px;
  }
}
.contact-row .textarea::-webkit-input-placeholder {
  font-family:Roboto;
  color: #547389;
  font-size:14px;
  font-weight:400;
  letter-spacing:-.32px
}

.contact-row .textarea::-moz-placeholder {
  font-family:Roboto;
  color: #547389;
  font-size:14px;
  font-weight:400;
  letter-spacing:-.32px
}

.contact-row .textarea:-ms-input-placeholder {
  font-family:Roboto;
  color: #547389;
  font-size:14px;
  font-weight:400;
  letter-spacing:-.32px
}

.contact-row .textarea::-ms-input-placeholder {
  font-family:Roboto;
  color: #547389;
  font-size:14px;
  font-weight:400;
  letter-spacing:-.32px
}

.contact-row .textarea::placeholder {
  font-family:Roboto;
  color: #547389;
  font-size:14px;
  font-weight:400;
  letter-spacing:-.32px
}

.contact-info {
  width:30%
}

@media (max-width: 767px) {
  .contact-info {
    display:none
  }
}

@media (max-width: 1024px) {
  .contact-info {
    width:100%;
    margin-top:20px;
    text-align:center;
    display: none;
  }
}

.contact__label {
  color:#0b3757;
  font-size:14px;
  letter-spacing:-.32px;
  line-height:16px
}

@media (max-width: 540px) {
  .contact__label {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
  }
}

.contact__label input {
  margin-right:15px
}

.contact__address {
  font-size:18px;
  margin:0;
  line-height:30px;
  margin-bottom:30px
}

.contact__mail {
  font-size:18px;
  display:block;
  text-decoration:none;
  color:#0b3757;
  margin-bottom:40px
}

.contact__tel {
  text-decoration:none;
  font-size:36px;
  font-weight:700;
  color:#0b3757
}

@media (max-width: 1200px) {
  .contact__tel {
    font-size:28px
  }
}

.section-others {
  position:relative;
  padding-top:70px;
  padding-bottom:80px;
  background-image:url(b24ea13551d0e483fa327f4ad76b6cb8.jpg);
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat
}

.section-others:after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(11,55,87,0.7)
}

.others__title {
  position:relative;
  font-size:36px;
  font-weight:700;
  letter-spacing:-1.29px;
  line-height:43px;
  color:#efb803;
  z-index:10;
  margin-top:0;
  margin-bottom:40px
}

@media (max-width: 540px) {
  .others__title {
    /* font-size:24px; */
    line-height:1.2;
  }
}

.others__title span {
  display:block;
  font-weight:400
}

.others-list {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex
}

@media (max-width: 540px) {
  .others-list {
    -ms-flex-wrap:wrap;
    flex-wrap:wrap
  }
}

.others-item {
  position:relative;
  width:33.3%;
  min-height:218px;
  border:1px solid #d1dbe3;
  background-color:#fff;
  z-index:10;
  text-align:center;
  padding:0 10px;
  padding-top:31px
}

@media (max-width: 540px) {
  .others-item {
    width:100%
  }
}

.others-item a {
  display:block;
  text-decoration:none;
  margin-top:25px;
  font-size:18px;
  color:#0b3757;
  letter-spacing:-.5px;
  font-weight: bold;
}

.others-item a:after {
  content:"";
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0
}

.text-page .header {
  height:99px;
  background-image:initial;
  background-color:#07273d;
  -webkit-box-shadow:0 2px 4px rgba(0,0,0,0.05);
  box-shadow:0 2px 4px rgba(0,0,0,0.05);
  padding-top:0;
  padding-bottom:0;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center
}

.text-page .content {
  padding-top:99px
}

.text-page-top {
  margin-top: 30px;
}

.text-page-top .container {
  position:relative
}

.text-page-top .container:after {
  content:"";
  position:absolute;
  top:40px;
  right:-100px;
  display:block;
  width:193px;
  height:176px;
  border:2px solid #efb803
}

@media (max-width: 1024px) {
  .text-page-top .container:after {
    display:none
  }
}

.text-page-top .container:before {
  content:"";
  position:absolute;
  top:120px;
  right:-20px;
  display:block;
  width:158px;
  height:141px;
  border:2px solid #d1dbe3
}

@media (max-width: 1024px) {
  .text-page-top .container:before {
    display:none
  }
}

.text-page-top img {
  position:absolute;
  width:180px;
  right:160px;
  top:0
}

@media (max-width: 1024px) {
  .text-page-top img {
    right:0;
    width:150px;
    display: none;
  }
}

@media (max-width: 767px) {
  .text-page-top img {
    width:100px
  }
}

@media (max-width: 540px) {
  .text-page-top img {
    width:50px;
    right:15px
  }
}

.text-page-header {
  width:65%
}

@media (max-width: 767px) {
  .text-page-header {
    width:80%
  }
}

@media (max-width: 540px) {
  .text-page-header {
    width:100%
  }
}

.text-page-header h1 {
  margin:0;
  margin-bottom: 30px;
  color:#0b3757;
  font-size:54px;
  font-weight:400;
  letter-spacing:-1.93px;
  line-height:63px;
}

@media (max-width: 1024px) {
  .text-page-header h1 {
    font-size:51px
  }
}

@media (max-width: 767px) {
  .text-page-header h1 {
    font-size:43px
  }
}

@media (max-width: 540px) {
  .text-page-header h1 {
    /* width:calc(100% - 60px); */
    line-height:1.1;
    font-size:36px;
  }
}

.text-page-header p {
  font-size: 16px;
  margin:0;
  color:#0b3757;
  line-height:24px;
}

.text-page-main {
  position:relative;
  margin-top: 16px;
  padding-bottom: 60px;
}

.text-page-main:after {
  content:"";
  position:absolute;
  left:-170px;
  bottom:40%;
  width:211px;
  height:232px;
  border:2px solid #efb803
}

@media (max-width: 1024px) {
  .text-page-main:after {
    display:none
  }
}

.text-page-main::before {
  content:"";
  position:absolute;
  left:-100px;
  bottom:30%;
  width:169px;
  height:189px;
  border:2px solid #d1dbe3
}

@media (max-width: 1024px) {
  .text-page-main::before {
    display:none
  }
}

.text-page-main h3 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight:700;
  line-height:30px;
  color:#0b3757;
  width: 84%;
}

@media (max-width: 767px) {
  .text-page-main h3 {
    /* font-size: 23px; */
    width:100%;
    /* margin-bottom: 60px; */
  }
}

@media (max-width: 540px) {
  .text-page-main h3 {
  }
}

.text-page-main hr {
  border:1px solid #D1DBE3;
  border-collapse:collapse;
  margin-top: 20px;
  margin-bottom: 16px;
}

.text-page-main p {
  font-size: 16px;
  line-height: 24px;
  width: 83%;
}

.text-page-main ul {
  margin:0;
  margin-bottom: 16px;
  padding:0;
  list-style:none;
}

.text-page-main ul li {
  position:relative;
  padding-left:30px;
  color:#0b3757;
  font-size: 16px;
  font-weight:400;
  line-height:24px;
  margin-bottom: 7.5px;
  width: 83%;
}

.text-page-main ul li:last-child {
  margin-bottom:0
}

.text-page-main ul li:after {
  content:"";
  position:absolute;
  left:0;
  top: 8px;
  display:block;
  width: 5px;
  height: 5px;
  background-color:#0e3f67;
  border-radius:50%;
}

.text-page-main ul li ul {
  margin: 7px 0;
}

.text-page-main ul li ul li {
  padding-left: 25px;
}

.text-page-main ul li ul li:after {
  width: 10px;
  height: 1px;
  border-radius: 0;
  top: 10px;
}

.text-page-buttons {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  margin-top: 52px;
}

@media (max-width: 540px) {
  .text-page-buttons {
    -ms-flex-wrap:wrap;
    flex-wrap:wrap
  }
}

.text-page-buttons .btn {
  margin:0 15px
}

@media (max-width: 540px) {
  .text-page-buttons .btn {
    /* width:100%; */
    /* margin:0 */
    margin-bottom: 35px;
  }
}

.text-page-buttons .btn-emty {
  border:1px solid #0b3757;
  color:#0b3757;
  -webkit-box-shadow:none;
  box-shadow:none;
  -webkit-transition:.2s;
  transition:.2s
}

@media (max-width: 540px) {
  .text-page-buttons .btn-emty {
    /* width:100%; */
    margin-top:15px;
    margin-bottom: 0;
  }
}

.text-page-buttons .btn-emty:hover {
  -webkit-box-shadow:0 10px 20px rgba(0,0,0,0.2);
  box-shadow:0 10px 20px rgba(0,0,0,0.2);
  background-color:#fff
}

.page-banner {
  position:relative;
  padding-top: 160px;
  background-position:center;
  background-size:cover;
}

.page-banner::after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:block;
  background-color:rgba(11,55,87,0.7);
  -webkit-box-shadow:0 2px 4px rgba(0,0,0,0.05);
  box-shadow:0 2px 4px rgba(0,0,0,0.05);
  z-index:0
}

.page-top {
  position:relative;
  z-index:1
}

.page-title {
  color:#efb803;
  font-size:54px;
  font-weight:700;
  letter-spacing:-1.93px;
  line-height:63px;
  margin:0;
  margin-bottom:30px
}

.page-title.success {
  color:#66D844
}

.page-title.error {
  color:#F24841
}

@media (max-width: 1024px) {
  .page-title {
    font-size: 54px;
  }
}

@media (max-width: 767px) {
  .page-title {
    font-size:37px;
    line-height:45px
  }
}

@media (max-width: 540px) {
  .page-title {
    font-size:34px;
    line-height:38px
  }
}

.page-title span {
  font-weight:400;
  display:block
}

.page-description {
  width:67%;
  margin:0;
  color:#fff;
  font-size:18px;
  line-height:26px
}

@media (max-width: 1024px) {
  .page-description {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .page-description {
    width:100%
  }
}

.solutions-page .page-banner {
  background-image:url(31b19a4f8f18a1f9811f3b83529f8634.jpg);
  min-height:630px
}

.p-solutions-container {
  position:relative
}

.p-solutions-container:after {
  content:"";
  position:absolute;
  left:-140px;
  top:34%;
  width:153px;
  height:168px;
  border:2px solid #efb803
}

@media (max-width: 1024px) {
  .p-solutions-container:after {
    left:-190px
  }
}

.p-solutions-container:before {
  content:"";
  position:absolute;
  left:-200px;
  top:31%;
  width:122px;
  height:137px;
  border:2px solid #d1dbe3
}

@media (max-width: 1200px) {
  .p-solutions-container:before {
    left:-150px
  }
}

.p-solutions-list {
  position:relative;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  margin-top:-185px;
  padding-bottom:147px
}

.p-solutions-list:after {
  content:"";
  position:absolute;
  right:-200px;
  top:44%;
  width:125px;
  height:137px;
  border:2px solid #efb803
}

@media (max-width: 1024px) {
  .p-solutions-list:after {
    right:-150px
  }
}

.p-solutions-list:before {
  content:"";
  position:absolute;
  right:-140px;
  top:41%;
  width:100px;
  height:112px;
  border:2px solid #d1dbe3
}

@media (max-width: 1200px) {
  .p-solutions-list:before {
    right:-190px
  }
}

.p-solutions-item {
  position:relative;
  width:33.3%;
  background-color:#fff;
  border:1px solid #d1dbe3;
  min-height:464px;
  -webkit-transition:.3s;
  transition:.3s;
  overflow:hidden;
  padding:70px 32px 125px
}

@media (max-width: 1024px) {
  .p-solutions-item {
    min-height: 280px;
    width: 100%;
    padding: 70px 15px 100px 140px;
  }
}

@media (max-width: 540px) {
  .p-solutions-item {
    width:100%
  }
}

@media (max-width: 1024px) {
  .p-solutions-item:last-child {
    width:100%
  }
}

.p-solutions-item:hover {
  background-color:#efb803;
  border-color:#efb803
}

.p-solutions-item .svg-icon.svg-icon-hovered,
.solutions-item .svg-icon.svg-icon-hovered{
  display: none;
}
.p-solutions-item:hover .svg-icon,
.solutions-item:hover .svg-icon{
  display: none;
}
.p-solutions-item:hover .svg-icon.svg-icon-hovered,
.solutions-item:hover .svg-icon.svg-icon-hovered{
  display: inline-block;
}


.p-solutions-item:hover .square-btn {
  width:271px
}

.p-solutions-item:hover .square-btn span {
  opacity:1
}

.p-solutions-item .svg-icon {
  width:72px;
  fill:#efb803;
  -webkit-transition:.3s;
  transition:.3s
}

.p-solutions-item__title {
  margin-top:30px;
  margin-bottom:15px;
  font-size:18px
}

.p-solutions-item__title a {
  text-decoration:none;
  color:#0b3757;
  font-weight:700
}

.p-solutions-item__title a:after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:10
}

.p-solutions-item__description {
  margin:0;
  font-size:14px;
  line-height:16px;
  line-height: 18px;
  color:#0b3757;
}

.square-btn {
  position:absolute;
  right:20px;
  bottom:23px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  width:50px;
  height:50px;
  padding-left:30px;
  background-color:#0b3757;
  -webkit-transition:.3s;
  transition:.3s
}

.square-btn:after {
  content:"";
  position:absolute;
  right:0;
  top:calc(50% - 25px);
  display:block;
  width:50px;
  height:50px;
  background-image:url(082dab27359d659c8fac99808cffec71.svg);
  background-repeat:no-repeat;
  background-size:27px;
  background-position:left center;
  background-color:#0b3757
}

.square-btn span {
  font-size:14px;
  color:#fff;
  opacity:0;
  -webkit-transition:.3s;
  transition:.3s;
  white-space:nowrap
}

.projects-page .page-banner {
  background-image:url(796fc8354ef4e6dd19a4e4a3a976cb55.jpg);
  min-height:630px
}

@media (max-width: 767px) {
  .projects-page .page-banner {
    /* min-height:430px */
  }
}

.p-projects-frame-base-1:after {
  content:"";
  position:absolute;
  left:-170px;
  top:59%;
  width:153px;
  height:158px;
  border:2px solid #d1dbe3
}

.p-projects-frame-base-1:before {
  content:"";
  position:absolute;
  left:-200px;
  top:56%;
  width:132px;
  height:177px;
  border:2px solid #efb803
}

.p-projects-frame-base-2:after {
  content:"";
  position:absolute;
  right:-120px;
  top:78%;
  width:153px;
  height:210px;
  border:2px solid #d1dbe3
}

.p-projects-frame-base-2:before {
  content:"";
  position:absolute;
  right:-195px;
  top:73%;
  width:172px;
  height:250px;
  border:2px solid #efb803
}

.p-projects-frame-base-3:before {
  content:"";
  position:absolute;
  right:-120px;
  top:30%;
  width:110px;
  height:110px;
  border:2px solid #efb803
}

.p-projects-container {
  position:relative
}

.p-projects-container:after {
  content:"";
  position:absolute;
  left:-170px;
  top:14%;
  width:153px;
  height:158px;
  border:2px solid #d1dbe3
}

.p-projects-container:before {
  content:"";
  position:absolute;
  left:-200px;
  top:10%;
  width:132px;
  height:177px;
  border:2px solid #efb803
}

@media (max-width: 767px) {
  .p-projects-container {
    padding-top:30px
  }
}

.p-projects-row-group {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
  -ms-flex-direction:row;
  flex-direction:row;
  -ms-flex-wrap:nowrap;
  flex-wrap:nowrap;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between;
  -webkit-box-align:stretch;
  -ms-flex-align:stretch;
  align-items:stretch;
  -ms-flex-line-pack:stretch;
  align-content:stretch;
  margin-top:70px
}

.p-projects-row-group .p-projects-row {
  margin:0
}

@media (max-width: 767px) {
  .p-projects-row-group .p-projects-row {
    margin-bottom:10px
  }
}

@media (max-width: 767px) {
  .p-projects-row-group {
    margin:0;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column
  }
}

.p-projects-column {
  width:50%
}

.p-projects-column.grid {
  display:grid;


}

.p-projects-column .p-projects-row.top-offset-small {
  margin-top:10px
}

@media (max-width: 767px) {
  .p-projects-column .p-projects-row.top-offset-small {
    margin:0;
    margin-bottom:10px
  }
}

.p-projects-column .p-projects-row.top-offset-none {
  margin-top:0
}

.p-projects-column:first-child {
  margin-right:10px
}

.p-projects-column:last-child {
  margin-right:0
}

@media (max-width: 767px) {
  .p-projects-column {
    width:100%;
    margin:0
  }
}

.p-projects-row {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
  -ms-flex-direction:row;
  flex-direction:row;
  -ms-flex-wrap:nowrap;
  flex-wrap:nowrap;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between;
  -webkit-box-align:stretch;
  -ms-flex-align:stretch;
  align-items:stretch;
  -ms-flex-line-pack:stretch;
  align-content:stretch;
  margin-top:70px;
  min-height:270px;
}

.p-projects-row.column {
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column
}

@media (max-width: 767px) {
  .p-projects-row {
    min-height:auto;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    margin:0;
    margin-bottom:10px
  }
}

.p-projects-image {
  min-width:260px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  position:relative;
  background-color:#0B3757;
  border:none;
  min-height:90px;
  padding:20px;
  -webkit-transition:.3s;
  transition:.3s;
  overflow:hidden;
  margin-right:20px
}

.p-projects-image h2 {
  color:#EFB803;
  text-align:center;
  font-size:34px
}

.p-projects-image h2 span {
  display:block;
  margin-top:8px;
  color:#9dafbc;
  font-weight:400;
  font-size:18px
}

@media (max-width: 767px) {
  .p-projects-image h2 {
    margin:0;
    /* margin-right: 21%; */
  }
}

.p-projects-image.sticked {
  margin-right:0
}

@media (max-width: 1200px) {
  .p-projects-image {
    min-width:200px;
    margin-right:0
  }
}

@media (max-width: 767px) {
  .p-projects-image {
    margin:0
  }
}

.p-projects-item__group {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:start;
  -ms-flex-pack:start;
  justify-content:flex-start;
  -webkit-box-align:stretch;
  -ms-flex-align:stretch;
  align-items:stretch;
  -ms-flex-line-pack:stretch;
  align-content:stretch;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  -ms-flex-preferred-size:50%;
  flex-basis:50%;
  position:relative;
  min-height:90px;
  -webkit-transition:.3s;
  transition:.3s;
  overflow:hidden
}

.p-projects-item__group .p-projects-item {
  width:auto;
  margin-bottom:10px
}

.p-projects-item__group .p-projects-item:last-child {
  margin-bottom:0
}

@media (max-width: 767px) {
  .p-projects-item__group .p-projects-item {
    margin:0
  }
}

@media (max-width: 767px) {
  .p-projects-item__group {
    margin:0
  }
}

.p-projects-item__group-inside {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  margin-bottom:10px
}

.p-projects-item__group-inside>.p-projects-item {
  margin-bottom:0
}

.p-projects-item__group-inside:last-child {
  margin-bottom:0
}

@media (max-width: 767px) {
  .p-projects-item__group-inside {
    margin:0
  }
}

.p-projects-item__group-wide {
  -ms-flex-preferred-size:100%;
  flex-basis:100%;
  position:relative;
  min-height:90px;
  -webkit-transition:.3s;
  transition:.3s;
  overflow:hidden
}

.p-projects-item__group-wide>.p-projects-item {
  margin-bottom:10px
}

.p-projects-item__group-wide>.p-projects-item:last-child {
  margin-bottom:0
}

@media (max-width: 767px) {
  .p-projects-item__group-wide>.p-projects-item {
    margin:0
  }
}

.p-projects-free-space {
  height:100px
}

.p-projects-item {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  -ms-flex-preferred-size:50%;
  flex-basis:50%;
  position:relative;
  background-color:#EEE;
  border:1px solid #d1dbe3;
  min-height:90px;
  padding:20px;
  padding-right:10px;
  padding-bottom:50px;
  -webkit-transition:.3s;
  transition:.3s;
  overflow:hidden;
  margin-left:10px
}

.p-projects-item.border-top-none {
  border-top:none
}

.p-projects-item:hover .square-btn-gray {
  background-image:url(0379118ab1240475439a41cd962f08de.svg);
  background-repeat:no-repeat;
  background-size:27px;
  background-position:left center;
  background-color:transparent
}

.p-projects-item.sticked {
  -ms-flex-preferred-size:100%;
  flex-basis:100%;
  margin-left:0;
  border-left:none
}
.wpcf7-acceptance.error {
  display: block;
  border: 1px solid #F24841;
  color: #F24841;
}
.wpcf7-response-output {
  display: none !important;
}
@media (max-width: 767px) {
  .p-projects-item.sticked {
    border-left:1px solid #d1dbe3
  }
}

.p-projects-item:only-child {
  margin-left:0
}

@media (max-width: 1024px) {
  .p-projects-item:last-child {
    width:100%
  }
}

.p-projects-item:hover {
  background-color:#efb803;
  border-color:#efb803
}

.p-projects-item:hover .svg-icon {
  fill:#0b3757
}

.p-projects-item:hover .square-btn-gray span {
  opacity:1
}

.p-projects-item .svg-icon {
  width:72px;
  fill:#efb803;
  -webkit-transition:.3s;
  transition:.3s
}

@media (max-width: 767px) {
  .p-projects-item {
    padding:10px 5px 40px 10px;
    margin:0
  }
}

.p-projects-item__title {
  width:100%;
  font-size:18px;
  margin:0
}

.p-projects-item__title a {
  text-decoration:none;
  color:#0b3757
}

.p-projects-item__title a:after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:10
}

.square-btn-gray {
  position:absolute;
  right:0;
  bottom:0;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  width:50px;
  height:50px;
  background-color:transparent
}

.square-btn-gray:after {
  content:"";
  position:absolute;
  right:0;
  top:calc(50% - 25px);
  display:block;
  width:50px;
  height:50px;
  background-image:url(3e878239e360835dec92635c5e6459b5.svg);
  background-repeat:no-repeat;
  background-size:27px;
  background-position:left center;
  background-color:transparent
}

.about-page .page-banner {
  background-image:url(587d36801439126963323ec2614376f5.jpg);
  min-height:630px
}

.about-page .text-page-main:after {
  display:none
}

.about-page .text-page-main::before {
  display:none
}

.team-list-about:after {
  content:"";
  position:absolute;
  top: 30%;
  left:-30px;
  display:block;
  width:153px;
  height:200px;
  border:2px solid #d1dbe3;
}

.team-list-about:before {
  content:"";
  position:absolute;
  top:35%;
  left:20px;
  display:block;
  width:203px;
  height:205px;
  border:2px solid #efb803
}

.team-list-about .team-inner-frame:before {
  position:absolute;
  content:"";
  top:85%;
  right:-45px;
  width:103px;
  height:109px;
  border:2px solid #efb803
}

.team-list-about .team-inner-frame:after {
  position:absolute;
  content:"";
  top:78%;
  right:-80px;
  width:80px;
  height:90px;
  border:2px solid #d1dbe3
}

.contact-page .page-banner {
  background-image:url(1bcf99b9e1e0dcf69ab1e805f53a1c66.jpg);
  min-height: 640px;
}

@media (max-width: 767px) {
  .contact-page .page-banner {
    padding-bottom:60px
  }
}

.contact-page .p-contact-container {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;

}

@media (max-width: 767px) {
  .contact-page .p-contact-container {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    padding:0 15px
  }
}

.contact-page .p-contact-container .page-top {
  width:50%
}

@media (max-width: 767px) {
  .contact-page .p-contact-container .page-top {
    width:100%
  }
}

.contact-page .p-contact-container .contact-form-block {
  width:50%;
  position:relative;
  z-index:1
}

@media (max-width: 767px) {
  .contact-page .p-contact-container .contact-form-block {
    width:100%;
    margin-top:40px
  }
}

.contact-page .p-contact-container .contact-form-block .contact-form .contact-inputs .contact-row {
  width:100%
}

.contact-page .p-contact-container .contact-form-block .contact-form .contact-inputs .contact-row input {
  display:block;
  width:100%;
  height:100px;
  margin-bottom:15px;
  max-height: 61px;
}

@media (max-width: 540px) {
  .contact-page .p-contact-container .contact-form-block .contact-form .contact-inputs .contact-row input {
    height:50px
  }
}

.contact-page .p-contact-container .contact-form-block .contact-form .contact-inputs .contact-row textarea {
  display:block;
  width:100%
}

@media (max-width: 540px) {
  .contact-page .p-contact-container .contact-form-block .contact-form .contact-inputs .contact-row textarea {
    margin-top:0
  }
}

.contact-page .text-page-main:after {
  display:none
}

.contact-page .text-page-main::before {
  display:none
}

.contact-page .contact__label {
  color:#fff
}

.section-address {
  position:relative;
  background:url(a9aa80e196851712340094a579512a86.jpg) center no-repeat;
  background-size:cover;
  min-height:500px;
  padding-bottom:100px
}

.section-address__map {
  width:60%
}

@media (max-width: 767px) {
  .section-address__map {
    width:100%
  }
}

.section-address__contact-info {
  width:40%;
  font-size:18px;
  line-height:1.7em;
  padding-left:40px
}

@media (max-width: 767px) {
  .section-address__contact-info {
    width:100%;
    margin-top:40px;
    padding-left:0
  }
}

.section-address__contact-info .contact-info__image {
  margin-bottom:30px
}
span.wpcf7-form-control.wpcf7-acceptance {
  display: none !important;
}
@media (max-width: 767px) {
  .section-address__contact-info .contact-info__image {
    text-align:center
  }
}

.section-address__contact-info .contact-info__image img {
  width:150px;
  height:auto;
  border-radius:50%
}

@media (max-width: 767px) {
  .section-address__contact-info .contact-info__image img {
    width:50%
  }
}

.section-address__contact-info .contact-info__email a {
  text-decoration:none;
  color:#0b3757
}

.section-address__contact-info .contact-info__tel a {
  text-decoration:none;
  color:#0b3757
}
@media (max-width: 1400px){
  .modal__content {
    padding: 30px 40px;
  }

  .modal__window {
    min-width: 300px;
    max-width: 620px;
  }

  h1.section-header {
    font-size: 42px;
    margin-bottom: 0;
    line-height: 1.2;
  }

  .modal__content .section-modal-form {
    margin-top: 20px;
  }
  .why-us-item__header {
    font-size: 33px;
  }
  .solution-page .text-page-main:before, .solution-page .text-page-main:after {
    display:none;
  }
}
@media (max-width: 1200px) {
  .clients-slider .slick-prev {
    left: -30px;
  }

  .clients-slider .slick-next {
    right: -50px;
  }
  .text-page-main p{
    width:100%;
  }
  .text-page-main ul li {
    width: 100%;
  }
  .solutions-page .page-banner {
    min-height: 1024px;
    box-sizing: border-box;
  }

  .container.p-solutions-container {
    margin-top: -465px;
  }

  .p-solutions-item .svg-icon {
    position: absolute;
    top: 70px;
    left: 40px;
  }

  .p-solutions-item__title {
    margin-top: 0;
  }
  .text-page-top .container {
    max-width: 100%;
  }

  .text-page-header {
    width: 100%;
  }

  .text-page-main ul li br {
    display: none;
  }

  .text-page-main p br {
    display: none;
  }

  .footer-nav {
    display: none;
  }

  .footer-contact {
    width: 55%;
  }
  a.footer__tel {
    font-size: 36px;
    margin-top: 40px;
  }
  .about-page .page-banner {
    min-height: 645px;
  }
  .section-clients.no-padding  .slick-list.draggable {
    margin: 0px -10px;
  }

  .section-header span {
    /* margin-bottom: 20px; */
    margin-top: 50px;
  }


  .section-mirea__row {
    display: block;
    text-align: center;
  }

  .section-mirea .section-header {
    font-size: 36px;
  }

  .section-mirea__description p {
    font-size: 18px;
    text-align: left;
  }
  .section-mirea__logo img {
    width: 180px;
  }
  .contact-page .p-contact-container .page-top {
    width: 100%;
  }

  .contact-page .p-contact-container {
    display: block;
    max-width: none;
    padding: 0 70px;
  }

  p.page-description {
  }

  .contact-page .p-contact-container .contact-form-block {
    width: 100%;
  }

  .contact-page .p-contact-container .contact-form-block .contact-form .contact-inputs .contact-row input {
    height: 60px;
    margin-bottom: 10px;
  }

  .contact-page .contact-form-block .btn {
    margin-top: 60px;
  }



  .contact-page .page-banner {
    padding-bottom: 70px;
  }

  .section-address__map {
    width: 100%;
  }

  .section-address__contact-info {
    width: 100%;
    margin-top: 60px;
    position: relative;
    padding-left: 220px;
  }

  .section-address__contact-info .contact-info__image {
    position: absolute;
    left: 0;
  }

  section.section.section-address {
    background: none;
  }
  .p-projects-image {
    position: absolute;
    height: 100%;
    z-index: 1;
    width: 30%;
  }

  .p-projects-row {
    flex-wrap: wrap;
    /* display: block; */
    position: relative;
    margin-top: 30px;
  }

  .p-projects-item {
    flex-basis: 100%;
    width: 100%;
    padding-left: 35%;
    box-sizing: border-box;
  }

  .p-projects-row-group .p-projects-column {
    display:none;
  }

  .p-projects-row-group {
    display: block;
    margin-top: 30px;
  }

  .p-projects-row-group .p-projects-row {
    margin-top: 30px;
  }

  .p-projects-row.column.top-offset-none {
    display: none;
  }
  .p-projects-free-space{
    height: 50px;
  }
  .container.p-projects-container {
    margin-top: -40px;
  }
}
@media (max-width: 1025px){
  .p-projects-row {
    flex-wrap: wrap;
    /* display: block; */
    position: relative;
    margin-top: 70px;
  }

  .img-wrp {
    margin-bottom: 50px;
    width: 30%;
  }
  .clients-slider-item{
    margin-bottom: -50px;
  }
  .projects-item-all {
    padding-left: 30px;
  }
  .float-header.float-header-desc {
    display: block;
    position: relative;
    right: 0;
    float: right;
    top: -170px;
  }

  .float-header {
    line-height: 1.4;
    top: -130px;
  }

  .section-why-us, .section-solutions, .section-clients, .section-team{
    padding-top: 120px;
  }
  .section-why-us .float-header{
    right: 60px;
  }
  .section-clients .float-header{
    right: 90px;
  }
  .section-tea .float-header{
    right: 90px;
  }
  .container-client-slider  .float-header{
    right: 100px;
  }
  .section-why-us .float-header span::after{
    width: 290px;
  }
  .section-why-us .float-header span:first-child:after{
    width: 220px;
  }

  .float-header.float-header--left {
    left: 90px;
    top: -12px;
  }
  .section-projects {
    padding-top: 20px;
  }
  .float-header.float-header--left {
    left: 90px;
    top: 25px;
  }
  .section-solutions .float-header.float-header--left{
    top: -130px;
  }
  .section-team .float-header{
    right: 120px;
  }
  .section-team .float-header span:first-child::after{
    width: 280px;
  }
  .section-team .float-header span:after{
    width: 290px;
  }
  .section-contact .float-header{top: -125px;right: 100px;}
  .section-contact{

    padding-top: 120px;
  }
  .section-contact .float-header span:first-child::after{width: 250px;}
  .section-contact .float-header span::after{
    width: 260px;
  }
}
@media (max-width: 767px) {
  .section-solutions .float-header.float-header--left{

    top: -105px;
  }
  .solutions-page .page-banner {
    min-height: 667px;
  }

  .container.p-solutions-container {
    margin-top: 0;
  }

  .p-solutions-list {
    margin-top: 0;
  }

  .p-solutions-item .svg-icon {
    position: initial;
    top: initial;
    left: initial;
    margin-bottom: 30px;
  }

  .p-solutions-item {
    padding: 50px 10px 100px 10px;
    border-left: none;
    border-right: none;
    min-height: 440px;
  }
  .breadcrumbs {
    display: none;
  }

  .text-page-top {
    margin-top: 50px;
  }

  .text-page-main ul li {
    font-size: 16px;
    width: 100%;
  }
  .section-header span {
    margin-bottom: 0;
    margin-top: 0px;
  }

  .text-page-main p {
    font-size: 16px;
    width: 100%;
  }
  .contact-page .p-contact-container {
    padding: 0 20px;
  }

  .contact-page .page-banner {
    padding-top: 95px;
  }

  .contact-page .p-contact-container p.page-description {
    display: none;
  }

  .contact-page .p-contact-container .contact-form-block .contact-form .contact-inputs .contact-row input {
    height: 40px;
  }

  .contact-page .contact-form-block .btn {
    margin-top: 30px;
  }

  .section-address__contact-info .contact-info__image img {
    /* width: 50%; */
  }

  .section-address__contact-info .contact-info__image {top: 0;}

  .section-address__contact-info {
    padding: 190px 0 0 0;
  }

  p.contact-info__address {
    text-align: center;
  }

  p.contact-info__email {
    text-align: center;
  }

  p.contact-info__tel {
    text-align: center;
  }
  .p-projects-image {
    position: relative;
    width: 100%;
  }

  .p-projects-item {
    width: 100%;
    padding: 40px 20px;
  }

  .square-btn-gray {
    display: none;
  }
  .p-projects-row .p-projects-image {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-direction: row;
  }

  .p-projects-row .p-projects-image img {
    display: inline-block;
    margin-right: 30px;
    width: 100px;
  }
  .modal__container.active {
    width: 90%;
    left: 5%;
  }

  .modal__content {
    padding: 60px 15px;
  }

  .modal__content .section-modal-form .contact__buttons {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .modal__content .section-modal-form .contact__buttons button.btn.btn-hero.btn-bold {
    margin-bottom:20px;
  }
  p.p-solutions-item__description {
    font-size: 18px;
    line-height: 1.5;
  }
  .top-menu ul li a {
    font-size: 18px;
  }
  .img-wrp {
    margin-bottom: 40px;
    width: 44%;
  }
  .clients-slider-item{
    margin-bottom: -40px;
  }
  .clients-slider .slick-prev {
    left: 15px;
    bottom: -65px;
    top: initial;
  }
  .clients-slider .slick-next {
    right: -10px;
    top: initial;
    bottom: -65px;
  }

  .section-why-us .float-header{
    right: 60px;
    top: -50px;
  }
  .section-why-us .float-header:first-child{
    right: 60px;
    top: -105px;
  }
  .section-why-us .float-header:first-child span::after{width: 222px;}
  .section-clients .float-header{
    right: 77px;
    top: -105px;
  }
  .section-tea .float-header{
    right: 90px;
  }
  .container-client-slider  .float-header{
    right: 85px;
  }
  .section-why-us .float-header span::after{
    width: 190px;
  }
  .section-why-us .float-header span:first-child:after{
    width: 180px;
  }

  .float-header.float-header--left {
    left: 59px;
    top: -100px;
  }
  .section-team .float-header{
    right: 93px;
    top: -105px;
  }
  .section-team .float-header span:first-child::after{
    width: 200px;
  }
  .section-team .float-header span:after{
    width: 220px;
  }
  .section-contact .float-header{top: -105px;right: 90px;}
  .section-contact .float-header span:first-child::after{width: 190px;}
  .section-contact .float-header span::after{
    width: 210px;
  }
  .section-solutions {
    padding-top: 140px;
  }
  .section-clients{
    padding-bottom: 40px;
  }
  .section-projects .float-header.float-header--left {
    left: 59px;
    top: -110px;
  }
}
.why-us-logos-item{
  display:none;}