<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <% demos.forEach((demo) => { %>
    <p><a href="<%= demo %>"><%= demo %></a></p>
    <% }); %>

</body>

</html>