<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About page.</title>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
</head>

<body class="about-page">
    <div class="wrapper">
        <%= require('html-loader?attrs[]=!./components/header.html') %>
        <%= require('html-loader?attrs[]=!./components/modal.html') %>
        <div class="content">
            <div class="page-banner">
                <div class="container">
                    <div class="page-top">
                        <h1 class="page-title">
                            <span>Мы умеем добиваться</span>
                            поставленных задач
                        </h1>
                        <p class="page-description">
                            Дата Фрейм была основана в Москве, Россия, как высокотехнологичная консультационная
                            компания, которая, благодаря своему опыту и знаниям в ИТ индустрии, высококачественным
                            услугам и сервисам, помогает своим клиентам усовершенствовать бизнес.
                        </p>
                    </div>
                </div>
            </div>
            <div class="text-page-main">
                <div class="container">
                    <div class="section-top">
                        <h2 class="section-header">
                            <span>Наша задача &mdash;</span>
                            предоставлять нашим клиентам то, <br>
                            в чем они больше всего нуждаются
                        </h2>
                        <p class="section__description">
                            Мы отдаем свое время, знания и опыт, чтобы разработать и внедрить инновационные подходы,
                            <br>
                            которые позволят нашим клиентам стать лучше.
                        </p>
                    </div>
                </div>
            </div>

            <section class="section section-clients white-bg no-padding">
                <div class="container">
                    <div class="clients-slider-wrapp">
                        <div class="clients-slider">
                            <div class="clients-slider-item clients-slider-item-about">
                                <img src="./images/client-1.svg" alt="">
                                <img src="./images/client-2.svg" alt="">
                                <img src="./images/client-3.svg" alt="">
                                <img src="./images/client-4.svg" alt="">
                                <img src="./images/client-5.svg" alt="">
                                <img src="./images/client-6.svg" alt="">
                                <img src="./images/client-7.svg" alt="">
                                <img src="./images/client-8.svg" alt="">
                                <img src="./images/client-9.svg" alt="">
                                <img src="./images/client-10.svg" alt="">
                                <img src="./images/client-11.svg" alt="">
                                <img src="./images/client-12.svg" alt="">
                                <img src="./images/client-13.svg" alt="">
                                <img src="./images/client-14.svg" alt="">
                                <img src="./images/client-1.svg" alt="">
                            </div>
                            <div class="clients-slider-item clients-slider-item-about">
                                <img src="./images/client-11.svg" alt="">
                                <img src="./images/client-12.svg" alt="">
                                <img src="./images/client-13.svg" alt="">
                                <img src="./images/client-14.svg" alt="">
                                <img src="./images/client-5.svg" alt="">
                                <img src="./images/client-6.svg" alt="">
                                <img src="./images/client-7.svg" alt="">
                                <img src="./images/client-8.svg" alt="">
                                <img src="./images/client-8.svg" alt="">
                                <img src="./images/client-9.svg" alt="">
                                <img src="./images/client-10.svg" alt="">
                                <img src="./images/client-1.svg" alt="">
                                <img src="./images/client-2.svg" alt="">
                                <img src="./images/client-3.svg" alt="">
                                <img src="./images/client-4.svg" alt="">
                            </div>
                            <div class="clients-slider-item clients-slider-item-about">
                                <img src="./images/client-12.svg" alt="">
                                <img src="./images/client-2.svg" alt="">
                                <img src="./images/client-3.svg" alt="">
                                <img src="./images/client-4.svg" alt="">
                                <img src="./images/client-9.svg" alt="">
                                <img src="./images/client-6.svg" alt="">
                                <img src="./images/client-7.svg" alt="">
                                <img src="./images/client-8.svg" alt="">
                                <img src="./images/client-5.svg" alt="">
                                <img src="./images/client-10.svg" alt="">
                                <img src="./images/client-10.svg" alt="">
                                <img src="./images/client-11.svg" alt="">
                                <img src="./images/client-1.svg" alt="">
                                <img src="./images/client-13.svg" alt="">
                                <img src="./images/client-14.svg" alt="">
                            </div>
                        </div>
                        <div class="clients-slider-dots"></div>
                    </div>
                </div>
            </section>

            <section class="section section-team white-bg no-top-padding about-page">
                <div class="container">
                    <div class="section-top-full">
                        <h2 class="section-header section-header-full">
                            <span>Мы команда профессионалов</span>
                            с опытом  в ИТ индустрии более 10 лет
                        </h2>
                        <p class="section__description">
                            Более 30-ти специалистов с опытом внедрения аналитических решений 5-10 лет; Технологическая
                            экспертиза в областях DWH, BI, Machine Learning, Big Data; Опыт использования современных
                            ИТ-инструментов ведущих вендоров (SAS, Teradata, BluePrism, Informatica, Cloudera, Qlik), a
                            также open-source продуктов.</p>
                    </div>
                    <div class="team-list team-list-about">
                        <div class="team-inner-frame">
                            <div class="team-item team-item-about">
                                <div class="team-item-img-wrapp">
                                    <img src="./images/ceo.jpg" alt="">
                                </div>
                                <span class="team__name">Марченко Мария</span>
                                <span class="team__profession">CEO</span>
                                <p class="team__description">Мария имеет опыт работы на российском ИТ рынке более 10 лет.
                                    Занимала руководящие должности в представительствах зарубежных компаний, таких Сisco
                                    Capital LLC, Data Space LLC.
                                </p>
                                <p class="team__description">
                                    Мария имеет степень MBA по финансам в California State University, East Bay, USA и
                                    Диплом по экономике в Московском Государственном Университете экономики, статистики и
                                    информатики (МЭСИ).
                                </p>
                            </div>
                            <div class="team-item team-item-about">
                                <div class="team-item-img-wrapp">
                                    <img src="./images/managing.jpg" alt="">
                                </div>
                                <span class="team__name">Солдатенко Надежда</span>
                                <span class="team__profession">Управляющий директор</span>
                                <p class="team__description">Надежда более 18 лет работает в сфере ИТ. За это время задачи,
                                    реализованные Надеждой расширились от внедрения бизнес-приложений до ИТ-консалтинга.
                                    Имеет успешный опыт в руководстве командами до 200 человек. </p>
                                <p class="team__description">Является экспертом в области углубленной аналитики и управления
                                    данными. Имеет высшее образовании в сфере телекоммуникаций и связи и МВА по управлению и
                                    инновациями.</p>
                            </div>
                            <div class="team-item team-item-about">
                                <div class="team-item-img-wrapp">
                                    <img src="./images/director.jpg" alt="">
                                </div>
                                <span class="team__name">Степанов Александр</span>
                                <span class="team__profession">Директор Техничесткого Департамента</span>
                                <p class="team__description">Александр имеет опыт в ИТ сфере более 17 лет.Из них более 7 лет
                                    работал в роли руководителя проектов в сфере внедрения аналитических систем.
                                </p>
                                <p class="team__description">За это время принимал участие в проектах у таких заказчиков
                                    как: МТС, МГТС, Сбербанк и других.
                                </p>
                                <p class="team__description">В настоящее время отвечает за управление производством.</p>
                            </div>
                            <div class="team-item team-item-about">
                                <div class="team-item-img-wrapp">
                                    <img src="./images/developer.jpg" alt="">
                                </div>
                                <span class="team__name">Байдаков Михаил</span>
                                <span class="team__profession">Директор Департамента разработки</span>
                                <p class="team__description">Михаил имеет опыт в ИТ сфере более 20-ти лет, более 10-ти лет
                                    занимается внедрением аналитических систем и разработкой хранилищ данных.
                                    Принимал участие по внедрению проектов в МТС, ВТБ, Сбербанк, Юникредит, МГТС и др.,
                                    внедрял ERP системы в Связьинвест и МГТС.
                                </p>
                                <p class="team__description">Михаил имеет 2 высших образования:
                                    в области прикладной математики и финансов, а также обладает сертификатами от компаний
                                    SAS и Teradata.
                                </p>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="btn">Связаться с нами</a>
                </div>
            </section>


            <section class="section section-mirea">
                <div class="container">
                    <div class="section-mirea__row">
                        <div class="section-mirea__logo">
                            <img src="./images/mirea.png" alt="" />
                        </div>
                        <div class="section-mirea__description">
                            <h2 class="section-header section-header-full">
                                <span>Стажерская программа МИРЭА</span>
                            </h2>
                            <p>С начала 2019 года, ООО «Дата Фрейм» совместно с <a href="https://www.mirea.ru/" target="_blank">РТУ МИРЭА</a> нашей компанией проводится стажерская программа.</p>
                            <p>В рамках этой программы студенты старших курсов получают актуальные знания о современных технологиях от специалистов, ежедневно их применяющих в реальных проектах.</p>
                            <p>Наиболее успешные слушатели приглашаются на стажировку в компанию. За прошедший год сотрудничество с РТУ МИРЭА показало свою высокую эффективность.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <%= require('html-loader?attrs[]=!./components/footer.html') %>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        $('.clients-slider').slick({
            dots: true,
            appendDots: $('.clients-slider-dots'),
        })
    </script>
</body>