<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact page.</title>
</head>

<body class="contact-page">
    <div class="wrapper">
        <%= require('html-loader?attrs[]=!./components/header.html') %>
        <%= require('html-loader?attrs[]=!./components/modal.html') %>
        <div class="content">
            <div class="page-banner">
                <div class="container p-contact-container">
                    <div class="page-top">
                        <h1 class="page-title">
                            <span>Просто</span>
                            заполните форму!
                        </h1>
                        <p class="page-description">
                            Расскажите подробнее о вашей задаче и получите ответ с предварительным расчетом стоимости уже в течение 15 минут.
                        </p>
                    </div>
                    <div class="contact-form-block">
                        <form class="contact-form" action="">
                            <div class="contact-inputs">
                                <div class="contact-row">
                                    <input type="text" class="input" placeholder="Ваше имя" required>
                                    <input type="email" class="input" placeholder="Введите ваш email" required>
                                    <textarea class="textarea" placeholder="Задайте ваш вопрос или опишите задачу"></textarea>
                                </div>
                            </div>
                            <label class="contact__label" for="policy">
                                <input type="checkbox" id="policy" checked>
                                C политикой конфиденциальности ознакомлен и согласен
                            </label>
                            <button class="btn btn-hero" type="submit">Отправить сообщение</button>
                        </form>
                    </div>
                </div>
            </div>
            <section class="section section-address">
                <div class="container p-contact-container">
                    <div class="section-address__map">
                        <img src="./images/map.png" alt="" />
                    </div>
                    <div class="section-address__contact-info">
                        <div class="contact-info__image">
                            <img src="./images/contact-img.jpg" alt="" />
                        </div>
                        <p class="contact-info__address">
                            123100, г. Москва, <br>
                            Москва-Сити, Пресненская набережная,<br>
                            д.12, башня Федерация-Восток, 12 этаж, офис Б2
                        </p>
                        <p class="contact-info__email">
                            <a href="mailto:info@data-frame.ru">info@data-frame.ru</a>
                        </p>
                        <p class="contact-info__tel">
                            <a href="tel:+74954813325">+7 (495) 481-33-25</a>
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <%= require('html-loader?attrs[]=!./components/footer.html') %>
    </div>
</body>