<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main Page</title>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
</head>

<body>
    <div class="wrapper">
        <%= require('html-loader?attrs[]=!./components/header.html') %>
        <%= require('html-loader?attrs[]=!./components/modal.html') %>
        <section class="section-hero">
            <div class="container">
                <div class="hero-main">
                    <h1 class="hero__header">
                        <span>Data Frame</span>
                        Трансформация Вашего Бизнеса
                    </h1>
                    <p class="hero__desc">
                        Мы поможем Вам найти новые возможности развития бизнеса и технически поддержать расширение вашей
                        компании в другие сектора и выход на новые рынки.
                    </p>
                    <a href="#" class="btn btn-hero">Получить консультацию</a>
                </div>
            </div>
        </section>
        <section class="section section-why-us">
            <div class="container">
                <div class="float-header">
                    <span>Почему</span>
                    <span>нам доверяют?</span>
                </div>
                <div class="section-top">
                    <h2 class="section-header">
                        <span>IT Услуги</span>
                        высшего качества
                    </h2>
                    <p class="section__description">Дата Фрейм - высокотехнологичная консультационная компания. <br>
                        Благодаря своему опыту и знаниям в ИТ индустрии, высококачественным
                        услугам и сервисам, мы помогает своим клиентам усовершенствовать бизнес.</p>
                </div>
                <div class="why-us-list">
                    <div class="why-us-item">
                        <div class="why-us-img-wrapp">
                            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70">
                                <g>
                                    <g>
                                        <path 
                                            d="M35 0c19.33 0 35 15.67 35 35S54.33 70 35 70 0 54.33 0 35 15.67 0 35 0z" />
                                    </g>
                                    <g>
                                        <g>
                                            <path fill="#fff"
                                                d="M50.742 23.103a1.03 1.03 0 1 0-1.456-1.455 1.03 1.03 0 0 0 1.456 1.455z" />
                                        </g>
                                        <g>
                                            <path fill="#fff"
                                                d="M22.346 24.09a1.03 1.03 0 1 0-1.456-1.455 1.03 1.03 0 0 0 1.456 1.456z" />
                                        </g>
                                        <g>
                                            <path fill="#fff"
                                                d="M16.374 29.99l3.08-3.082A1.03 1.03 0 1 0 18 25.452l-3.08 3.082a1.03 1.03 0 0 0 1.455 1.456z" />
                                        </g>
                                        <g>
                                            <path fill="#fff"
                                                d="M54.063 27.022a1.03 1.03 0 0 0 1.456-1.455l-2.054-2.054a1.03 1.03 0 0 0-1.456 1.456z" />
                                        </g>
                                        <g>
                                            <path fill="#fff"
                                                d="M55.152 30.3L45.037 19.924l3.69-3.477 10.139 10.14zm-6.96 6.947zm-8.674-8.674l.722-.723a1.022 1.022 0 1 0-1.445-1.445l-5.06 5.06a2.048 2.048 0 0 1-2.891 0 2.048 2.048 0 0 1 0-2.892l4.162-4.161c1.212-1.212 2.65-1.753 4.66-1.753 1.445 0 2.693-.435 3.863-1.355l10.178 10.442c-5 4.988-5.501 5.487-5.516 5.501zm8.673 8.674zm0 0zm.361 5.42a1.536 1.536 0 0 1-2.168 0l-4.698-4.698a1.022 1.022 0 0 0-1.446 1.445l4.698 4.699a1.532 1.532 0 1 1-2.168 2.168l-4.698-4.699a1.022 1.022 0 0 0-1.445 1.446l4.697 4.698a1.534 1.534 0 0 1-1.084 2.617c-.971 0-1.285-.765-2.206-1.57a3.55 3.55 0 0 0-1.046-2.492 3.55 3.55 0 0 0-2.567-1.048c.01-.982-.37-1.89-1.047-2.566a3.566 3.566 0 0 0-2.567-1.045 3.573 3.573 0 0 0-3.613-3.616 3.55 3.55 0 0 0-1.048-2.567 3.58 3.58 0 0 0-5.059 0l-1.808 1.808-2.435-2.428 12.03-12.032c1.49.17 2.493.598 3.412 1.453l-2.888 2.888a4.096 4.096 0 0 0 0 5.782 4.095 4.095 0 0 0 5.783 0l2.891-2.892L48.552 40.5c.598.598.598 1.57 0 2.167zM37.71 53.509a1.534 1.534 0 0 1-2.167 0l-.362-.362 1.807-1.807c.122-.122.232-.253.335-.388l.387.387.001.001c.6.6.6 1.569 0 2.169zm-7.95 0c-.599-.6-.6-1.57 0-2.17l3.614-3.613a1.533 1.533 0 1 1 2.168 2.168l-3.614 3.615a1.536 1.536 0 0 1-2.168 0zm-3.614-3.615a1.532 1.532 0 0 1 0-2.168l3.614-3.614a1.535 1.535 0 0 1 2.169.001c.59.589.607 1.56 0 2.168h-.001l-3.613 3.613a1.537 1.537 0 0 1-2.169 0zm-3.613-3.613c-.6-.6-.6-1.569 0-2.169l3.613-3.613a1.532 1.532 0 1 1 2.169 2.168L24.7 46.281a1.535 1.535 0 0 1-2.168 0zm-3.614-3.614a1.533 1.533 0 0 1 0-2.168l3.614-3.614a1.535 1.535 0 0 1 2.168 0c.6.6.6 1.568 0 2.168l-3.613 3.613a1.537 1.537 0 0 1-2.17 0zm-7.451-13.219L23.12 17.797l3.926 3.927-11.649 11.65zm49.566-3.584L49.47 14.3c-.39-.391-1.021-.4-1.423-.022-.898.846-5.119 4.821-5.18 4.88l-.011.011c-1 1-1.984 1.445-3.192 1.445-2.468 0-4.359.698-5.93 2.185-1.287-1.22-2.746-1.85-4.783-2.06l-5.11-5.11c-.399-.4-1.046-.4-1.445 0L9.299 28.725a1.02 1.02 0 0 0-.022 1.42l.022.025 8.535 8.522-.36.36a3.576 3.576 0 0 0 2.566 6.104 3.55 3.55 0 0 0 1.047 2.57 3.562 3.562 0 0 0 2.567 1.045A3.55 3.55 0 0 0 24.7 51.34a3.564 3.564 0 0 0 2.567 1.044 3.55 3.55 0 0 0 1.047 2.57 3.581 3.581 0 0 0 5.059 0l.361-.362.362.362a3.581 3.581 0 0 0 5.059 0 3.553 3.553 0 0 0 1.048-2.568 3.55 3.55 0 0 0 2.566-1.046 3.566 3.566 0 0 0 1.045-2.567 3.55 3.55 0 0 0 2.569-1.047 3.549 3.549 0 0 0 1.047-2.57 3.575 3.575 0 0 0 2.567-6.103l-.36-.36c7.126-7.119-1.89 1.904 11.396-11.384.399-.399.399-1.046 0-1.445z" />
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <h3 class="why-us-item__header">
                            Партнер ведущих
                            вендоров ПО
                        </h3>
                        <p class="why-us-item__desc">
                            Компания сотрудничает с ключевыми вендорами в области
                            <strong>BI,</strong> <strong>MDM,</strong> <strong>Data Governance</strong>
                        </p>
                    </div>
                    <div class="why-us-item">
                        <div class="why-us-img-wrapp">
                            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70">
                                <g>
                                    <g>
                                        <path 
                                            d="M35 0c19.33 0 35 15.67 35 35S54.33 70 35 70 0 54.33 0 35 15.67 0 35 0z" />
                                    </g>
                                    <g>
                                        <path fill="#fff"
                                            d="M48.583 51.204H22.419a1.144 1.144 0 0 0 0 2.287h26.164a1.144 1.144 0 0 0 0-2.287zm.095-7.182l-3.402-7.69 9.054-6.912zm-7.422 1.896l-4.208-3.309 6.354-4.852 3.642 8.223H41.33a1.257 1.257 0 0 0-.074-.062zm-8.626.066l2.542-1.938 2.467 1.938zm-8.672 0l3.534-7.981 5.825 4.581-4.455 3.4zm1.678-9.44l-3.31 7.478-5.61-14.495zm9.866-16.637l6.952 15.706-7.26 5.54-6.747-5.304zm22.043 5.229a1.14 1.14 0 0 0-1.379.008l-11.843 9.04-7.777-17.563c-.37-.828-1.722-.828-2.092 0L26.59 34.386l-11.74-9.233a1.146 1.146 0 0 0-1.387-.02 1.14 1.14 0 0 0-.385 1.33l8.157 21.076c.169.44.593.729 1.064.729H48.7c.474 0 .896-.287 1.065-.73l8.157-21.075c.186-.476.03-1.02-.377-1.327z" />
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <h3 class="why-us-item__header">
                            Более 10 лет <br>
                            в IT-консалтинге
                        </h3>
                        <p class="why-us-item__desc">
                            Команда профессионалов с многолетним опытом работы в индустрии
                        </p>
                    </div>
                    <div class="why-us-item">
                        <div class="why-us-img-wrapp">
                            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70">
                                <g>
                                    <g>
                                        <path 
                                            d="M0 35C0 15.67 15.67 0 35 0s35 15.67 35 35-15.67 35-35 35S0 54.33 0 35z" />
                                    </g>
                                    <g>
                                        <path fill="#fff"
                                            d="M38.232 56.264zm6.417-9.076a27.057 27.057 0 0 1 5.832 2.934 20.904 20.904 0 0 1-12.25 6.142 28.612 28.612 0 0 0 6.418-9.076zm-24.13 2.934a27.04 27.04 0 0 1 5.832-2.934 28.63 28.63 0 0 0 6.417 9.076 20.904 20.904 0 0 1-12.25-6.142zm26.597-13.846h9.313a20.847 20.847 0 0 1-4.893 12.684 28.609 28.609 0 0 0-6.294-3.205 28.653 28.653 0 0 0 1.874-9.48zm-10.84 0h9.288a27.086 27.086 0 0 1-1.793 8.984 28.574 28.574 0 0 0-7.495-1.196zm0 19.673V45.616a27.05 27.05 0 0 1 6.893 1.086 27.127 27.127 0 0 1-6.893 9.247zm-1.552-10.333v10.333a27.132 27.132 0 0 1-6.893-9.246 27.052 27.052 0 0 1 6.893-1.087zm-9.288-9.34h9.288v7.788c-2.566.068-5.08.469-7.495 1.196a27.096 27.096 0 0 1-1.793-8.984zm1.212-13.134a26.962 26.962 0 0 1-5.659-2.729 20.885 20.885 0 0 1 11.78-5.677 28.641 28.641 0 0 0-6.12 8.406zm17.704 0a28.652 28.652 0 0 0-6.12-8.406 20.888 20.888 0 0 1 11.78 5.677 26.987 26.987 0 0 1-5.66 2.73zm-8.076 1.467v-9.558c2.779 2.425 5 5.337 6.572 8.563-2.127.597-4.33.932-6.572.995zm0 1.552a28.644 28.644 0 0 0 7.22-1.116 27.098 27.098 0 0 1 2.07 9.68h-9.29zm-1.552 0v8.563h-9.288a27.098 27.098 0 0 1 2.068-9.679 28.667 28.667 0 0 0 7.22 1.116zm0-1.552a27.123 27.123 0 0 1-6.572-.995 27.146 27.146 0 0 1 6.572-8.563zM56.43 34.724h-9.313a28.65 28.65 0 0 0-2.133-10.16 28.538 28.538 0 0 0 6.129-3.012 20.857 20.857 0 0 1 5.317 13.172zm-36.54-13.172a28.539 28.539 0 0 0 6.128 3.012 28.65 28.65 0 0 0-2.133 10.16H14.57a20.857 20.857 0 0 1 5.317-13.172zM14.57 36.276h9.313c.087 3.289.73 6.485 1.874 9.479a28.608 28.608 0 0 0-6.294 3.205 20.852 20.852 0 0 1-4.893-12.684zm37.756 14.138C55.852 46.44 58 41.217 58 35.5c0-5.949-2.324-11.361-6.108-15.388v-.001c-.003-.005-.007-.006-.01-.01-3.94-4.19-9.461-6.87-15.602-7.08l-.001-.002-.438-.011c-.114-.004-.227-.008-.341-.008a9.93 9.93 0 0 0-.34.008l-.437.011-.001.001c-6.141.21-11.662 2.892-15.603 7.08-.003.005-.008.006-.01.01v.002C15.323 24.14 13 29.552 13 35.5c0 5.717 2.148 10.94 5.673 14.914.005.007.005.014.01.021.014.02.034.029.05.047 3.96 4.429 9.645 7.281 15.988 7.499l.438.012c.114.003.227.007.341.007.114 0 .227-.004.34-.008l.437-.011.001-.001c6.35-.218 12.04-3.076 16.002-7.514.01-.014.027-.017.036-.031.006-.007.006-.014.01-.021z" />
                                        <path fill="none" stroke="#fff" stroke-miterlimit="50"
                                            d="M38.232 56.264s0 0 0 0 0 0 0 0zm6.417-9.076a27.057 27.057 0 0 1 5.832 2.934 20.904 20.904 0 0 1-12.25 6.142 28.612 28.612 0 0 0 6.418-9.076zm-24.13 2.934a27.04 27.04 0 0 1 5.832-2.934 28.63 28.63 0 0 0 6.417 9.076 20.904 20.904 0 0 1-12.25-6.142zm26.597-13.846h9.313a20.847 20.847 0 0 1-4.893 12.684 28.609 28.609 0 0 0-6.294-3.205 28.653 28.653 0 0 0 1.874-9.48zm-10.84 0h9.288a27.086 27.086 0 0 1-1.793 8.984 28.574 28.574 0 0 0-7.495-1.196zm0 19.673V45.616a27.05 27.05 0 0 1 6.893 1.086 27.127 27.127 0 0 1-6.893 9.247zm-1.552-10.333v10.333a27.132 27.132 0 0 1-6.893-9.246 27.052 27.052 0 0 1 6.893-1.087zm-9.288-9.34h9.288v7.788c-2.566.068-5.08.469-7.495 1.196a27.096 27.096 0 0 1-1.793-8.984zm1.212-13.134a26.962 26.962 0 0 1-5.659-2.729 20.885 20.885 0 0 1 11.78-5.677 28.641 28.641 0 0 0-6.12 8.406zm17.704 0a28.652 28.652 0 0 0-6.12-8.406 20.888 20.888 0 0 1 11.78 5.677 26.987 26.987 0 0 1-5.66 2.73zm-8.076 1.467v-9.558c2.779 2.425 5 5.337 6.572 8.563-2.127.597-4.33.932-6.572.995zm0 1.552a28.644 28.644 0 0 0 7.22-1.116 27.098 27.098 0 0 1 2.07 9.68h-9.29zm-1.552 0v8.563h-9.288a27.098 27.098 0 0 1 2.068-9.679 28.667 28.667 0 0 0 7.22 1.116zm0-1.552a27.123 27.123 0 0 1-6.572-.995 27.146 27.146 0 0 1 6.572-8.563zM56.43 34.724h-9.313a28.65 28.65 0 0 0-2.133-10.16 28.538 28.538 0 0 0 6.129-3.012 20.857 20.857 0 0 1 5.317 13.172zm-36.54-13.172a28.539 28.539 0 0 0 6.128 3.012 28.65 28.65 0 0 0-2.133 10.16H14.57a20.857 20.857 0 0 1 5.317-13.172zM14.57 36.276h9.313c.087 3.289.73 6.485 1.874 9.479a28.608 28.608 0 0 0-6.294 3.205 20.852 20.852 0 0 1-4.893-12.684zm37.756 14.138C55.852 46.44 58 41.217 58 35.5c0-5.949-2.324-11.361-6.108-15.388v-.001c-.003-.005-.007-.006-.01-.01-3.94-4.19-9.461-6.87-15.602-7.08l-.001-.002-.438-.011c-.114-.004-.227-.008-.341-.008a9.93 9.93 0 0 0-.34.008l-.437.011-.001.001c-6.141.21-11.662 2.892-15.603 7.08-.003.005-.008.006-.01.01v.002C15.323 24.14 13 29.552 13 35.5c0 5.717 2.148 10.94 5.673 14.914.005.007.005.014.01.021.014.02.034.029.05.047 3.96 4.429 9.645 7.281 15.988 7.499h0l.438.012c.114.003.227.007.341.007.114 0 .227-.004.34-.008l.437-.011.001-.001c6.35-.218 12.04-3.076 16.002-7.514.01-.014.027-.017.036-.031.006-.007.006-.014.01-.021z" />
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <h3 class="why-us-item__header">
                            Международное
                            присутствие
                        </h3>
                        <p class="why-us-item__desc">
                            Компания реализует проекты в России, Казахстане, Узбекистане, Голландии, Румынии
                        </p>
                    </div>
                </div>
                <div class="why-us-logos">
                    <img class="why-us-logos-item" src="./images/sas.svg" alt="">
                    <img class="why-us-logos-item" src="./images/hadoop.svg" alt="">
                    <img class="why-us-logos-item" src="./images/spark.svg" alt="">
                    <img class="why-us-logos-item" src="./images/teradata.svg" alt="">
                    <img class="why-us-logos-item" src="./images/intellinx.svg" alt="">
                    <img class="why-us-logos-item" src="./images/hflabs.svg" alt="">
                    <img class="why-us-logos-item" src="./images/informatica.svg" alt="">
                    <img class="why-us-logos-item" src="./images/oracle.svg" alt="">
                    <img class="why-us-logos-item" src="./images/blueprism.svg" alt="">
                </div>
            </div>
        </section>
        <section class="section section-solutions">
            <div class="container">
                <div class="s-solution-frame-base-1"></div>

                <div class="float-header float-header--left">
                    <span>Что мы</span>
                    <span>предлагаем?</span>
                </div>
                <div class="section-top">
                    <h2 class="section-header">
                        <span>В основе работы —</span>
                        нацеленность на результат
                    </h2>
                    <p class="section__description">Наши решения приносят реальные результаты благодаря
                        командно-ориентированному подходу к технологиям и предоставлению высокопрофессиональных услуг в
                        соответствии с вашими потребностями.</p>
                </div>
                <div class="solutions-list">
                    <div class="solutions-item">
                        <div class="solutions-item-img-wrapp">
                            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="72" height="72" viewBox="0 0 72 72"><defs><clipPath id="a"><rect class="a" width="72" height="72" transform="translate(-121)"/></clipPath></defs><g class="b" transform="translate(121)"><g transform="translate(-123.4 -2.4)"><path class="a" d="M37.2,56.4h2.4v2.4H37.2Z"/><path class="a" d="M70.8,16.8H50.16a11.918,11.918,0,0,0-1.5-8.594L53.2,4.8h9.2V2.4H52.8a1.2,1.2,0,0,0-.72.24L47.216,6.288A11.989,11.989,0,0,0,26.64,16.8H6a3.6,3.6,0,0,0-3.6,3.6V58.8A3.6,3.6,0,0,0,6,62.4H29.784l-.8,4.8H27.6a1.2,1.2,0,0,0-.96.48l-3.6,4.8A1.2,1.2,0,0,0,24,74.4H52.8a1.2,1.2,0,0,0,.96-1.92l-3.6-4.8a1.2,1.2,0,0,0-.96-.48H47.816l-.8-4.8H70.8a3.6,3.6,0,0,0,3.6-3.6V20.4a3.6,3.6,0,0,0-3.6-3.6ZM45.292,7.732,42.48,9.84l1.44,1.92,2.812-2.11A9.532,9.532,0,0,1,48,14.4H39.6V4.883a9.576,9.576,0,0,1,5.692,2.849ZM37.2,4.883V15.6a1.2,1.2,0,0,0,1.2,1.2h9.284A9.569,9.569,0,0,1,32.6,22.033l3.181-4.546-1.966-1.375-2.952,4.217A9.578,9.578,0,0,1,37.2,4.883ZM6,19.2H27.409a12.018,12.018,0,0,0,2.04,3.16L25.775,27.6H10.8a1.2,1.2,0,0,0-1.2,1.2V36H12V30H26.4a1.2,1.2,0,0,0,.983-.512L31.226,24a11.963,11.963,0,0,0,18.164-4.8H70.8A1.2,1.2,0,0,1,72,20.4V52.8H4.8V20.4A1.2,1.2,0,0,1,6,19.2ZM50.4,72h-24l1.8-2.4H48.6Zm-5.016-4.8H31.416l.8-4.8H44.584ZM70.8,60H6a1.2,1.2,0,0,1-1.2-1.2V55.2H72v3.6A1.2,1.2,0,0,1,70.8,60Z"/><path class="a" d="M64.8,2.4h4.8V4.8H64.8Z"/><path class="a" d="M52.8,7.2h2.4V9.6H52.8Z"/><path class="a" d="M57.6,7.2h12V9.6h-12Z"/><path class="a" d="M52.8,12h9.6v2.4H52.8Z"/><path class="a" d="M64.8,12h4.8v2.4H64.8Z"/><path class="a" d="M7.2,38.4h6v2.4h-6Z"/><path class="a" d="M15.6,38.4H38.4v2.4H15.6Z"/><path class="a" d="M7.2,43.2H26.4v2.4H7.2Z"/><path class="a" d="M28.8,43.2h12v2.4h-12Z"/><path class="a" d="M7.2,48h12v2.4H7.2Z"/><path class="a" d="M21.6,48H40.8v2.4H21.6Z"/><path class="a" d="M8.4,14.4H22.8A1.2,1.2,0,0,0,24,13.2V6a1.2,1.2,0,0,0-1.2-1.2H8.4A1.2,1.2,0,0,0,7.2,6v7.2A1.2,1.2,0,0,0,8.4,14.4ZM9.6,7.2h12V12H9.6Z"/><path class="a" d="M54,31.2H68.4A1.2,1.2,0,0,0,69.6,30V22.8a1.2,1.2,0,0,0-1.2-1.2H54a1.2,1.2,0,0,0-1.2,1.2V30A1.2,1.2,0,0,0,54,31.2ZM55.2,24h12v4.8h-12Z"/><path class="a" d="M43.2,39.6v9.6a1.2,1.2,0,0,0,1.2,1.2h4.8a1.2,1.2,0,0,0,1.2-1.2V39.6a1.2,1.2,0,0,0-1.2-1.2H44.4A1.2,1.2,0,0,0,43.2,39.6Zm2.4,1.2H48V48H45.6Z"/><path class="a" d="M54,50.4h4.8A1.2,1.2,0,0,0,60,49.2v-12A1.2,1.2,0,0,0,58.8,36H54a1.2,1.2,0,0,0-1.2,1.2v12A1.2,1.2,0,0,0,54,50.4Zm1.2-12h2.4V48H55.2Z"/><path class="a" d="M68.4,33.6H63.6a1.2,1.2,0,0,0-1.2,1.2V49.2a1.2,1.2,0,0,0,1.2,1.2h4.8a1.2,1.2,0,0,0,1.2-1.2V34.8A1.2,1.2,0,0,0,68.4,33.6ZM67.2,48H64.8V36h2.4Z"/><path class="a" d="M34.8,36h9.6a1.2,1.2,0,0,0,1.2-1.2V30a1.2,1.2,0,0,0-1.2-1.2H34.8A1.2,1.2,0,0,0,33.6,30v4.8A1.2,1.2,0,0,0,34.8,36ZM36,31.2h7.2v2.4H36Z"/></g></g></svg>
                        </div>
                        <h2 class="solutions-item__title">
                            <a href="#">Финансовая аналитика</a>
                        </h2>
                    </div>
                    <div class="solutions-item">
                        <div class="solutions-item-img-wrapp">
                            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="72" height="72" viewBox="0 0 72 72"><defs><clipPath id="a"><rect class="a" width="72" height="72" rx="5" transform="translate(33.853 70.144)"/></clipPath></defs><g class="b" transform="translate(-33.853 -70.144)"><g transform="translate(31.453 67.744)"><path class="a" d="M46.8,26.4H42a1.2,1.2,0,0,0-1.2,1.2v4.8A1.2,1.2,0,0,0,42,33.6h4.8A1.2,1.2,0,0,0,48,32.4V27.6A1.2,1.2,0,0,0,46.8,26.4Zm-1.2,4.8H43.2V28.8h2.4Z"/><path class="a" d="M37.2,26.4H32.4a1.2,1.2,0,0,0-1.2,1.2v4.8a1.2,1.2,0,0,0,1.2,1.2h4.8a1.2,1.2,0,0,0,1.2-1.2V27.6A1.2,1.2,0,0,0,37.2,26.4ZM36,31.2H33.6V28.8H36Z"/><path class="a" d="M12,26.4H28.8v2.4H12Z"/><path class="a" d="M7.2,26.4H9.6v2.4H7.2Z"/><path class="a" d="M12,31.2H28.8v2.4H12Z"/><path class="a" d="M7.2,31.2H9.6v2.4H7.2Z"/><path class="a" d="M46.8,7.2H42a1.2,1.2,0,0,0-1.2,1.2v4.8A1.2,1.2,0,0,0,42,14.4h4.8A1.2,1.2,0,0,0,48,13.2V8.4A1.2,1.2,0,0,0,46.8,7.2ZM45.6,12H43.2V9.6h2.4Z"/><path class="a" d="M37.2,7.2H32.4a1.2,1.2,0,0,0-1.2,1.2v4.8a1.2,1.2,0,0,0,1.2,1.2h4.8a1.2,1.2,0,0,0,1.2-1.2V8.4A1.2,1.2,0,0,0,37.2,7.2ZM36,12H33.6V9.6H36Z"/><path class="a" d="M12,7.2H28.8V9.6H12Z"/><path class="a" d="M7.2,7.2H9.6V9.6H7.2Z"/><path class="a" d="M12,12H28.8v2.4H12Z"/><path class="a" d="M7.2,12H9.6v2.4H7.2Z"/><path class="a" d="M46.8,45.6H42a1.2,1.2,0,0,0-1.2,1.2v4.8A1.2,1.2,0,0,0,42,52.8h4.8A1.2,1.2,0,0,0,48,51.6V46.8A1.2,1.2,0,0,0,46.8,45.6Zm-1.2,4.8H43.2V48h2.4Z"/><path class="a" d="M37.2,45.6H32.4a1.2,1.2,0,0,0-1.2,1.2v4.8a1.2,1.2,0,0,0,1.2,1.2h4.8a1.2,1.2,0,0,0,1.2-1.2V46.8A1.2,1.2,0,0,0,37.2,45.6ZM36,50.4H33.6V48H36Z"/><path class="a" d="M12,45.6H28.8V48H12Z"/><path class="a" d="M7.2,45.6H9.6V48H7.2Z"/><path class="a" d="M12,50.4H28.8v2.4H12Z"/><path class="a" d="M7.2,50.4H9.6v2.4H7.2Z"/><path class="a" d="M62.4,43.2a22.81,22.81,0,0,0-9.6,1.771V44.4a3.6,3.6,0,0,0-3.6-3.6H48V38.4h1.2a3.6,3.6,0,0,0,3.6-3.6V25.2a3.6,3.6,0,0,0-3.6-3.6H48V19.2h1.2a3.6,3.6,0,0,0,3.6-3.6V6a3.6,3.6,0,0,0-3.6-3.6H6A3.6,3.6,0,0,0,2.4,6v9.6A3.6,3.6,0,0,0,6,19.2H7.2v2.4H6a3.6,3.6,0,0,0-3.6,3.6v9.6A3.6,3.6,0,0,0,6,38.4H7.2v2.4H6a3.6,3.6,0,0,0-3.6,3.6V54A3.6,3.6,0,0,0,6,57.6H49.2a3.559,3.559,0,0,0,1.2-.221V69.6c0,3.3,6.221,4.8,12,4.8s12-1.5,12-4.8V48C74.4,44.7,68.179,43.2,62.4,43.2Zm0,2.4c6.3,0,9.6,1.783,9.6,2.4s-3.3,2.4-9.6,2.4-9.6-1.783-9.6-2.4S56.1,45.6,62.4,45.6ZM45.6,40.8H40.8V38.4h4.8Zm-7.2-2.4v2.4H16.8V38.4Zm7.2-16.8H40.8V19.2h4.8Zm-7.2-2.4v2.4H16.8V19.2ZM4.8,15.6V6A1.2,1.2,0,0,1,6,4.8H49.2A1.2,1.2,0,0,1,50.4,6v9.6a1.2,1.2,0,0,1-1.2,1.2H6A1.2,1.2,0,0,1,4.8,15.6Zm4.8,3.6h4.8v2.4H9.6ZM4.8,34.8V25.2A1.2,1.2,0,0,1,6,24H49.2a1.2,1.2,0,0,1,1.2,1.2v9.6A1.2,1.2,0,0,1,49.2,36H6A1.2,1.2,0,0,1,4.8,34.8Zm4.8,3.6h4.8v2.4H9.6ZM49.2,55.2H6A1.2,1.2,0,0,1,4.8,54V44.4A1.2,1.2,0,0,1,6,43.2H49.2a1.2,1.2,0,0,1,1.2,1.2V54A1.2,1.2,0,0,1,49.2,55.2ZM62.4,72c-6.3,0-9.6-1.783-9.6-2.4V65.429A22.81,22.81,0,0,0,62.4,67.2,22.81,22.81,0,0,0,72,65.429V69.6C72,70.217,68.7,72,62.4,72Zm0-7.2c-6.3,0-9.6-1.783-9.6-2.4V58.229A22.81,22.81,0,0,0,62.4,60,22.81,22.81,0,0,0,72,58.229V62.4C72,63.017,68.7,64.8,62.4,64.8Zm0-7.2c-6.3,0-9.6-1.783-9.6-2.4V51.029A22.81,22.81,0,0,0,62.4,52.8,22.81,22.81,0,0,0,72,51.029V55.2C72,55.817,68.7,57.6,62.4,57.6Z"/><path class="a" d="M61.2,54h2.4v2.4H61.2Z"/><path class="a" d="M61.2,61.2h2.4v2.4H61.2Z"/><path class="a" d="M61.2,68.4h2.4v2.4H61.2Z"/><path class="a" d="M28.8,60H26.4v7.2a1.2,1.2,0,0,0,1.2,1.2H43.2V66H28.8Z"/><path class="a" d="M45.6,66H48v2.4H45.6Z"/></g></g></svg>
                        </div>
                        <h2 class="solutions-item__title">
                            <a href="#">Хранилище данных</a>
                        </h2>
                    </div>
                    <div class="solutions-item">
                        <div class="solutions-item-img-wrapp">
                            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" width="72" height="71" viewBox="0 0 72 71"><g><g clip-path="url(#clip-af567d27-ad49-4f43-b834-43dc204f6fc0)"><g><path  d="M2.867 63.9h23.666a.953.953 0 0 1 .858.527 3.303 3.303 0 0 0 2.972 1.84h6.82a3.305 3.305 0 0 0 2.974-1.84.948.948 0 0 1 .856-.527H64.4v2.367a2.366 2.366 0 0 1-2.367 2.366h-56.8a2.366 2.366 0 0 1-2.366-2.366zM62.033 71a4.733 4.733 0 0 0 4.734-4.733v-3.55c0-.654-.53-1.184-1.184-1.184h-2.366V42.6H60.85v18.933h-2.367V42.6h-2.366v18.933H41.013a3.303 3.303 0 0 0-2.972 1.838.949.949 0 0 1-.858.529h-6.82a.947.947 0 0 1-.856-.529 3.305 3.305 0 0 0-2.974-1.838H11.15V31.95c0-.654.53-1.183 1.183-1.183h21.3V28.4h-21.3a3.55 3.55 0 0 0-3.55 3.55v29.583H6.417v-31.95a3.55 3.55 0 0 1 3.55-3.55h23.666v-2.366H9.967a5.924 5.924 0 0 0-5.917 5.916v31.95H1.683c-.653 0-1.183.53-1.183 1.184v3.55A4.733 4.733 0 0 0 5.233 71z"/></g><g><path  d="M18.25 44.967h30.767v7.1H18.25zm-2.367-1.184v9.467c0 .654.53 1.183 1.184 1.183H50.2c.654 0 1.183-.53 1.183-1.183v-9.467c0-.653-.53-1.183-1.183-1.183H17.067c-.654 0-1.184.53-1.184 1.183z"/></g><g><path  d="M20.617 47.333h2.366V49.7h-2.366z"/></g><g><path  d="M25.35 47.333h2.367V49.7H25.35z"/></g><g><path  d="M30.083 47.333h2.367V49.7h-2.367z"/></g><g><path  d="M34.817 47.333h2.366V49.7h-2.366z"/></g><g><path  d="M69.133 36.255c0 .89-.723 1.611-1.612 1.612H39.979c-.89 0-1.612-.722-1.612-1.612V21.728c0-.89.723-1.611 1.612-1.611h27.542c.89 0 1.612.721 1.612 1.611zM46.65 17.75V14.2a7.1 7.1 0 0 1 14.2 0v3.55zm-4.733-3.55c0-6.536 5.297-11.833 11.833-11.833 6.536 0 11.833 5.297 11.833 11.833v3.55h-2.366V14.2a9.466 9.466 0 0 0-9.467-9.467 9.466 9.466 0 0 0-9.467 9.467v3.55h-2.366zm26.033 3.594V14.2c0-7.843-6.357-14.2-14.2-14.2-7.843 0-14.2 6.357-14.2 14.2v3.594A3.97 3.97 0 0 0 36 21.728v14.527a3.983 3.983 0 0 0 3.98 3.978h27.54a3.983 3.983 0 0 0 3.98-3.978V21.728a3.97 3.97 0 0 0-3.55-3.934z"/></g><g><path  d="M53.75 29.583a1.183 1.183 0 1 1 0-2.366 1.183 1.183 0 0 1 0 2.366zm0-4.733a3.542 3.542 0 0 0-1.183 6.882v2.585h2.366v-2.585a3.542 3.542 0 0 0-1.183-6.882z"/></g><g><path  d="M21.8 18.933h2.367V21.3H21.8z"/></g><g><path  d="M21.8 14.2h2.367v2.367H21.8z"/></g><g><path  d="M21.8 9.467h2.367v2.366H21.8z"/></g><g><path  d="M21.8 4.733h2.367V7.1H21.8z"/></g><g><path  d="M26.533 4.733H28.9V7.1h-2.367z"/></g><g><path  d="M31.267 4.733h2.366V7.1h-2.366z"/></g><g><path  d="M36 4.733h2.367V7.1H36z"/></g></g></g></svg>
                        </div>
                        <h2 class="solutions-item__title">
                            <a href="#">Противодействие мошенничеству</a>
                        </h2>
                    </div>
                    <div class="solutions-item">
                        <div class="solutions-item-img-wrapp">
                            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" width="72" height="72" viewBox="0 0 72 72"><g><g clip-path="url(#clip-3b18085f-50e3-491e-9f90-515060d1e14f)"><g><g><g><path  d="M.039 67.128V64.73h8.39v2.398z"/></g></g></g><g><g><g><path  d="M4.834 62.333v-2.398h8.39v2.398z"/></g></g></g><g><g><g><path  d="M.039 62.333v-2.398h2.397v2.398z"/></g></g></g><g><g><g><path  d="M4.834 71.922v-2.397h8.39v2.397z"/></g></g></g><g><g><g><path  d="M.039 71.922v-2.397h2.397v2.397z"/></g></g></g><g><g><g><path  d="M10.827 67.128V64.73h2.398v2.398z"/></g></g></g><g><g><g><path  d="M58.775 67.128V64.73h8.391v2.398z"/></g></g></g><g><g><g><path  d="M63.57 62.333v-2.398h8.391v2.398z"/></g></g></g><g><g><g><path  d="M58.775 62.333v-2.398h2.398v2.398z"/></g></g></g><g><g><g><path  d="M63.57 71.922v-2.397h8.391v2.397z"/></g></g></g><g><g><g><path  d="M58.775 71.922v-2.397h2.398v2.397z"/></g></g></g><g><g><g><path  d="M69.564 67.128V64.73h2.397v2.398z"/></g></g></g><g><g><g><path  d="M.039 8.391V5.994h8.39V8.39z"/></g></g></g><g><g><g><path  d="M4.834 3.596V1.2h8.39v2.397z"/></g></g></g><g><g><g><path  d="M.039 3.596V1.2h2.397v2.397z"/></g></g></g><g><g><g><path  d="M4.834 13.186v-2.398h8.39v2.398z"/></g></g></g><g><g><g><path  d="M.039 13.186v-2.398h2.397v2.398z"/></g></g></g><g><g><g><path  d="M10.827 8.391V5.994h2.398V8.39z"/></g></g></g><g><g><g><path  d="M58.775 8.391V5.994h8.391V8.39z"/></g></g></g><g><g><g><path  d="M63.57 3.596V1.2h8.391v2.397z"/></g></g></g><g><g><g><path  d="M58.775 3.596V1.2h2.398v2.397z"/></g></g></g><g><g><g><path  d="M63.57 13.186v-2.398h8.391v2.398z"/></g></g></g><g><g><g><path  d="M58.775 13.186v-2.398h2.398v2.398z"/></g></g></g><g><g><g><path  d="M69.564 8.391V5.994h2.397V8.39z"/></g></g></g><g><g><g><path  d="M62.372 53.942a2.397 2.397 0 1 1 0-4.795 2.397 2.397 0 0 1 0 4.795zm-4.795-2.398c.006.448.076.891.207 1.319L39.385 63.735a4.783 4.783 0 0 0-2.186-1.232V36.646L58.986 23.77a4.784 4.784 0 0 0 2.187 1.233V46.92a4.795 4.795 0 0 0-3.596 4.624zM36 69.525a2.397 2.397 0 1 1 0-4.795 2.397 2.397 0 0 1 0 4.795zM14.216 52.863a4.692 4.692 0 0 0-3.389-5.943V25.003a4.773 4.773 0 0 0 2.185-1.233l21.79 12.876v25.857a4.783 4.783 0 0 0-2.187 1.232zm-4.588 1.079a2.397 2.397 0 1 1 0-4.795 2.397 2.397 0 0 1 0 4.795zM7.231 20.378a2.397 2.397 0 1 1 4.795 0 2.397 2.397 0 0 1-4.795 0zm6.985-1.319L32.615 8.187a4.786 4.786 0 0 0 6.769.001h.001l18.4 10.871a4.296 4.296 0 0 0 0 2.638L36 34.568 14.216 21.697a4.296 4.296 0 0 0 0-2.638zM36 2.397a2.397 2.397 0 1 1 0 4.795 2.397 2.397 0 0 1 0-4.795zm26.372 15.584a2.397 2.397 0 1 1 0 4.794 2.397 2.397 0 0 1 0-4.794zm3.395 30.195a4.788 4.788 0 0 0-2.197-1.256V25.003a4.786 4.786 0 1 0-4.583-8.017l-18.4-10.873c.131-.427.201-.871.208-1.318a4.795 4.795 0 0 0-9.59 0c.007.447.077.89.208 1.318l-18.4 10.873a4.788 4.788 0 1 0-4.583 8.017V46.92a4.786 4.786 0 1 0 4.583 8.017l18.4 10.872a4.795 4.795 0 1 0 9.174 0l18.4-10.872a4.788 4.788 0 0 0 6.78-6.761z"/></g></g></g><g><g><g><path  d="M27.862 42.164l-1.22-2.064 1.929-1.14 1.22 2.064z"/></g></g></g><g><g><g><path  d="M24.006 44.444l-1.22-2.064 1.929-1.14 1.22 2.064z"/></g></g></g><g><g><g><path  d="M31.721 39.884l-1.22-2.064 1.929-1.14 1.22 2.064z"/></g></g></g><g><g><g><path  d="M20.151 46.72l-1.22-2.064 1.93-1.14 1.219 2.064z"/></g></g></g><g><g><g><path  d="M16.288 49.003l-1.22-2.064 1.929-1.14 1.22 2.064z"/></g></g></g><g><g><g><path  d="M55.71 48.996l-1.93-1.14L55 45.794l1.929 1.14z"/></g></g></g><g><g><g><path  d="M51.854 46.718l-1.929-1.14 1.22-2.063 1.929 1.14z"/></g></g></g><g><g><g><path  d="M47.992 44.443l-1.929-1.14 1.22-2.064 1.928 1.14z"/></g></g></g><g><g><g><path  d="M40.275 39.887l-1.929-1.14 1.22-2.064 1.928 1.14z"/></g></g></g><g><g><g><path  d="M44.137 42.161l-1.929-1.14 1.22-2.064 1.929 1.14z"/></g></g></g><g><g><g><path  d="M34.801 32.365v-2.397H37.2v2.397z"/></g></g></g><g><g><g><path  d="M34.801 27.57v-2.397H37.2v2.397z"/></g></g></g><g><g><g><path  d="M34.801 22.775v-2.397H37.2v2.397z"/></g></g></g><g><g><g><path  d="M34.801 17.98v-2.397H37.2v2.398z"/></g></g></g><g><g><g><path  d="M34.801 13.186v-2.398H37.2v2.398z"/></g></g></g></g></g></svg>
                        </div>
                        <h2 class="solutions-item__title">
                            <a href="#">Data Governance</a>
                        </h2>
                    </div>
                    <div class="solutions-item">
                        <div class="solutions-item-img-wrapp">
                            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" width="72" height="72" viewBox="0 0 72 72"><g><g clip-path="url(#clip-5824116d-a5cd-41ed-ad61-7cd46945b5c6)"><g><path  d="M50.1 23.226a4.638 4.638 0 0 0 3.32 3.319V37.62l-5.994-9.22c-.428-.659-1.52-.659-1.948 0l-2.51 3.86v-9.034zm4.48-3.484a2.325 2.325 0 0 1 2.323 2.322 2.325 2.325 0 0 1-2.322 2.323 2.325 2.325 0 0 1-2.323-2.323 2.325 2.325 0 0 1 2.323-2.322zM33.496 51.097l12.957-19.934 12.956 19.934zm19.924 8.129H31.19a4.638 4.638 0 0 0-3.318-3.32V44.109c.387.013.775.021 1.161.021 2.374 0 4.642-.227 6.645-.652l-5.296 8.148a1.162 1.162 0 0 0 .974 1.794h22.064zM26.71 62.71a2.325 2.325 0 0 1-2.322-2.323 2.325 2.325 0 0 1 2.323-2.323 2.325 2.325 0 0 1 2.322 2.323 2.325 2.325 0 0 1-2.322 2.323zM17.42 34.7c2.631 1.621 7.134 2.461 11.613 2.461 4.48 0 8.983-.84 11.613-2.46v1.133l-3.057 4.703c-2.256.806-5.342 1.27-8.556 1.27-6.982 0-11.613-2.098-11.613-3.484zm0-6.967c2.631 1.62 7.134 2.46 11.613 2.46 4.48 0 8.983-.84 11.613-2.46v3.622c0 1.386-4.63 3.484-11.613 3.484-6.982 0-11.613-2.098-11.613-3.484zm0-6.968c2.631 1.621 7.134 2.46 11.613 2.46 4.48 0 8.983-.839 11.613-2.46v3.622c0 1.386-4.63 3.484-11.613 3.484-6.982 0-11.613-2.098-11.613-3.484zm11.613-6.83c6.982 0 11.613 2.098 11.613 3.484 0 1.387-4.63 3.484-11.613 3.484-6.982 0-11.613-2.097-11.613-3.484 0-1.386 4.631-3.484 11.613-3.484zm0-2.322c-6.924 0-13.935 1.994-13.935 5.806v20.904c0 3.168 4.842 5.075 10.452 5.63v11.954c-2 .519-3.484 2.323-3.484 4.48a4.65 4.65 0 0 0 4.645 4.645c2.159 0 3.961-1.486 4.48-3.484h23.39c.643 0 1.162-.52 1.162-1.16v-6.969h5.807a1.162 1.162 0 0 0 .974-1.794l-6.78-10.432V26.545c1.998-.52 3.483-2.323 3.483-4.48a4.65 4.65 0 0 0-4.645-4.646c-2.159 0-3.962 1.487-4.48 3.484h-7.133V17.42c0-3.812-7.01-5.806-13.936-5.806z"/></g><g><path  d="M45.29 46.452h2.323v2.322H45.29z"/></g><g><path  d="M45.29 37.161h2.323v6.968H45.29z"/></g><g><path  d="M36 0C24.42 0 13.746 5.458 6.968 14.715v-4.263H4.645v6.967c0 .641.52 1.162 1.162 1.162h6.967v-2.323H8.712C15.047 7.494 25.095 2.323 36 2.323c18.57 0 33.677 15.106 33.677 33.677 0 18.57-15.108 33.677-33.677 33.677C17.43 69.677 2.323 54.57 2.323 36c0-5.112 1.116-10.022 3.316-14.593L3.546 20.4C1.193 25.287 0 30.536 0 36 0 55.85 16.15 72 36 72s36-16.15 36-36S55.851 0 36 0z"/></g></g></g></svg>
                        </div>
                        <h2 class="solutions-item__title">
                            <a href="#">Управление рисками</a>
                        </h2>
                    </div>
                    <div class="solutions-item">
                        <div class="solutions-item-img-wrapp">
                            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" width="70" height="72" viewBox="0 0 70 72"><g><g clip-path="url(#clip-96885f50-292d-4a78-8975-89eeef77d998)"><g><g><g><path  d="M5.215 7.446V4.964h2.482v2.482z"/></g></g></g><g><g><g><path  d="M10.179 7.446V4.964h2.482v2.482z"/></g></g></g><g><g><g><path  d="M15.143 7.446V4.964h2.482v2.482z"/></g></g></g><g><g><g><path  d="M53.616 64.535a8.687 8.687 0 1 1 8.688-8.687 8.697 8.697 0 0 1-8.688 8.688zm0-19.857c-6.169 0-11.17 5.001-11.17 11.17s5.001 11.17 11.17 11.17c6.17 0 11.17-5.001 11.17-11.17-.008-6.166-5.004-11.162-11.17-11.17z"/></g></g></g><g><g><g><path  d="M53.616 69.5c-7.54 0-13.652-6.112-13.652-13.652 0-7.54 6.113-13.652 13.652-13.652 7.54 0 13.652 6.112 13.652 13.652-.009 7.536-6.116 13.643-13.652 13.652zM37.933 59.57zm-32.718 0a2.482 2.482 0 0 1-2.483-2.482V12.411h59.572v29.863c-7.465-4.822-17.425-2.68-22.247 4.785a16.091 16.091 0 0 0-2.124 12.512zM2.732 4.964a2.482 2.482 0 0 1 2.483-2.482h54.607a2.482 2.482 0 0 1 2.482 2.482V9.93H2.732zm65.78 44.719a16.127 16.127 0 0 0-3.726-5.45V4.964A4.964 4.964 0 0 0 59.822 0H5.215A4.964 4.964 0 0 0 .25 4.964V57.09a4.964 4.964 0 0 0 4.965 4.964h33.508c3.416 8.226 12.854 12.126 21.08 8.71 8.226-3.416 12.125-12.854 8.71-21.08z"/></g></g></g><g><g><g><path  d="M58.324 51.868l-5.949 5.948-2.846-2.845-1.755 1.754 3.724 3.724c.484.484 1.27.484 1.755 0l6.825-6.826z"/></g></g></g><g><g><g><path  d="M13.902 23.58H8.938v-4.964h3.21l-1.606 1.605 1.755 1.755 1.605-1.605zm2.846-9.565l-2.119 2.119H7.697c-.686 0-1.241.556-1.241 1.24v7.447c0 .686.555 1.241 1.24 1.241h7.447c.685 0 1.241-.555 1.241-1.24v-6.933l2.119-2.119z"/></g></g></g><g><g><g><path  d="M21.348 18.616v-2.482h2.483v2.482z"/></g></g></g><g><g><g><path  d="M26.313 18.616v-2.482H58.58v2.482z"/></g></g></g><g><g><g><path  d="M21.348 23.58v-2.482h32.268v2.482z"/></g></g></g><g><g><g><path  d="M13.902 38.473H8.938V33.51h3.21l-1.606 1.605 1.755 1.754 1.605-1.604zm2.846-9.565l-2.119 2.119H7.697c-.686 0-1.241.555-1.241 1.24v7.447c0 .686.555 1.241 1.24 1.241h7.447c.685 0 1.241-.555 1.241-1.24v-6.933l2.119-2.119z"/></g></g></g><g><g><g><path  d="M21.348 33.509v-2.482h2.483v2.482z"/></g></g></g><g><g><g><path  d="M26.313 33.509v-2.482H58.58v2.482z"/></g></g></g><g><g><g><path  d="M21.348 38.473v-2.482h26.063v2.482z"/></g></g></g><g><g><g><path  d="M13.902 53.366H8.938v-4.964h3.21l-1.606 1.604 1.755 1.755 1.605-1.605zm2.846-9.565l-2.119 2.118H7.697c-.686 0-1.241.556-1.241 1.242v7.446c0 .685.555 1.241 1.24 1.241h7.447c.685 0 1.241-.556 1.241-1.241v-6.933l2.119-2.118z"/></g></g></g><g><g><g><path  d="M21.348 48.402v-2.483h2.483v2.483z"/></g></g></g><g><g><g><path  d="M26.313 48.402v-2.483h9.928v2.483z"/></g></g></g><g><g><g><path  d="M21.348 53.366v-2.482H35v2.482z"/></g></g></g></g></g></svg>
                        </div>
                        <h2 class="solutions-item__title">
                            <a href="#">Стресс-тестирование</a>
                        </h2>
                    </div>
                </div>
                <a href="#" class="btn">Узнать подробнее</a>
            </div>
        </section>
        <section class="section section-clients">
            <div class="container">
                <div class="float-header">
                    <span>С кем мы</span>
                    <span>работаем?</span>
                </div>
                <div class="section-top">
                    <h2 class="section-header">
                        <span>С нами компании </span>
                        прогрессируют
                    </h2>
                    <p class="section__description">
                        Мы позиционирует себя, как инновационную компанию, услуги которой направлены на увеличение
                        ценности и стабильности бизнеса наших клиентов. </p>
                </div>
                <div class="clients-list">
                    <div class="clients-item">
                        <h4 class="clients-item__title">Финансовый
                            сектор</h4>
                        <span class="clients-item__subtitle">Российские и зарубежные банки</span>
                    </div>
                    <div class="clients-item">
                        <h4 class="clients-item__title">Государственный
                            сектор</h4>
                        <span class="clients-item__subtitle">Телеком операторы</span>
                    </div>
                    <div class="clients-item">
                        <h4 class="clients-item__title">Производственный
                            сектор</h4>
                        <span class="clients-item__subtitle">Ритэйл</span>
                    </div>
                </div>
            </div>
            <div class="container container-client-slider">
                <div class="clients-slider-wrapp">
                    <div class="float-header">
                        <span>Кто наши</span>
                        <span>Клиенты?</span>
                    </div>
                    <div class="clients-slider">
                        <div class="clients-slider-item">
                            <img src="./images/client-1.svg" alt="">
                            <img src="./images/client-2.svg" alt="">
                            <img src="./images/client-3.svg" alt="">
                            <img src="./images/client-4.svg" alt="">
                            <img src="./images/client-5.svg" alt="">
                            <img src="./images/client-6.svg" alt="">
                            <img src="./images/client-7.svg" alt="">
                            <img src="./images/client-8.svg" alt="">
                            <img src="./images/client-9.svg" alt="">
                            <img src="./images/client-10.svg" alt="">
                            <img src="./images/client-11.svg" alt="">
                            <img src="./images/client-12.svg" alt="">
                            <img src="./images/client-13.svg" alt="">
                            <img src="./images/client-14.svg" alt="">
                        </div>
                        <div class="clients-slider-item">
                            <img src="./images/client-11.svg" alt="">
                            <img src="./images/client-12.svg" alt="">
                            <img src="./images/client-13.svg" alt="">
                            <img src="./images/client-14.svg" alt="">
                            <img src="./images/client-5.svg" alt="">
                            <img src="./images/client-6.svg" alt="">
                            <img src="./images/client-7.svg" alt="">
                            <img src="./images/client-8.svg" alt="">
                            <img src="./images/client-9.svg" alt="">
                            <img src="./images/client-10.svg" alt="">
                            <img src="./images/client-1.svg" alt="">
                            <img src="./images/client-2.svg" alt="">
                            <img src="./images/client-3.svg" alt="">
                            <img src="./images/client-4.svg" alt="">
                        </div>
                        <div class="clients-slider-item">
                            <img src="./images/client-12.svg" alt="">
                            <img src="./images/client-2.svg" alt="">
                            <img src="./images/client-3.svg" alt="">
                            <img src="./images/client-4.svg" alt="">
                            <img src="./images/client-9.svg" alt="">
                            <img src="./images/client-6.svg" alt="">
                            <img src="./images/client-7.svg" alt="">
                            <img src="./images/client-8.svg" alt="">
                            <img src="./images/client-5.svg" alt="">
                            <img src="./images/client-10.svg" alt="">
                            <img src="./images/client-11.svg" alt="">
                            <img src="./images/client-1.svg" alt="">
                            <img src="./images/client-13.svg" alt="">
                            <img src="./images/client-14.svg" alt="">
                        </div>
                    </div>
                    <div class="clients-slider-dots"></div>
                </div>
                <a href="#" class="btn">Связаться с нами</a>
            </div>
        </section>
        <section class="section section-projects">
            <div class="container">
                <div class="s-projects-frame-1"></div>

                <div class="float-header float-header--left">
                    <span>Какие проекты</span>
                    <span>мы реализовали?</span>
                </div>
                <div class="projects-list">
                    <div class="projects-item">
                        <a class="projects-title__link" href="#">
                            <h5 class="projects-title">
                                Подсистема отчетности на основе SAS DI\SAS BI</h5>
                        </a>
                        <p class="projects-description">
                            Создание витрины данных с результатами расчетов и возможностью формирования итоговой
                            от-четности
                        </p>
                    </div>
                    <div class="projects-item">
                        <a class="projects-title__link" href="#">
                            <h5 class="projects-title">
                                Финансовая аналитика для оператора связи на <br> основе SAS Cost & Profitability
                                Management
                            </h5>
                        </a>
                        <p class="projects-description">
                            Реализован расчет себестоимости услуг связи, услуг передачи данных, непрофильных видов
                            дея-тельности (аренда и прочее). Результаты расчета являются основой для обоснования тарифов
                            в ФСТ.
                        </p>
                    </div>
                    <div class="projects-item">
                        <a class="projects-title__link" href="#">
                            <h5 class="projects-title">
                                Хранилище данных на основе Hadoop
                            </h5>
                        </a>
                        <p class="projects-description">
                            Обеспечение полного цикла решения бизнес задач от постановки задач до управления проектом
                            благодаря применению технологии Hadoop системному подходу к решению задач по управлению
                            качеством данных
                        </p>
                    </div>
                    <div class="projects-item-all">
                        <img src="./icons/right-arrow-primary.svg" alt="">
                        <a href="#">Посмотреть все проекты</a>
                    </div>
                </div>
                <div class="projects-buttons">
                    <a href="#" class="btn">Обсудить решение</a>
                    <a href="projects.html" class="btn btn-emty-gray projects-buttons__all">Посмотреть все проекты</a>
                </div>
            </div>
        </section>
        <section class="section section-news_on-main">
            <div class="container">
                <div class="s-news-frame-1"></div>

                <div class="float-header float-header--left">
                    <span>Новости</span>
                    <span>компании</span>
                </div>
                <div class="news__more news__more_on-main">
                    <!-- NEWS 1 -->
                    <div class="news-item news-item_smaller">
                        <div class="news-item__image">
                            <img src="./images/news-image-1.jpg" alt="Новость 1" />
                        </div>
                        <div class="news-item__body">
                            <div class="news-item__date">12.03.2020</div>
                            <div class="news-item__header">
                                <a href="#">По итогам Hackathon in SAS Viya 2020, организованного SAS Institute  команда DataFrame стала лучшей среди российских участников...</a>
                            </div>
                            <div class="news-item__button">
                                <div class="square-btn">
                                    <span>Узнать подробнее</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- NEWS 2 -->
                    <div class="news-item news-item_smaller">
                        <div class="news-item__image">
                            <img src="./images/news-image-2.jpg" alt="Новость 2" />
                        </div>
                        <div class="news-item__body">
                            <div class="news-item__date">20.02.2020</div>
                            <div class="news-item__header">
                                <a href="#">Команда студентов МИРЭА, которые проходят стажировку в нашей компании, приняли участие в международном Хакатоне, организованном SAS Institute...</a>
                            </div>
                            <div class="news-item__button">
                                <div class="square-btn">
                                    <span>Узнать подробнее</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- NEWS LINE -->
                    <div class="news-item__line"></div>
                    <!-- NEWS 3 -->
                    <div class="news-item news-item_smaller">
                        <div class="news-item__image">
                            <img src="./images/news-image-3.jpg" alt="Новость 3" />
                        </div>
                        <div class="news-item__body">
                            <div class="news-item__date">15.02.2020</div>
                            <div class="news-item__header">
                                <a href="#">В конце 2019 года команда наших разработчиков и аналитиков совместно с SAS Institute успешно внедрила и протестировала решение SAS Marketing Optimization... </a>
                            </div>
                            <div class="news-item__button">
                                <div class="square-btn">
                                    <span>Узнать подробнее</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- NEWS 4 -->
                    <div class="news-item news-item_smaller">
                        <div class="news-item__image">
                            <img src="./images/news-image-4.jpg" alt="Новость 4" />
                        </div>
                        <div class="news-item__body">
                            <div class="news-item__date">17.01.2020</div>
                            <div class="news-item__header">
                                <a href="#">В конце 2019 года команда наших разработчиков и аналитиков совместно с SAS Institute успешно внедрила и протестировала решение SAS Marketing Optimization... </a>
                            </div>
                            <div class="news-item__button">
                                <div class="square-btn">
                                    <span>Узнать подробнее</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- -->
                </div>
                <div class="projects-buttons news-page__button-more-news">
                    <a href="#" class="btn">Узнать подробнее</a>
                </div>
            </div>
        </section>
        <section class="section section-team">
            <div class="container">
                <div class="float-header">
                    <span>Кто в нашей</span>
                    <span>команде?</span>
                </div>
                <div class="section-top">
                    <h2 class="section-header">
                        <span>Мы умеем добиваться</span>
                        поставленных задач
                    </h2>
                    <p class="section__description">
                        Мы искренне уверены, что наши этические принципы, уважительное отношение, значительный опыт в
                        области ИТ и преданность нашему делу вносят большой позитивный вклад в трансформацию ИТ решений
                        и всего бизнеса в целом для наших заказчиков.</p>
                </div>
                <div class="team-list">
                    <div class="team-inner-frame">
                        <div class="team-item">
                            <div class="team-item-img-wrapp">
                                <img src="./images/ceo.jpg" alt="">
                            </div>
                            <span class="team__name">Марченко Мария</span>
                            <span class="team__profession">CEO</span>
                            <p class="team__description">
                                Мария имеет опыт работы на российском ИТ рынке более 10 лет. Занимала руководящие
                                должности в представительствах зарубежных компаний, таких Сisco Capital LLC, Data Space
                                LLC.
                            </p>
                        </div>
                        <div class="team-item">
                            <div class="team-item-img-wrapp">
                                <img src="./images/managing.jpg" alt="">
                            </div>
                            <span class="team__name">Солдатенко Надежда</span>
                            <span class="team__profession">Управляющий директор</span>
                            <p class="team__description">
                                Надежда более 18 лет работает в сфере ИТ. За это время задачи,
                                реализованные Надеждой расширились от внедрения бизнес-приложений до ИТ-консалтинга.
                                Имеет успешный опыт в руководстве командами до 200 человек.
                            </p>
                        </div>
                        <div class="team-item">
                            <div class="team-item-img-wrapp">
                                <img src="./images/director.jpg" alt="">
                            </div>
                            <span class="team__name">Степанов Александр</span>
                            <span class="team__profession">Директор Техничесткого Департамента</span>
                            <p class="team__description">
                                Александр имеет опыт в ИТ сфере
                                более 17 лет.
                                Из них более 7 лет работал в роли руководителя проектов в сфере внедрения аналитических систем.
                            </p>
                        </div>
                        <div class="team-item">
                            <div class="team-item-img-wrapp">
                                <img src="./images/developer.jpg" alt="">
                            </div>
                            <span class="team__name">Байдаков Михаил</span>
                            <span class="team__profession">Директор Департамента разработки</span>
                            <p class="team__description">
                                Михаил имеет опыт в ИТ сфере более 20-ти лет, более 10-ти лет занимается
                                внедрением аналитических систем и разработкой хранилищ данных.
                                Принимал участие по внедрению проектов в МТС, ВТБ, Сбербанк,
                                Юникредит, МГТС и др., внедрял ERP системы в Связьинвест и МГТС.
                            </p>
                        </div>
                    </div>
                </div>
                <a href="#" class="btn">Узнать подробнее</a>
            </div>
        </section>
        <section class="section section-contact">
            <div class="container">
                <div class="float-header">
                    <span>Как с нами</span>
                    <span>связаться?</span>
                </div>
                <div class="section-top">
                    <h2 class="section-header">
                        <span>Просто</span>
                        заполните форму!
                    </h2>
                    <p class="section__description">
                        Расскажите подробнее о вашей задаче и получите ответ с <br> предварительным расчетом стоимости уже в
                        течение 15 минут.
                    </p>
                </div>
            </div>
            <div class="contact-main">
                <div class="container">
                    <div class="contact-form-block">
                        <form class="contact-form" action="">
                            <div class="contact-inputs">
                                <div class="contact-row">
                                    <input type="text"  class="input" placeholder="Ваше имя*" required>
                                    <input type="email" class="input error" value="wrongemail" placeholder="Ваш email*" required>
                                    <input type="email" class="input" placeholder="Ваш номер телефон">
                                </div>
                                <div class="contact-row">
                                    <textarea class="textarea error" placeholder="Задайте ваш вопрос или опишите задачу *"></textarea>
                                </div>
                            </div>
                            <label class="contact__label" for="policy">
                                <input type="checkbox" id="policy" checked>
                                C политикой конфиденциальности ознакомлен и согласен
                            </label>
                            <button class="btn btn-emty contact__submit" type="submit">Отправить сообщение</button>
                        </form>
                    </div>
                    <div class="contact-info">
                        <p class="contact__address">
                            123100, г. Москва, <br>
                            Москва-Сити, Пресненская набережная,<br>
                            д.12, башня Федерация-Восток, 12 этаж,<br>
                            офис Б2
                        </p>
                        <a class="contact__mail" href="mailto:info@data-frame.ru">info@data-frame.ru</a>
                        <a class="contact__tel" href="tel:+74954813325">+7 (495) 481-33-25</a>
                    </div>
                </div>

            </div>

        </section>
        <%= require('html-loader?attrs[]=!./components/footer.html') %>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        $('.clients-slider').slick({
            dots: true,
            appendDots: $('.clients-slider-dots'),
        })
    </script>
</body>

</html>