<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News Inner. </title>
</head>

<body class="text-page news-inner">
    <div class="wrapper">
        <%= require('html-loader?attrs[]=!./components/header.html') %>
        <%= require('html-loader?attrs[]=!./components/modal.html') %>
        <div class="content">
            <div class="breadcrumbs">
                <div class="container">
                    <ul class="breadcrumbs-list">
                        <li><a href="#">Главная</a></li>
                        <li><a href="news.html">Новости</a></li>
                        <li><span>Команда студентов МИРЭА  приняли участие в международном Хакатоне</span></li>
                    </ul>
                </div>
            </div>
            <div class="news__top">
                <div class="container">
                    <div class="news__header">
                        <h1>Команда студентов МИРЭА, приняли участие в международном Хакатоне </h1>
                        <div class="news__cover">
                            <img src="./images/news-big-1.jpg" alt="Новости">
                        </div>
                    </div>
                </div>
            </div>
            <div class="news__text">
                <div class="container">
                    <p>Команда студентов МИРЭА, которые проходят стажировку в нашей компании, приняли участие в международном
                        Хакатоне, организованном SAS Institute. Ребята использовали статистический подход, снижающий незначительные
                        факторы, при разработке модели,анализирующей пути развития игровых персонажей для помощи игрокам в
                        популярнойвиртуальной игре DOTA 2, комбинируя возможности платформ SAS Viya, SAS Studio и языка Python.
                        Также, своими силами участники сделали презентационный фильм о данном  решении.</p>

                    <p>Желаем ребятам успехов и ждем результатов Хакатона.</p>

                    <p><a href="https://www.sas.com/sas/events/20/sas-emea-hackathon-2020/partner-registered.html">https://www.sas.com/sas/events/20/sas-emea-hackathon-2020/partner-registered.html</a></p>

                    <div class="text-page-buttons">
                        <a href="#" class="btn btn-emty">Вернуться</a>
                    </div>
                </div>
            </div>

            <section class="section-news">
                <div class="container">
                    <h4 class="news__title">
                        <span>Другие</span>
                        новости
                    </h4>
                    <div class="news__more">
                        <!-- NEWS 1 -->
                        <div class="news-item news-item_smaller">
                            <div class="news-item__image">
                                <img src="./images/news-image-1.jpg" alt="Новость 1" />
                            </div>
                            <div class="news-item__body">
                                <div class="news-item__date">12.03.2020</div>
                                <div class="news-item__header">
                                    <a href="#">По итогам Hackathon in SAS Viya 2020, организованного SAS Institute  команда DataFrame стала лучшей среди российских участников...</a>
                                </div>
                                <div class="news-item__button">
                                    <div class="square-btn">
                                        <span>Узнать подробнее</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- NEWS 2 -->
                        <div class="news-item news-item_smaller">
                            <div class="news-item__image">
                                <img src="./images/news-image-2.jpg" alt="Новость 2" />
                            </div>
                            <div class="news-item__body">
                                <div class="news-item__date">20.02.2020</div>
                                <div class="news-item__header">
                                    <a href="#">Команда студентов МИРЭА, которые проходят стажировку в нашей компании, приняли участие в международном Хакатоне, организованном SAS Institute...</a>
                                </div>
                                <div class="news-item__button">
                                    <div class="square-btn">
                                        <span>Узнать подробнее</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- NEWS LINE -->
                        <div class="news-item__line"></div>
                        <!-- NEWS 3 -->
                        <div class="news-item news-item_smaller">
                            <div class="news-item__image">
                                <img src="./images/news-image-3.jpg" alt="Новость 3" />
                            </div>
                            <div class="news-item__body">
                                <div class="news-item__date">15.02.2020</div>
                                <div class="news-item__header">
                                    <a href="#">В конце 2019 года команда наших разработчиков и аналитиков совместно с SAS Institute успешно внедрила и протестировала решение SAS Marketing Optimization... </a>
                                </div>
                                <div class="news-item__button">
                                    <div class="square-btn">
                                        <span>Узнать подробнее</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- NEWS 4 -->
                        <div class="news-item news-item_smaller">
                            <div class="news-item__image">
                                <img src="./images/news-image-4.jpg" alt="Новость 4" />
                            </div>
                            <div class="news-item__body">
                                <div class="news-item__date">17.01.2020</div>
                                <div class="news-item__header">
                                    <a href="#">В конце 2019 года команда наших разработчиков и аналитиков совместно с SAS Institute успешно внедрила и протестировала решение SAS Marketing Optimization... </a>
                                </div>
                                <div class="news-item__button">
                                    <div class="square-btn">
                                        <span>Узнать подробнее</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- -->
                    </div>
                </div>
            </section>
        </div>
        <%= require('html-loader?attrs[]=!./components/footer.html') %>
    </div>
</body>