<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News page</title>
</head>

<body class="news">
    <div class="wrapper">
        <%= require('html-loader?attrs[]=!./components/header.html') %>
        <%= require('html-loader?attrs[]=!./components/modal.html') %>
        <div class="content">
            <div class="page-banner">
                <div class="container">
                    <div class="page-top">
                        <h1 class="page-title">
                            <span class="inline-block">Новости</span>
                            компании
                        </h1>
                    </div>
                </div>
            </div>

            <div class="container news__showcase">
                <!-- NEWS 1 -->
                <div class="news-item">
                    <div class="news-item__image">
                        <img src="./images/news-image-1.jpg" alt="Новость 1" />
                    </div>
                    <div class="news-item__body">
                        <div class="news-item__date">12.03.2020</div>
                        <div class="news-item__header">
                            <a href="#">По итогам Hackathon in SAS Viya 2020, организованного SAS Institute  команда DataFrame стала лучшей среди российских участников...</a>
                        </div>
                        <div class="news-item__button">
                            <div class="square-btn">
                                <span>Узнать подробнее</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- NEWS 2 -->
                <div class="news-item">
                    <div class="news-item__image">
                        <img src="./images/news-image-2.jpg" alt="Новость 2" />
                    </div>
                    <div class="news-item__body">
                        <div class="news-item__date">20.02.2020</div>
                        <div class="news-item__header">
                            <a href="#">Команда студентов МИРЭА, которые проходят стажировку в нашей компании, приняли участие в международном Хакатоне, организованном SAS Institute...</a>
                        </div>
                        <div class="news-item__button">
                            <div class="square-btn">
                                <span>Узнать подробнее</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- NEWS 3 -->
                <div class="news-item">
                    <div class="news-item__image">
                        <img src="./images/news-image-3.jpg" alt="Новость 3" />
                    </div>
                    <div class="news-item__body">
                        <div class="news-item__date">15.02.2020</div>
                        <div class="news-item__header">
                            <a href="#">В конце 2019 года команда наших разработчиков и аналитиков совместно с SAS Institute успешно внедрила и протестировала решение SAS Marketing Optimization... </a>
                        </div>
                        <div class="news-item__button">
                            <div class="square-btn">
                                <span>Узнать подробнее</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- NEWS 4 -->
                <div class="news-item news-migratory">
                    <div class="news-item__image">
                        <img src="./images/news-image-4.jpg" alt="Новость 4" />
                    </div>
                    <div class="news-item__body">
                        <div class="news-item__date">17.01.2020</div>
                        <div class="news-item__header">
                            <a href="#">В конце 2019 года команда наших разработчиков и аналитиков совместно с SAS Institute успешно внедрила и протестировала решение SAS Marketing Optimization...</a>
                        </div>
                        <div class="news-item__button">
                            <div class="square-btn">
                                <span>Узнать подробнее</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- -->
            </div>


            <div class="container news-list">
                <div class="news-list__blocks"></div>
                <!-- NEWS 1 -->
                <div class="news-list__item news-migratory">
                    <div class="news-list__image">
                        <img src="./images/news-small-1.jpg" alt="Новость 1" />
                    </div>
                    <div class="news-list__body">
                        <div class="news-list__date">
                            17.01.2020
                        </div>
                        <div class="news-list__header">
                            <a href="#">
                                Компания ООО «Дата Фрейм» находится в процессе присоединения к компании ООО
                                «Артком Системы» (компания, также входящая в группу РБ). Данная реорганизация
                                позволит нам покрывать еще больший объем бизнеса и расширит наши компетенции...
                            </a>
                        </div>
                    </div>
                </div>
                <!-- NEWS 2 -->
                <div class="news-list__item">
                    <div class="news-list__image">
                        <img src="./images/news-small-2.jpg" alt="Новость 2" />
                    </div>
                    <div class="news-list__body">
                        <div class="news-list__date">
                            17.01.2020
                        </div>
                        <div class="news-list__header">
                            <a href="#">
                                Компания ООО «Дата Фрейм» находится в процессе присоединения к компании ООО
                                «Артком Системы» (компания, также входящая в группу РБ). Данная реорганизация
                                позволит нам покрывать еще больший объем бизнеса и расширит наши компетенции...
                            </a>
                        </div>
                    </div>
                </div>
                <!-- NEWS 3 -->
                <div class="news-list__item">
                    <div class="news-list__image">
                        <img src="./images/news-small-3.jpg" alt="Новость 3" />
                    </div>
                    <div class="news-list__body">
                        <div class="news-list__date">
                            17.01.2020
                        </div>
                        <div class="news-list__header">
                            <a href="#">
                                Компания ООО «Дата Фрейм» находится в процессе присоединения к компании ООО
                                «Артком Системы» (компания, также входящая в группу РБ). Данная реорганизация
                                позволит нам покрывать еще больший объем бизнеса и расширит наши компетенции...
                            </a>
                        </div>
                    </div>
                </div>
                <!-- NEWS 4 -->
                <div class="news-list__item">
                    <div class="news-list__image">
                        <img src="./images/news-small-4.jpg" alt="Новость 4" />
                    </div>
                    <div class="news-list__body">
                        <div class="news-list__date">
                            17.01.2020
                        </div>
                        <div class="news-list__header">
                            <a href="#">
                                Компания ООО «Дата Фрейм» находится в процессе присоединения к компании ООО
                                «Артком Системы» (компания, также входящая в группу РБ). Данная реорганизация
                                позволит нам покрывать еще больший объем бизнеса и расширит наши компетенции...
                            </a>
                        </div>
                    </div>
                </div>
                <!-- NEWS 5 -->
                <div class="news-list__item">
                    <div class="news-list__image">
                        <img src="./images/news-small-5.jpg" alt="Новость 5" />
                    </div>
                    <div class="news-list__body">
                        <div class="news-list__date">
                            17.01.2020
                        </div>
                        <div class="news-list__header">
                            <a href="#">
                                Компания ООО «Дата Фрейм» находится в процессе присоединения к компании ООО
                                «Артком Системы» (компания, также входящая в группу РБ). Данная реорганизация
                                позволит нам покрывать еще больший объем бизнеса и расширит наши компетенции...
                            </a>
                        </div>
                    </div>
                </div>

                <!-- PAGING -->
                <div class="container pager__container">
                    <div class="pager">
                        <div class="pager__left">
                            <a href="#"></a>
                        </div>
                        <div class="pager__list">
                            <div class="pager__item active"><a href="#">1</a></div>
                            <div class="pager__item"><a href="#">2</a></div>
                            <div class="pager__item"><a href="#">3</a></div>
                            <div class="pager__item"><a href="#">4</a></div>
                            <div class="pager__item"><a href="#">5</a></div>
                        </div>
                        <div class="pager__right">
                            <a href="#"></a>
                        </div>
                    </div>
                </div>
            </div> <!-- container news-list -->
        </div>
        <%= require('html-loader?attrs[]=!./components/footer.html') %>
    </div>
</body>