<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projects page</title>
</head>

<body class="projects-page">
    <div class="wrapper">
        <%= require('html-loader?attrs[]=!./components/header.html') %>
        <%= require('html-loader?attrs[]=!./components/modal.html') %>
        <div class="content">
            <div class="page-banner">
                <div class="container">
                    <div class="page-top">
                        <h1 class="page-title">
                            <span>Проекты, реализованные</span>
                            нашей командой
                        </h1>
                        <p class="page-description">
                            Дата Фрейм — это прекрасный партнер для трансформации вашего бизнеса, который поможет вам
                            найти новые возможности развития бизнеса и технически поддержать расширение вашей компании в
                            другие сектора и выход на новые рынки.
                        </p>
                    </div>
                </div>
            </div>
            <div class="container p-projects-container">
                <div class="p-projects-frame-base-1"></div>
                <div class="p-projects-frame-base-2"></div>
                <div class="p-projects-frame-base-3"></div>

                <!-- Line 1 -->
                <div class="p-projects-row">
                    <div class="p-projects-image">
                        <img src="./icons/project_icon_radio.svg" alt="" />
                        <h2>Топ 3
                            <span>Оператор связи РФ</span>
                        </h2>
                    </div>
                    <div class="p-projects-item__group">
                        <div class="p-projects-item">
                            <p class="p-projects-item__title">
                                <a href="#" class="modal__button-open" data-default="true">Миграция SAS MIS на высоко&shy;производи&shy;тельную MPP платформу Teradata</a>
                            </p>
                            <div class="square-btn-gray"></div>
                        </div>
                        <div class="p-projects-item">
                            <p class="p-projects-item__title">
                                <a href="#" class="modal__button-open" data-default="true">Миграция КИХ/MIS МТС c версии SAS 9.2 на версию SAS 9.4</a>
                            </p>
                            <div class="square-btn-gray"></div>
                        </div>
                    </div>
                    <div class="p-projects-item">
                        <p class="p-projects-item__title">
                            <a href="#" class="modal__button-open" data-default="true">Миграция функционала
                                Электронной Детальной Книги Продаж
                                и всех ее приложений на высоко&shy;производи&shy;тельную MPP платформу Teradata и SAS версии 9.4</a>
                        </p>
                        <div class="square-btn-gray"></div>
                    </div>
                </div>

                <!-- Line 2 -->
                <div class="p-projects-row-group">
                    <div class="p-projects-column">
                        <div class="p-projects-row">
                            <div class="p-projects-image sticked">
                                <img src="./icons/project_icon_bank_money.svg" alt="" />
                                <h2>Топ 10
                                    <span>Банк РФ</span>
                                </h2>
                            </div>
                            <div class="p-projects-item sticked">
                                <p class="p-projects-item__title">
                                    <a href="#" class="modal__button-open" data-default="true">Внедрение авто&shy;матизи&shy;рованной системы распределения расходов на базе SAS Activity-Based Management</a>
                                </p>
                                <div class="square-btn-gray"></div>
                            </div>
                        </div>
                    </div>
                    <div class="p-projects-column">
                        <div class="p-projects-row half">
                            <div class="p-projects-image sticked">
                                <img src="./icons/project_icon_bank.svg" alt="" />
                                <h2>Топ 3
                                    <span>Банк РФ</span>
                                </h2>
                            </div>
                            <div class="p-projects-item sticked">
                                <p class="p-projects-item__title">
                                    <a href="#" class="modal__button-open" data-default="true">Внедрение системы управления операционными рисками (СУОР) на базе SAS OpRisk Management</a>
                                </p>
                                <div class="square-btn-gray"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Line 3 -->
                <div class="p-projects-row">
                    <div class="p-projects-image">
                        <img src="./icons/project_icon_3_antenna.svg" alt="" />
                        <h2>Топ 10
                            <span>Оператор связи РФ</span>
                        </h2>
                    </div>
                    <div class="p-projects-item__group-wide">
                        <div class="p-projects-item">
                            <p class="p-projects-item__title">
                                <a href="#" class="modal__button-open" data-default="true">Миграция системы Раздельного учета доходов и расходов ПАО МГТС
                                    на базе SAS Activity Based Management 6.3.1 на новую версию системы SAS Cost and Profitability Management 8.1</a>
                            </p>
                            <div class="square-btn-gray"></div>
                        </div>
                        <div class="p-projects-item__group-inside">
                            <div class="p-projects-item">
                                <p class="p-projects-item__title">
                                    <a href="#" class="modal__button-open" data-default="true">Доработки системы гарантирования доходов на базе решения SAS Revenue Assurance 2016 г.</a>
                                </p>
                                <div class="square-btn-gray"></div>
                            </div>
                            <div class="p-projects-item">
                                <p class="p-projects-item__title">
                                    <a href="#" class="modal__button-open" data-default="true">Решение по автоматизации предиктивных моделей ДУАБ (CBM Model Factory)</a>
                                </p>
                                <div class="square-btn-gray"></div>
                            </div>
                        </div>
                        <div class="p-projects-item">
                            <p class="p-projects-item__title">
                                <a href="#" class="modal__button-open" data-default="true">Доработки системы гарантирования доходов на базе решения SAS Revenue Assurance 2018 г.</a>
                            </p>
                            <div class="square-btn-gray"></div>
                        </div>
                    </div>
                </div>

                <!-- Line 4 -->
                <div class="p-projects-row">
                    <div class="p-projects-image">
                        <img src="./icons/project_icon_radio.svg" alt="" />
                        <h2>Топ 3
                            <span>Оператор связи РФ</span>
                        </h2>
                    </div>
                    <div class="p-projects-item">
                        <p class="p-projects-item__title">
                            <a href="#" class="modal__button-open" data-default="true">Построение системы расчета вознаграждения техническим партнерам по услуге Мобильное ТВ</a>
                        </p>
                        <div class="square-btn-gray"></div>
                    </div>
                    <div class="p-projects-item">
                        <p class="p-projects-item__title">
                            <a href="#" class="modal__button-open" data-default="true">Построение системы расчета вознаграждения коммерческим представителям за услуги Спутникового ТВ</a>
                        </p>
                        <div class="square-btn-gray"></div>
                    </div>
                </div>

                <!-- Line 5 -->
                <div class="p-projects-row">
                    <div class="p-projects-image">
                        <img src="./icons/project_icon_bank.svg" alt="" />
                        <h2>Топ 3
                            <span>Банк РФ</span>
                        </h2>
                    </div>
                    <div class="p-projects-item__group">
                        <div class="p-projects-item">
                            <p class="p-projects-item__title">
                                <a href="#" class="modal__button-open" data-default="true">Внедрение системы аллокации расходов в ГО Банка</a>
                            </p>
                            <div class="square-btn-gray"></div>
                        </div>
                        <div class="p-projects-item">
                            <p class="p-projects-item__title">
                                <a href="#" class="modal__button-open" data-default="true">Внедрение системы аллокации расходов в дочерних компаниях Банка</a>
                            </p>
                            <div class="square-btn-gray"></div>
                        </div>
                    </div>
                    <div class="p-projects-item">
                        <p class="p-projects-item__title">
                            <a href="#" class="modal__button-open" data-default="true">Разработка отчётности по результатам аллокации в ДК и ГО Банка</a>
                        </p>
                        <div class="square-btn-gray"></div>
                    </div>
                </div>

                <!-- Line 6 -->
                <div class="p-projects-row">
                    <div class="p-projects-image">
                        <img src="./icons/project_icon_radio.svg" alt="" />
                        <h2>Топ 3
                            <span>Оператор связи РФ</span>
                        </h2>
                    </div>
                    <div class="p-projects-item__group">
                        <div class="p-projects-item">
                            <p class="p-projects-item__title">
                                <a href="#" class="modal__button-open" data-default="true">Расширение областей функциональности SAS TIS RA на область фиксированного бизнеса</a>
                            </p>
                            <div class="square-btn-gray"></div>
                        </div>
                        <div class="p-projects-item">
                            <p class="p-projects-item__title">
                                <a href="#" class="modal__button-open" data-default="true">Management Information System for IntecConnect (MIS IC) для фиксированного сегмента сети</a>
                            </p>
                            <div class="square-btn-gray"></div>
                        </div>
                        <div class="p-projects-item">
                            <p class="p-projects-item__title">
                                <a href="#" class="modal__button-open" data-default="true">Развитие решения SAS Marketing Automation</a>
                            </p>
                            <div class="square-btn-gray"></div>
                        </div>
                    </div>
                    <div class="p-projects-item__group">
                        <div class="p-projects-item">
                            <p class="p-projects-item__title">
                                <a href="#" class="modal__button-open" data-default="true">Расширение областей функциональности SAS TIS RA на область фиксированного бизнеса</a>
                            </p>
                            <div class="square-btn-gray"></div>
                        </div>
                        <div class="p-projects-item">
                            <p class="p-projects-item__title">
                                <a href="#" class="modal__button-open" data-default="true">Разработка модуля отчетности для системы МТС Бонус</a>
                            </p>
                            <div class="square-btn-gray"></div>
                        </div>
                        <div class="p-projects-item">
                            <p class="p-projects-item__title">
                                <a href="#" class="modal__button-open" data-default="true">Развитие системы SAS Revenue Assurance в сегменте InterConnect</a>
                            </p>
                            <div class="square-btn-gray"></div>
                        </div>
                    </div>
                </div>

                <!-- Line 7 -->
                <div class="p-projects-row-group">
                    <div class="p-projects-column grid">
                        <div class="p-projects-row">
                            <div class="p-projects-image sticked">
                                <img src="./icons/project_icon_bank.svg" alt="" />
                                <h2>Топ 20
                                    <span>Банк РФ</span>
                                </h2>
                            </div>
                            <div class="p-projects-item sticked">
                                <p class="p-projects-item__title">
                                    <a href="#" class="modal__button-open" data-default="true">Перенос хранилища SAS в масшта&shy;бируемую архитектуру</a>
                                </p>
                                <div class="square-btn-gray"></div>
                            </div>
                        </div>
                        <div class="p-projects-row top-offset-small">
                            <div class="p-projects-image sticked">
                                <img src="./icons/project_icon_bank_money.svg" alt="" />
                                <h2>Топ 10
                                    <span>Банк РФ</span>
                                </h2>
                            </div>
                            <div class="p-projects-item sticked">
                                <p class="p-projects-item__title">
                                    <a href="#" class="modal__button-open" data-default="true">Внедрение MIS на базе отраслевого решения SAS Banking Intelligence Solution	</a>
                                </p>
                                <div class="square-btn-gray"></div>
                            </div>
                        </div>
                    </div>
                    <div class="p-projects-column grid">
                        <div class="p-projects-row">
                            <div class="p-projects-image sticked">
                                <img src="./icons/project_icon_radio.svg" alt="" />
                                <h2>Топ 3
                                    <span>Оператор связи Беларусь</span>
                                </h2>
                            </div>
                            <div class="p-projects-row column top-offset-none">
                                <div class="p-projects-item sticked">
                                    <p class="p-projects-item__title">
                                        <a href="#" class="modal__button-open" data-default="true">Внедрение системы «Единая база дебиторов»</a>
                                    </p>
                                    <div class="square-btn-gray"></div>
                                </div>
                                <div class="p-projects-item sticked border-top-none">
                                    <p class="p-projects-item__title">
                                        <a href="#" class="modal__button-open" data-default="true">Миграция хранилища и aCRM c версии SAS 9.1.3 на версию SAS 9.3</a>
                                    </p>
                                    <div class="square-btn-gray"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-projects-free-space"></div>
            </div> <!-- container p-projects-container-->
        </div>
        <%= require('html-loader?attrs[]=!./components/footer.html') %>
    </div>
</body>