<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Solution page. Fraud prevention.</title>
</head>

<body class="text-page solution-page">
    <div class="wrapper">
        <%= require('html-loader?attrs[]=!./components/header.html') %>
        <%= require('html-loader?attrs[]=!./components/modal.html') %>
        <div class="content">
            <div class="breadcrumbs">
                <div class="container">
                    <ul class="breadcrumbs-list">
                        <li><a href="#">Главная</a></li>
                        <li><a href="solutions.html">Решения</a></li>
                        <li><span>Противодействие мошенничеству</span></li>
                    </ul>
                </div>
            </div>
            <div class="text-page-top">
                <div class="container">
                    <img src="./icons/secure.svg" alt="">
                    <div class="text-page-header">
                        <h1>Противодействие мошенничеству</h1>
                        <p>В решениях ведущих вендоров реализована гибридная технология отслеживания, которая объединяет
                            расширенные функции аналитики, искусственный интеллект, машинное обучение с учителем (или
                            без него) и традиционные методы обнаружения и позволяет эффективно выявлять подозрительные
                            события.
                        </p>
                    </div>
                </div>
            </div>
            <div class="text-page-main">
                <div class="container">
                    <h3>Данные системы позволят вам:</h3>
                    <ul>
                        <li>Быстро и точно выявлять мошеннические действия, ненужные траты и злоупотребления.<br>
                            Мы используем новейшие разработки в области анализа графов, анализа соцсетей, анализа
                            текстов и выявления аномалий, чтобы обеспечить максимально надежную схему отслеживания.
                        </li>
                        <li>Получать реалистичное и целостное представление о существующих рисках мошенничества.
                            Используется интеллектуальное управление инцидентами, анализ связей на уровне сущностей,
                            искусственный интеллект и методы машинного обучения (например, обнаружение выбросов), что
                            позволяет выявлять скрытые зависимости и подозрительные связи между клиентами, счетами и
                            другими сущностями по всем направлениям бизнеса.
                        </li>
                        <li>Быстро выявлять новые сложные схемы мошенничества и адаптировать к ним системы. Технологии
                            ИИ (в том числе адаптивные методики машинного обучения и неконтролируемые интеллектуальные
                            агенты) выявляют новые типы угроз и автоматически предлагают новые правила и сценарии в
                            реальном времени. Это позволяет минимизировать риск мошенничества, ненужных трат и
                            злоупотреблений.
                        </li>
                    </ul>
                    <div class="text-page-buttons">
                        <a href="#" class="btn">Обсудить решение</a>
                        <a href="#" class="btn btn-emty">Вернуться</a>
                    </div>
                </div>
            </div>
            <section class="section-others">
                <div class="container">
                    <h4 class="others__title">
                        <span>Вас могут заинтересовать</span>
                        другие наши решения
                    </h4>
                    <div class="others-list">
                        <div class="others-item">
                            <img src="./icons/robotization.svg" alt="" class="others__icon">
                            <a href="#" class="others-item__title">
                                Роботизация Бизнес процессов
                            </a>
                        </div>
                        <div class="others-item">
                            <img src="./icons/analytics.svg" alt="" class="others__icon">
                            <a href="#" class="others-item__title">
                                Финансовая аналитика
                            </a>
                        </div>
                        <div class="others-item">
                            <img src="./icons/algorithm.svg" alt="" class="others__icon">
                            <a href="#" class="others-item__title">
                                Data Governance
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <%= require('html-loader?attrs[]=!./components/footer.html') %>
    </div>
</body>