<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Solution page. Financial analytics. </title>
</head>

<body class="text-page solution-page">
    <div class="wrapper">
        <%= require('html-loader?attrs[]=!./components/header.html') %>
        <%= require('html-loader?attrs[]=!./components/modal.html') %>
        <div class="content">
            <div class="breadcrumbs">
                <div class="container">
                    <ul class="breadcrumbs-list">
                        <li><a href="#">Главная</a></li>
                        <li><a href="solutions.html">Решения</a></li>
                        <li><span>Финансовая аналитика</span></li>
                    </ul>
                </div>
            </div>
            <div class="text-page-top">
                <div class="container">
                    <img src="./icons/analytics.svg" alt="">
                    <div class="text-page-header">
                        <h1>Финансовая аналитика</h1>
                        <p>Внедряемые нашими консультантами решения позволяют привести финансовую отчетность к
                            международным стандартам, автоматизировать процессы бюджетирования, оперативного и
                            стратегического планирования, рассчитать справедливую себестоимость с помощью
                            функционально-стоимостного анализа.
                        </p>
                    </div>

                </div>

            </div>
            <div class="text-page-main">
                <div class="container">
                    <h3>Решения, внедряемые нашей командой:</h3>
                    <ul>
                        <li>Бюджетирование.</li>
                        <li>Консолидация и трансформация.</li>
                        <li>Аллокация расходов, activity-based costing.</li>
                        <li>Формирование отчетов: Книга продаж, книга покупок, электронная декларация по НДС.</li>
                        <li>Расчет резервов по сомнительным долгам.</li>
                    </ul>
                    <hr>
                    <h3>Эффект от внедрения решений финансовой аналитики трудно переоценить:</h3>
                    <ul>
                        <li>Уменьшение трудозатрат. </li>
                        <li>Уменьшение вероятности ошибок. </li>
                        <li>Стандартизация процесса. </li>
                        <li>Быстрые расчёты на большом объёме.</li>
                        <li>Адаптация под конкретные финансовые задачи.</li>
                        <li>Возможность интеграции с внешними промышленными поставщика-ми данных.</li>
                        <li>Система уведомлений о событиях.</li>
                    </ul>
                    <div class="text-page-buttons">
                        <a href="#" class="btn">Обсудить решение</a>
                        <a href="#" class="btn btn-emty">Вернуться</a>
                    </div>
                </div>

            </div>
            <section class="section-others">
                <div class="container">
                    <h4 class="others__title">
                        <span>Вас могут заинтересовать</span>
                        другие наши решения
                    </h4>
                    <div class="others-list">
                        <div class="others-item">
                            <img src="./icons/loss.svg" alt="" class="others__icon">
                            <a href="#" class="others-item__title">
                                Управление рисками
                            </a>
                        </div>
                        <div class="others-item">
                            <img src="./icons/list.svg" alt="" class="others__icon">
                            <a href="#" class="others-item__title">
                                Стресс тестирование
                            </a>
                        </div>
                        <div class="others-item">
                            <img src="./icons/secure.svg" alt="" class="others__icon">
                            <a href="#" class="others-item__title">
                                Противодействие мошенничеству
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <%= require('html-loader?attrs[]=!./components/footer.html') %>
    </div>
</body>