<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Solution page. Data Governance. </title>
</head>

<body class="text-page solution-page">
    <div class="wrapper">
        <%= require('html-loader?attrs[]=!./components/header.html') %>
        <%= require('html-loader?attrs[]=!./components/modal.html') %>
        <div class="content">
            <div class="breadcrumbs">
                <div class="container">
                    <ul class="breadcrumbs-list">
                        <li><a href="#">Главная</a></li>
                        <li><a href="solutions.html">Решения</a></li>
                        <li><span>Data Governance</span></li>
                    </ul>
                </div>
            </div>
            <div class="text-page-top">
                <div class="container">
                    <img src="./icons/analytics.svg" alt="">
                    <div class="text-page-header">
                        <h1>Data Governance</h1>
                        <p>Основная тенденция нашего времени - корпоративные данные становятся главным активом и
                            средством новых возможностей бизнеса. Именно качественное и эффективное управление активом
                            данных является основным вызовом для современных компаний по всему миру.
                        </p>
                    </div>

                </div>

            </div>
            <div class="text-page-main">
                <div class="container">
                    <p>
                        Методология Data Governance предполагает внедрение корпоративной функции управления данными,
                        проектирование бизнес-процессов, разработку политик, регламентов, организационной структуры.
                    </p>
                    <p>
                        Мы обеспечиваем выполнение существующих регуляторных требований, понижение операционных расходов
                        и повышение доходов организации и, самое главное, обеспечиваем гибкость и возможность
                        предоставить или быстро интегрировать новые данные в уже суще-ствующие или новые
                        бизнес-процессы, что крайне важно при постоянно меняющейся ситуации на рынке.
                    </p>
                    <hr>
                    <h3>Наша компания совместно с нашими партнерами , ведущими мировыми вендорами, внедряет решения Data Governance которые:</h3>
                    <ul>
                        <li>Дают возможность всем участникам (CDO, бизнес-пользователям, ИТ-специалистам) управлять
                            процессом обработки данных на одной платформе. В результате устраняется проблема
                            разрозненности данных.
                        </li>
                        <li>Обеспечивают CDO возможностью единожды определить политики, правила и стандарты управления
                            данными, и быть уверенными в том, что они единым образом реализуются в масштабах всей
                            компании.
                        </li>
                    </ul>
                    <hr>
                    <p>Data Governance помогает компаниям извлечь качественную и полезную для бизнеса информацию из
                        всего массива данных организации. Именно качественная, полная информация, предоставленная
                        вовре-мя, позволяет принимать правильные бизнес-рeшения.</p>
                    <div class="text-page-buttons">
                        <a href="#" class="btn">Обсудить решение</a>
                        <a href="#" class="btn btn-emty">Вернуться</a>
                    </div>
                </div>

            </div>
            <section class="section-others">
                <div class="container">
                    <h4 class="others__title">
                        <span>Вас могут заинтересовать</span>
                        другие наши решения
                    </h4>
                    <div class="others-list">
                        <div class="others-item">
                            <img src="./icons/data-storage.svg" alt="" class="others__icon">
                            <a href="#" class="others-item__title">
                                Хранилище данных
                            </a>
                        </div>
                        <div class="others-item">
                            <img src="./icons/analytics.svg" alt="" class="others__icon">
                            <a href="#" class="others-item__title">
                                Финансовая аналитика
                            </a>
                        </div>
                        <div class="others-item">
                            <img src="./icons/article.svg" alt="" class="others__icon">
                            <a href="#" class="others-item__title">
                                Текстовая аналитика
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <%= require('html-loader?attrs[]=!./components/footer.html') %>
    </div>
</body>