<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Solution page. Text analytics. </title>
</head>

<body class="text-page solution-page">
    <div class="wrapper">
        <%= require('html-loader?attrs[]=!./components/header.html') %>
        <%= require('html-loader?attrs[]=!./components/modal.html') %>
        <div class="content">
            <div class="breadcrumbs">
                <div class="container">
                    <ul class="breadcrumbs-list">
                        <li><a href="#">Главная</a></li>
                        <li><a href="solutions.html">Решения</a></li>
                        <li><span>Текстовая аналитика</span></li>
                    </ul>
                </div>
            </div>
            <div class="text-page-top">
                <div class="container">
                    <img src="./icons/article.svg" alt="">
                    <div class="text-page-header">
                        <h1>Текстовая аналитика</h1>
                        <p>Набор инструментов, который помогает решать множество проблем, возникающих при работе с
                            неструктурированной информацией, собирать, систематизировать и анализировать текстовые
                            данные в автоматическом режиме, благодаря применению лингвистических правил, статистических
                            методов и методов машинного обучения.
                        </p>
                    </div>

                </div>

            </div>
            <div class="text-page-main">
                <div class="container">
                    <p>
                        Среди источников неструктурированных данных могут быть web-ресурсы
                        (социальные сети, блоги, форумы, новостные сайты), записи и комментарии операторов
                        call-центров, результаты опросов, письма в электронной почте, письменные обращения клиентов,
                        гарантийные об-ращения и обращения по поводу страховых выплат, статьи и т.д.
                    </p>
                    <p>
                        Данные решения помогают объединять эти знания и создавать новые метаданные для повышения
                        точности аналитических моделей. Они автоматически определяет ключевые слова и тематику
                        сообщений, произ-водят семантический разбор текста и анализирует контекст. Благодаря этому, вы
                        можете понимать настроения и мнения клиентов, оптимизировать сервис и бизнес-процессы, принимать
                        обоснованные решения.
                    </p>
                    <div class="text-page-buttons">
                        <a href="#" class="btn">Обсудить решение</a>
                        <a href="#" class="btn btn-emty">Вернуться</a>
                    </div>
                </div>

            </div>
            <section class="section-others">
                <div class="container">
                    <h4 class="others__title">
                        <span>Вас могут заинтересовать</span>
                        другие наши решения
                    </h4>
                    <div class="others-list">
                        <div class="others-item">
                            <img src="./icons/loss.svg" alt="" class="others__icon">
                            <a href="#" class="others-item__title">
                                Управление рисками
                            </a>
                        </div>
                        <div class="others-item">
                            <img src="./icons/list.svg" alt="" class="others__icon">
                            <a href="#" class="others-item__title">
                                Стресс тестирование
                            </a>
                        </div>
                        <div class="others-item">
                            <img src="./icons/secure.svg" alt="" class="others__icon">
                            <a href="#" class="others-item__title">
                                Противодействие мошенничеству
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <%= require('html-loader?attrs[]=!./components/footer.html') %>
    </div>
</body>