<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Solution page. Stress test. </title>
</head>

<body class="text-page solution-page">
    <div class="wrapper">
        <%= require('html-loader?attrs[]=!./components/header.html') %>
        <%= require('html-loader?attrs[]=!./components/modal.html') %>
        <div class="content">
            <div class="breadcrumbs">
                <div class="container">
                    <ul class="breadcrumbs-list">
                        <li><a href="#">Главная</a></li>
                        <li><a href="solutions.html">Решения</a></li>
                        <li><span>Стресс тестирование</span></li>
                    </ul>
                </div>
            </div>
            <div class="text-page-top">
                <div class="container">
                    <img src="./icons/list.svg" alt="">
                    <div class="text-page-header">
                        <h1>Стресс тестирование</h1>
                        <p>Внедряемые нашей компанией решения ведущих вендоров дают возможность выполнять комплексное
                            стресс-тестирование в масштабах всего предприятия. Они позволяют запускать модели прибылей и
                            убытков на единой платформе, специализированные сценарии для анализа «что если»
                            чувствительности
                            модели к рискам и анализа планирования капитала.</p>
                    </div>

                </div>

            </div>
            <div class="text-page-main">
                <div class="container">
                    <h3>Мы внедряем высококачественные решения для поддержки всех аспектов
                        стресс тестирования, которые включают в себя:</h3>
                    <ul>
                        <li>Управление сценариями стресс-тестирования, их отслеживание и применение. Надежная
                            инфраструктура, качественно организо-ванные процессы и комплексные инструменты для
                            управления
                            сценариями и выполнения стресс тестирования помогают соблюдать постоянно меняющиеся
                            требования и
                            решать связанные с этим проблемы.</li>
                        <li>Организация структурированного, но гибкого процесса разработки модели. Постоянное развитие и
                            уточнение моделей производительности, охватывающих различные вероятные сценарии,
                            прозрачность и
                            документирование всех этапов разработки.</li>
                        <li>Внедрение платформы разработки модели. Создание централизованной среды моделирования для
                            быстрого и эффективного запуска моделей различного уровня сложности, упрощающей управление
                            этими
                            моделями и их передачу в производственную среду — без переписывания кода.</li>
                        <li>Интеграция систем управления рисками и финансами. Агрегированное представление финансовой
                            информации в масштабах всего предприятия, скорректированное с учетом рис-ков. Эффективная
                            инфраструктура позволяет устранить изолированность данных, повысить их качество и
                            параллельно
                            решать критически важные задачи, связанные с контролем и обеспечением прозрачности.</li>
                        <li>Более простое управление капиталом. Обеспечение соответствия актуальным нормативам по
                            капиталу,
                            эффективное управление рисками и планирование капитала в масштабах всего предприятия
                            гарантируют
                            реальные преимущества для бизнеса.</li>
                        <li>Комплексная система управления данными. Обеспечение полноты, достоверности и актуальности
                            данных. Прозрачное документирование на каждом этапе жизненного цикла стресс-тестирования с
                            возможностью поиска, сбора качественных данных, отслеживания их происхождения и добавления
                            метаданных.</li>
                        <li>Интеграция функций контроля модели и мониторинга производительности. </li>
                        <li>Экономия средств благодаря автоматизации и воспроизводимости. Ускоренное внедрение и запуск
                            модели, обеспечение соответствия нормативным требованиям в рамках единой упрощенной
                            платформы.
                        </li>
                        <li>Интегрированное и согласованное управление рисками и финансами. Определение сценариев и
                            включение результатов моделирования в балансовые отчеты, финансовые отчеты и планы по
                            капиталу.
                        </li>
                        <li>Комплексное управление процессами стресс-тестирования. Централизованная платформа позволяет
                            управлять всеми этапами стресс-тестирования и включать результаты, полу-чаемые из различных
                            систем.</li>
                    </ul>
                    <div class="text-page-buttons">
                        <a href="#" class="btn">Обсудить решение</a>
                        <a href="#" class="btn btn-emty">Вернуться</a>
                    </div>
                </div>

            </div>
            <section class="section-others">
                <div class="container">
                    <h4 class="others__title">
                        <span>Вас могут заинтересовать</span>
                        другие наши решения
                    </h4>
                    <div class="others-list">
                        <div class="others-item">
                            <img src="./icons/algorithm.svg" alt="" class="others__icon">
                            <a href="#" class="others-item__title">
                                Data Governance
                            </a>
                        </div>
                        <div class="others-item">
                            <img src="./icons/loss.svg" alt="" class="others__icon">
                            <a href="#" class="others-item__title">
                                Управление рисками
                            </a>
                        </div>
                        <div class="others-item">
                            <img src="./icons/article.svg" alt="" class="others__icon">
                            <a href="#" class="others-item__title">
                                Текстовая аналитика
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <%= require('html-loader?attrs[]=!./components/footer.html') %>
    </div>
</body>