<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Solutions page</title>
</head>

<body class="solutions-page">
    <div class="wrapper">
        <%= require('html-loader?attrs[]=!./components/header.html') %>
        <%= require('html-loader?attrs[]=!./components/modal.html') %>
        <div class="content">
            <div class="page-banner">
                <div class="container">
                    <div class="page-top">
                        <h1 class="page-title">
                            <span>Наши решения </span>
                            приносят реальные результаты
                        </h1>
                        <p class="page-description">
                            Дата Фрейм может помочь вашему бизнесу войти в процесс трансформации и изменения ваших
                            продуктов, сервисов и процессов. Мы подготовим вас для вхождения в цифровой мир с помощью
                            наших
                            решений
                        </p>
                    </div>
                </div>
            </div>
            <div class="container p-solutions-container">
                <div class="p-solutions-list">
                    <div class="p-solutions-item">
                        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" width="72" height="72"
                            viewBox="0 0 72 72">
                            <g>
                                <g clip-path="url(#clip-57450f3e-4993-4558-8e47-774d5fb72a33)">
                                    <g>
                                        <path
                                            d="M49.6 23.226a4.638 4.638 0 0 0 3.32 3.319V37.62l-5.994-9.22c-.428-.659-1.52-.659-1.949 0l-2.51 3.86v-9.034zm4.48-3.484a2.325 2.325 0 0 1 2.323 2.322 2.325 2.325 0 0 1-2.322 2.323 2.325 2.325 0 0 1-2.323-2.323 2.325 2.325 0 0 1 2.323-2.322zM32.996 51.097l12.957-19.934 12.956 19.934zm19.924 8.129H30.69a4.638 4.638 0 0 0-3.318-3.32V44.109c.387.013.774.021 1.161.021 2.374 0 4.642-.227 6.645-.652l-5.296 8.148a1.162 1.162 0 0 0 .974 1.794h22.064zM26.21 62.71a2.325 2.325 0 0 1-2.322-2.323 2.325 2.325 0 0 1 2.323-2.323 2.325 2.325 0 0 1 2.322 2.323 2.325 2.325 0 0 1-2.322 2.323zM16.92 34.7c2.63 1.621 7.134 2.461 11.613 2.461 4.48 0 8.983-.84 11.613-2.46v1.133l-3.057 4.703c-2.256.806-5.342 1.27-8.556 1.27-6.982 0-11.613-2.098-11.613-3.484zm0-6.967c2.63 1.62 7.134 2.46 11.613 2.46 4.48 0 8.983-.84 11.613-2.46v3.622c0 1.386-4.63 3.484-11.613 3.484-6.982 0-11.613-2.098-11.613-3.484zm0-6.968c2.63 1.621 7.134 2.46 11.613 2.46 4.48 0 8.983-.839 11.613-2.46v3.622c0 1.386-4.63 3.484-11.613 3.484-6.982 0-11.613-2.098-11.613-3.484zm11.613-6.83c6.982 0 11.613 2.098 11.613 3.484 0 1.387-4.63 3.484-11.613 3.484-6.982 0-11.613-2.097-11.613-3.484 0-1.386 4.631-3.484 11.613-3.484zm0-2.322c-6.924 0-13.935 1.994-13.935 5.806v20.904c0 3.168 4.842 5.075 10.451 5.63v11.954c-1.998.519-3.484 2.323-3.484 4.48a4.65 4.65 0 0 0 4.646 4.645c2.158 0 3.961-1.486 4.48-3.484h23.39c.643 0 1.162-.52 1.162-1.16v-6.969h5.806a1.162 1.162 0 0 0 .975-1.794l-6.781-10.432V26.545c1.999-.52 3.484-2.323 3.484-4.48a4.65 4.65 0 0 0-4.645-4.646c-2.16 0-3.962 1.487-4.48 3.484h-7.133V17.42c0-3.812-7.011-5.806-13.936-5.806z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M44.79 46.452h2.323v2.322H44.79z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M44.79 37.161h2.323v6.968H44.79z" />
                                    </g>
                                    <g>
                                        <path fill=""
                                            d="M35.5 0C23.92 0 13.246 5.458 6.468 14.715v-4.263H4.145v6.967c0 .641.519 1.162 1.161 1.162h6.968v-2.323H8.212C14.547 7.494 24.595 2.323 35.5 2.323c18.57 0 33.677 15.106 33.677 33.677 0 18.57-15.108 33.677-33.677 33.677C16.93 69.677 1.823 54.57 1.823 36c0-5.112 1.115-10.022 3.316-14.593L3.046 20.4C.692 25.287-.5 30.536-.5 36c0 19.85 16.149 36 36 36s36-16.15 36-36S55.35 0 35.5 0z" />
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <h2 class="p-solutions-item__title">
                            <a href="solution-risk-management.html">Управление рисками</a>
                        </h2>
                        <p class="p-solutions-item__description">
                            Решения наших партнеров, которые внедряет наша компания, помогают эффективно управлять
                            кредитными рисками, чтобы обеспечить неукоснительное соблюдение нормативных требований и
                            повысить производительность работы в целом.

                        </p>
                        <div class="square-btn">
                            <span>Узнать подробнее</span>
                        </div>
                    </div>
                    <div class="p-solutions-item">
                        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" width="70" height="72"
                            viewBox="0 0 70 72">
                            <g>
                                <g clip-path="url(#clip-d4890ebf-3772-4dc9-8dfa-dcba63c327fc)">
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M5.215 7.446V4.964h2.482v2.482z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M10.179 7.446V4.964h2.482v2.482z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M15.143 7.446V4.964h2.482v2.482z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill=""
                                                    d="M53.616 64.536a8.687 8.687 0 1 1 8.688-8.688 8.697 8.697 0 0 1-8.688 8.688zm0-19.858c-6.169 0-11.17 5.001-11.17 11.17s5.001 11.17 11.17 11.17 11.17-5.001 11.17-11.17c-.008-6.166-5.004-11.162-11.17-11.17z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill=""
                                                    d="M53.616 69.5c-7.54 0-13.652-6.112-13.652-13.652 0-7.54 6.112-13.652 13.652-13.652 7.54 0 13.652 6.112 13.652 13.652-.009 7.536-6.116 13.643-13.652 13.652zM37.933 59.57zm-32.719 0a2.482 2.482 0 0 1-2.482-2.482V12.411h59.572v29.863c-7.465-4.822-17.425-2.68-22.247 4.785a16.091 16.091 0 0 0-2.124 12.512zM2.732 4.964a2.482 2.482 0 0 1 2.482-2.482h54.607a2.482 2.482 0 0 1 2.483 2.482V9.93H2.732zm65.78 44.719a16.127 16.127 0 0 0-3.726-5.45V4.964A4.964 4.964 0 0 0 59.82 0H5.214A4.964 4.964 0 0 0 .25 4.964V57.09a4.964 4.964 0 0 0 4.964 4.964h33.51c3.415 8.226 12.853 12.126 21.079 8.71 8.226-3.416 12.125-12.854 8.71-21.08z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill=""
                                                    d="M58.323 51.868l-5.948 5.948-2.846-2.845-1.755 1.754 3.724 3.724c.484.484 1.27.484 1.754 0l6.826-6.826z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill=""
                                                    d="M13.902 23.58H8.938v-4.964h3.21l-1.606 1.605 1.755 1.755 1.605-1.605zm2.846-9.565l-2.119 2.119H7.697c-.686 0-1.241.556-1.241 1.241v7.446c0 .686.555 1.241 1.24 1.241h7.447c.685 0 1.241-.555 1.241-1.24v-6.933l2.119-2.119z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M21.348 18.616v-2.482h2.483v2.482z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M26.313 18.616v-2.482H58.58v2.482z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M21.348 23.58v-2.482h32.268v2.482z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill=""
                                                    d="M13.902 38.473H8.938V33.51h3.21l-1.606 1.605 1.755 1.754 1.605-1.604zm2.846-9.565l-2.119 2.119H7.697c-.686 0-1.241.555-1.241 1.24v7.447c0 .686.555 1.241 1.24 1.241h7.447c.685 0 1.241-.555 1.241-1.24v-6.933l2.119-2.119z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M21.348 33.509v-2.482h2.483v2.482z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M26.313 33.509v-2.482H58.58v2.482z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M21.348 38.473v-2.482h26.063v2.482z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill=""
                                                    d="M13.902 53.366H8.938v-4.964h3.21l-1.606 1.604 1.755 1.755 1.605-1.604zm2.846-9.565l-2.119 2.119H7.697c-.686 0-1.241.555-1.241 1.24v7.447c0 .685.555 1.241 1.24 1.241h7.447c.685 0 1.241-.556 1.241-1.241v-6.933l2.119-2.118z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M21.348 48.402v-2.483h2.483v2.483z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M26.313 48.402v-2.483h9.928v2.483z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M21.348 53.366v-2.482H35v2.482z" />
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <h2 class="p-solutions-item__title">
                            <a href="solution-stress-test.html">Стресс тестирование</a>
                        </h2>
                        <p class="p-solutions-item__description">
                            Внедряемые нашей компанией решения дают возможность выполнять комплексное
                            стресс-тестирование в масштабах всего предприятия.
                            Позволяя запускать модели прибылей и убытков на единой платформе, сценарии для анализа «что
                            если» чувствительности модели к рискам и анализа планирования капитала.
                        </p>
                        <div class="square-btn">
                            <span>Узнать подробнее</span>
                        </div>
                    </div>
                    <div class="p-solutions-item">
                        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" width="57" height="72"
                            viewBox="0 0 57 72">
                            <g>
                                <g clip-path="url(#clip-4d64625f-d0ca-4c6f-828b-4958756aa90d)">
                                    <g>
                                        <path fill=""
                                            d="M55.277 0H53.73a1.161 1.161 0 1 0 0 2.323h.387v67.354h-.387a1.161 1.161 0 1 0 0 2.323h1.548c.642 0 1.161-.52 1.161-1.162V1.161c0-.641-.52-1.161-1.16-1.161z" />
                                    </g>
                                    <g>
                                        <path fill=""
                                            d="M41.342 21.677H9.465a1.161 1.161 0 1 0 0 2.323h31.877a1.161 1.161 0 0 0 0-2.323z" />
                                    </g>
                                    <g>
                                        <path fill=""
                                            d="M41.342 40.258H9.465a1.161 1.161 0 1 0 0 2.322h31.877a1.161 1.161 0 0 0 0-2.322z" />
                                    </g>
                                    <g>
                                        <path fill=""
                                            d="M41.342 46.451H28.5a1.161 1.161 0 1 0 0 2.323h12.842a1.161 1.161 0 1 0 0-2.323z" />
                                    </g>
                                    <g>
                                        <path fill=""
                                            d="M2.884 69.677V13.161h9.678c.641 0 1.16-.52 1.16-1.161V2.323h34.2v67.354zM11.4 3.965v6.874H4.527zM49.084 0H12.56a1.156 1.156 0 0 0-.2.019l-.028.004a1.129 1.129 0 0 0-.098.025l-.012.003c-.033.01-.065.022-.096.034l-.01.004c-.03.012-.06.027-.089.042l-.014.007c-.027.014-.053.03-.078.046l-.02.012a1.165 1.165 0 0 0-.069.051l-.022.017a1.135 1.135 0 0 0-.077.07L11.74.34.902 11.18l-.008.009a1.16 1.16 0 0 0-.068.075l-.02.026a1.116 1.116 0 0 0-.048.065l-.014.024c-.016.024-.031.049-.045.074l-.008.017a1.198 1.198 0 0 0-.04.086l-.005.013a1.157 1.157 0 0 0-.034.094l-.003.012c-.01.032-.018.065-.025.098l-.004.027c-.005.029-.01.057-.013.085A1.157 1.157 0 0 0 .562 12V70.84c0 .641.52 1.161 1.16 1.161h47.362c.641 0 1.16-.52 1.16-1.161V1.16c.001-.641-.519-1.16-1.16-1.16z" />
                                    </g>
                                    <g>
                                        <path fill=""
                                            d="M17.207 13.161h24.135a1.161 1.161 0 1 0 0-2.322H17.207a1.161 1.161 0 1 0 0 2.322z" />
                                    </g>
                                    <g>
                                        <path fill=""
                                            d="M41.342 27.87H28.5a1.161 1.161 0 1 0 0 2.323h12.842a1.161 1.161 0 1 0 0-2.322z" />
                                    </g>
                                    <g>
                                        <path fill=""
                                            d="M41.342 34.064H28.5a1.161 1.161 0 1 0 0 2.323h12.842a1.161 1.161 0 1 0 0-2.323z" />
                                    </g>
                                    <g>
                                        <path fill=""
                                            d="M22.307 48.774a1.161 1.161 0 1 0 0-2.323H9.465c-.642 0-1.162.52-1.162 1.162V60c0 .641.52 1.16 1.162 1.16h12.842c.641 0 1.16-.519 1.16-1.16v-7.742a1.161 1.161 0 1 0-2.322 0v6.58H10.626V48.774z" />
                                    </g>
                                    <g>
                                        <path fill=""
                                            d="M9.465 36.387h12.842a1.161 1.161 0 1 0 0-2.323H9.465a1.161 1.161 0 1 0 0 2.323z" />
                                    </g>
                                    <g>
                                        <path fill=""
                                            d="M33.6 58.838h-5.1a1.161 1.161 0 1 0 0 2.323h5.1a1.161 1.161 0 1 0 0-2.323z" />
                                    </g>
                                    <g>
                                        <path fill=""
                                            d="M41.342 52.645H28.5a1.161 1.161 0 1 0 0 2.322h12.842a1.161 1.161 0 1 0 0-2.322z" />
                                    </g>
                                    <g>
                                        <path fill=""
                                            d="M9.465 30.193h12.842a1.161 1.161 0 1 0 0-2.322H9.465a1.161 1.161 0 1 0 0 2.322z" />
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <h2 class="p-solutions-item__title">
                            <a href="solution-text-analytics.html">Текстовая аналитика</a>
                        </h2>
                        <p class="p-solutions-item__description">
                            Набор инструментов, который помогает решать множество проблем, возникающих при работе с
                            неструктурированной информацией, собирать, систематизировать и анализировать текстовые
                            данные в автоматическом режиме, благодаря применению лингвистических правил, статистических
                            методов и методов машинного обучения.
                        </p>
                        <div class="square-btn">
                            <span>Узнать подробнее</span>
                        </div>
                    </div>
                    <div class="p-solutions-item">
                        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" width="73" height="72"
                            viewBox="0 0 73 72">
                            <g>
                                <g clip-path="url(#clip-9020b94d-e957-4de0-a74f-9de0ef228a42)">
                                    <g>
                                        <path fill="" d="M35.3 54h2.4v2.4h-2.4z" />
                                    </g>
                                    <g>
                                        <path fill=""
                                            d="M4.1 57.6a1.2 1.2 0 0 1-1.2-1.2v-3.6h67.2v3.6a1.2 1.2 0 0 1-1.2 1.2zm39.384 7.2H29.516l.8-4.8h12.368zm5.016 4.8h-24l1.8-2.4h20.4zM4.1 16.8h21.41a12.018 12.018 0 0 0 2.04 3.16l-3.675 5.24H8.9a1.2 1.2 0 0 0-1.2 1.2v7.2h2.4v-6h14.4a1.2 1.2 0 0 0 .983-.512l3.843-5.488a11.963 11.963 0 0 0 18.165-4.8H68.9a1.2 1.2 0 0 1 1.2 1.2v32.4H2.9V18a1.2 1.2 0 0 1 1.2-1.2zM35.3 2.483V13.2a1.2 1.2 0 0 0 1.2 1.2h9.284a9.569 9.569 0 0 1-15.082 5.233l3.18-4.545-1.965-1.376-2.952 4.217A9.578 9.578 0 0 1 35.3 2.483zm8.092 2.849L40.58 7.44l1.44 1.92 2.812-2.11A9.532 9.532 0 0 1 46.1 12h-8.4V2.483a9.576 9.576 0 0 1 5.692 2.849zM68.9 14.4H48.26a11.918 11.918 0 0 0-1.499-8.594L51.3 2.4h9.2V0h-9.6a1.2 1.2 0 0 0-.72.24l-4.864 3.648A11.99 11.99 0 0 0 24.74 14.4H4.1A3.6 3.6 0 0 0 .5 18v38.4A3.6 3.6 0 0 0 4.1 60h23.784l-.8 4.8H25.7a1.2 1.2 0 0 0-.96.48l-3.6 4.8A1.2 1.2 0 0 0 22.1 72h28.8a1.2 1.2 0 0 0 .96-1.92l-3.6-4.8a1.2 1.2 0 0 0-.96-.48h-1.384l-.8-4.8H68.9a3.6 3.6 0 0 0 3.6-3.6V18a3.6 3.6 0 0 0-3.6-3.6z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M62.9 0h4.8v2.4h-4.8z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M50.9 4.8h2.4v2.4h-2.4z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M55.7 4.8h12v2.4h-12z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M50.9 9.6h9.6V12h-9.6z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M62.9 9.6h4.8V12h-4.8z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M5.3 36h6v2.4h-6z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M13.7 36h22.8v2.4H13.7z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M5.3 40.8h19.2v2.4H5.3z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M26.9 40.8h12v2.4h-12z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M5.3 45.6h12V48h-12z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M19.7 45.6h19.2V48H19.7z" />
                                    </g>
                                    <g>
                                        <path fill=""
                                            d="M7.7 4.8h12v4.8h-12zM6.5 12h14.4a1.2 1.2 0 0 0 1.2-1.2V3.6a1.2 1.2 0 0 0-1.2-1.2H6.5a1.2 1.2 0 0 0-1.2 1.2v7.2A1.2 1.2 0 0 0 6.5 12z" />
                                    </g>
                                    <g>
                                        <path fill=""
                                            d="M53.3 21.6h12v4.8h-12zm-1.2 7.2h14.4a1.2 1.2 0 0 0 1.2-1.2v-7.2a1.2 1.2 0 0 0-1.2-1.2H52.1a1.2 1.2 0 0 0-1.2 1.2v7.2a1.2 1.2 0 0 0 1.2 1.2z" />
                                    </g>
                                    <g>
                                        <path fill=""
                                            d="M43.7 38.4h2.4v7.2h-2.4zm-2.4-1.2v9.6a1.2 1.2 0 0 0 1.2 1.2h4.8a1.2 1.2 0 0 0 1.2-1.2v-9.6a1.2 1.2 0 0 0-1.2-1.2h-4.8a1.2 1.2 0 0 0-1.2 1.2z" />
                                    </g>
                                    <g>
                                        <path fill=""
                                            d="M53.3 36h2.4v9.6h-2.4zm-1.2 12h4.8a1.2 1.2 0 0 0 1.2-1.2v-12a1.2 1.2 0 0 0-1.2-1.2h-4.8a1.2 1.2 0 0 0-1.2 1.2v12a1.2 1.2 0 0 0 1.2 1.2z" />
                                    </g>
                                    <g>
                                        <path fill=""
                                            d="M65.3 45.6h-2.4v-12h2.4zm1.2-14.4h-4.8a1.2 1.2 0 0 0-1.2 1.2v14.4a1.2 1.2 0 0 0 1.2 1.2h4.8a1.2 1.2 0 0 0 1.2-1.2V32.4a1.2 1.2 0 0 0-1.2-1.2z" />
                                    </g>
                                    <g>
                                        <path fill=""
                                            d="M34.1 28.8h7.2v2.4h-7.2zm-1.2 4.8h9.6a1.2 1.2 0 0 0 1.2-1.2v-4.8a1.2 1.2 0 0 0-1.2-1.2h-9.6a1.2 1.2 0 0 0-1.2 1.2v4.8a1.2 1.2 0 0 0 1.2 1.2z" />
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <h2 class="p-solutions-item__title">
                            <a href="solution-financial-analytics.html">Финансовая аналитика</a>
                        </h2>
                        <p class="p-solutions-item__description">
                            Внедряемые нашими консультантами решения позволяют привести финансовую отчетность к
                            международным стандартам, автоматизировать процессы бюджетирования, оперативного и
                            стратегического планирования, рассчитать справедливую себестоимость с помощью
                            функционально-стоимостного анализа.
                        </p>
                        <div class="square-btn">
                            <span>Узнать подробнее</span>
                        </div>
                    </div>
                    <div class="p-solutions-item">
                        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" width="72" height="72"
                            viewBox="0 0 72 72">
                            <g>
                                <g clip-path="url(#clip-4ae3a7c3-973e-4029-8129-5872cfa96050)">
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M.039 67.128V64.73h8.39v2.398z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M4.834 62.333v-2.398h8.39v2.398z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M.039 62.333v-2.398h2.397v2.398z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M4.834 71.922v-2.397h8.39v2.397z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M.039 71.922v-2.397h2.397v2.397z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M10.827 67.128V64.73h2.397v2.398z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M58.775 67.128V64.73h8.391v2.398z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M63.57 62.333v-2.398h8.391v2.398z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M58.775 62.333v-2.398h2.398v2.398z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M63.57 71.922v-2.397h8.391v2.397z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M58.775 71.922v-2.397h2.398v2.397z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M69.564 67.128V64.73h2.397v2.398z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M.039 8.39V5.994h8.39v2.398z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M4.834 3.596V1.2h8.39v2.397z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M.039 3.596V1.2h2.397v2.397z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M4.834 13.186v-2.398h8.39v2.398z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M.039 13.186v-2.398h2.397v2.398z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M10.827 8.39V5.994h2.397v2.398z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M58.775 8.39V5.994h8.391v2.398z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M63.57 3.596V1.2h8.391v2.397z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M58.775 3.596V1.2h2.398v2.397z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M63.57 13.186v-2.398h8.391v2.398z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M58.775 13.186v-2.398h2.398v2.398z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M69.564 8.39V5.994h2.397v2.398z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill=""
                                                    d="M62.372 53.942a2.397 2.397 0 1 1 0-4.795 2.397 2.397 0 0 1 0 4.795zm-4.795-2.398c.006.448.076.891.207 1.319L39.385 63.735a4.783 4.783 0 0 0-2.186-1.232V36.646L58.986 23.77a4.784 4.784 0 0 0 2.187 1.233V46.92a4.795 4.795 0 0 0-3.596 4.624zM36 69.525a2.397 2.397 0 1 1 0-4.795 2.397 2.397 0 0 1 0 4.795zM14.216 52.863a4.692 4.692 0 0 0-3.389-5.943V25.003a4.773 4.773 0 0 0 2.185-1.233l21.79 12.876v25.857a4.783 4.783 0 0 0-2.187 1.232zm-4.588 1.079a2.397 2.397 0 1 1 0-4.795 2.397 2.397 0 0 1 0 4.795zM7.231 20.378a2.397 2.397 0 1 1 4.795 0 2.397 2.397 0 0 1-4.795 0zm6.985-1.319L32.615 8.187a4.786 4.786 0 0 0 6.769.001h.001l18.4 10.871a4.296 4.296 0 0 0 0 2.638L36 34.568 14.216 21.697a4.296 4.296 0 0 0 0-2.638zM36 2.397a2.397 2.397 0 1 1 0 4.795 2.397 2.397 0 0 1 0-4.795zm26.372 15.584a2.397 2.397 0 1 1 0 4.794 2.397 2.397 0 0 1 0-4.794zm3.395 30.195a4.788 4.788 0 0 0-2.197-1.256V25.003a4.786 4.786 0 1 0-4.583-8.017l-18.4-10.873c.131-.427.201-.871.208-1.318a4.795 4.795 0 0 0-9.59 0c.007.447.077.89.208 1.318l-18.4 10.873a4.788 4.788 0 1 0-4.583 8.017V46.92a4.786 4.786 0 1 0 4.583 8.017l18.4 10.872a4.795 4.795 0 1 0 9.174 0l18.4-10.872a4.788 4.788 0 0 0 6.78-6.761z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M27.862 42.164l-1.22-2.064 1.929-1.14 1.22 2.064z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M24.006 44.444l-1.22-2.064 1.929-1.14 1.22 2.064z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M31.721 39.884l-1.22-2.064 1.929-1.14 1.22 2.064z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M20.151 46.72l-1.22-2.064 1.93-1.14 1.219 2.064z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M16.288 49.003l-1.22-2.064 1.929-1.14 1.22 2.064z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M55.71 48.996l-1.93-1.14L55 45.794l1.929 1.14z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M51.854 46.718l-1.929-1.14 1.22-2.063 1.928 1.14z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M47.992 44.443l-1.929-1.14 1.22-2.064 1.928 1.14z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M40.275 39.887l-1.929-1.14 1.22-2.064 1.928 1.14z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M44.137 42.161l-1.929-1.14 1.22-2.064 1.929 1.14z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M34.801 32.365v-2.397H37.2v2.397z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M34.801 27.57v-2.397H37.2v2.397z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M34.801 22.775v-2.397H37.2v2.397z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M34.801 17.98v-2.397H37.2v2.398z" />
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M34.801 13.186v-2.398H37.2v2.398z" />
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <h2 class="p-solutions-item__title">
                            <a href="solution-data-governance.html">Data Governance</a>
                        </h2>
                        <p class="p-solutions-item__description">
                            Основная тенденция нашего времени - корпоративные данные становятся главным активом и
                            средством новых возможностей бизнеса. Именно качественное и эффективное управление активом
                            данных является основным вызовом для современных компаний по всему миру

                        </p>
                        <div class="square-btn">
                            <span>Узнать подробнее</span>
                        </div>
                    </div>
                    <div class="p-solutions-item">
                        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" width="73" height="72"
                            viewBox="0 0 73 72">
                            <g>
                                <g clip-path="url(#clip-c49755e8-60e5-4226-a304-444affadb8b7)">
                                    <g>
                                        <path fill=""
                                            d="M43.7 28.8h-2.4v-2.4h2.4zm1.2-4.8h-4.8a1.2 1.2 0 0 0-1.2 1.2V30a1.2 1.2 0 0 0 1.2 1.2h4.8a1.2 1.2 0 0 0 1.2-1.2v-4.8a1.2 1.2 0 0 0-1.2-1.2z" />
                                    </g>
                                    <g>
                                        <path fill=""
                                            d="M34.1 28.8h-2.4v-2.4h2.4zm1.2-4.8h-4.8a1.2 1.2 0 0 0-1.2 1.2V30a1.2 1.2 0 0 0 1.2 1.2h4.8a1.2 1.2 0 0 0 1.2-1.2v-4.8a1.2 1.2 0 0 0-1.2-1.2z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M10.1 24h16.8v2.4H10.1z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M5.3 24h2.4v2.4H5.3z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M10.1 28.8h16.8v2.4H10.1z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M5.3 28.8h2.4v2.4H5.3z" />
                                    </g>
                                    <g>
                                        <path fill=""
                                            d="M43.7 9.6h-2.4V7.2h2.4zm1.2-4.8h-4.8A1.2 1.2 0 0 0 38.9 6v4.8a1.2 1.2 0 0 0 1.2 1.2h4.8a1.2 1.2 0 0 0 1.2-1.2V6a1.2 1.2 0 0 0-1.2-1.2z" />
                                    </g>
                                    <g>
                                        <path fill=""
                                            d="M34.1 9.6h-2.4V7.2h2.4zm1.2-4.8h-4.8A1.2 1.2 0 0 0 29.3 6v4.8a1.2 1.2 0 0 0 1.2 1.2h4.8a1.2 1.2 0 0 0 1.2-1.2V6a1.2 1.2 0 0 0-1.2-1.2z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M10.1 4.8h16.8v2.4H10.1z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M5.3 4.8h2.4v2.4H5.3z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M10.1 9.6h16.8V12H10.1z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M5.3 9.6h2.4V12H5.3z" />
                                    </g>
                                    <g>
                                        <path fill=""
                                            d="M43.7 48h-2.4v-2.4h2.4zm1.2-4.8h-4.8a1.2 1.2 0 0 0-1.2 1.2v4.8a1.2 1.2 0 0 0 1.2 1.2h4.8a1.2 1.2 0 0 0 1.2-1.2v-4.8a1.2 1.2 0 0 0-1.2-1.2z" />
                                    </g>
                                    <g>
                                        <path fill=""
                                            d="M34.1 48h-2.4v-2.4h2.4zm1.2-4.8h-4.8a1.2 1.2 0 0 0-1.2 1.2v4.8a1.2 1.2 0 0 0 1.2 1.2h4.8a1.2 1.2 0 0 0 1.2-1.2v-4.8a1.2 1.2 0 0 0-1.2-1.2z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M10.1 43.2h16.8v2.4H10.1z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M5.3 43.2h2.4v2.4H5.3z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M10.1 48h16.8v2.4H10.1z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M5.3 48h2.4v2.4H5.3z" />
                                    </g>
                                    <g>
                                        <path fill=""
                                            d="M60.5 55.2c-6.299 0-9.6-1.783-9.6-2.4v-4.171a22.81 22.81 0 0 0 9.6 1.771 22.81 22.81 0 0 0 9.6-1.771V52.8c0 .617-3.301 2.4-9.6 2.4zm0 7.2c-6.299 0-9.6-1.783-9.6-2.4v-4.171a22.81 22.81 0 0 0 9.6 1.771 22.81 22.81 0 0 0 9.6-1.771V60c0 .617-3.301 2.4-9.6 2.4zm0 7.2c-6.299 0-9.6-1.783-9.6-2.4v-4.171a22.81 22.81 0 0 0 9.6 1.771 22.81 22.81 0 0 0 9.6-1.771V67.2c0 .617-3.301 2.4-9.6 2.4zM47.3 52.8H4.1a1.2 1.2 0 0 1-1.2-1.2V42a1.2 1.2 0 0 1 1.2-1.2h43.2a1.2 1.2 0 0 1 1.2 1.2v9.6a1.2 1.2 0 0 1-1.2 1.2zM7.7 36h4.8v2.4H7.7zm-4.8-3.6v-9.6a1.2 1.2 0 0 1 1.2-1.2h43.2a1.2 1.2 0 0 1 1.2 1.2v9.6a1.2 1.2 0 0 1-1.2 1.2H4.1a1.2 1.2 0 0 1-1.2-1.2zm4.8-15.6h4.8v2.4H7.7zm-4.8-3.6V3.6a1.2 1.2 0 0 1 1.2-1.2h43.2a1.2 1.2 0 0 1 1.2 1.2v9.6a1.2 1.2 0 0 1-1.2 1.2H4.1a1.2 1.2 0 0 1-1.2-1.2zm33.6 3.6v2.4H14.9v-2.4zm7.2 2.4h-4.8v-2.4h4.8zM36.5 36v2.4H14.9V36zm7.2 2.4h-4.8V36h4.8zm16.8 4.8c6.299 0 9.6 1.783 9.6 2.4S66.799 48 60.5 48c-6.299 0-9.6-1.783-9.6-2.4s3.301-2.4 9.6-2.4zm0-2.4a22.81 22.81 0 0 0-9.6 1.771V42a3.6 3.6 0 0 0-3.6-3.6h-1.2V36h1.2a3.6 3.6 0 0 0 3.6-3.6v-9.6a3.6 3.6 0 0 0-3.6-3.6h-1.2v-2.4h1.2a3.6 3.6 0 0 0 3.6-3.6V3.6A3.6 3.6 0 0 0 47.3 0H4.1A3.6 3.6 0 0 0 .5 3.6v9.6a3.6 3.6 0 0 0 3.6 3.6h1.2v2.4H4.1a3.6 3.6 0 0 0-3.6 3.6v9.6A3.6 3.6 0 0 0 4.1 36h1.2v2.4H4.1A3.6 3.6 0 0 0 .5 42v9.6a3.6 3.6 0 0 0 3.6 3.6h43.2a3.56 3.56 0 0 0 1.2-.22V67.2c0 3.298 6.22 4.8 12 4.8s12-1.502 12-4.8V45.6c0-3.298-6.22-4.8-12-4.8z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M59.3 51.6h2.4V54h-2.4z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M59.3 58.8h2.4v2.4h-2.4z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M59.3 66h2.4v2.4h-2.4z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M26.9 57.6h-2.4v7.2a1.2 1.2 0 0 0 1.2 1.2h15.6v-2.4H26.9z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M43.7 63.6h2.4V66h-2.4z" />
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <h2 class="p-solutions-item__title">
                            <a href="solution-data-storage.html">Хранилище данных</a>
                        </h2>
                        <p class="p-solutions-item__description">
                            Хранилище собирает, обрабатывает и анализирует большие объемы данных. Оно помогает совершать
                            быстрый поиск по базе. Система выдерживает нагрузку одновременного доступа, доступен анализ
                            данных разных уровней детализации, можно использовать шаблонные отчёты или создавать
                            собственные. И все это надежно, удобно и безопасно

                        </p>
                        <div class="square-btn">
                            <span>Узнать подробнее</span>
                        </div>
                    </div>
                    <div class="p-solutions-item">
                        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" width="73" height="68"
                            viewBox="0 0 73 68">
                            <g>
                                <g clip-path="url(#clip-6796aac2-5f76-4996-b4b7-3d60479a8b09)">
                                    <g>
                                        <g>
                                            <path fill=""
                                                d="M36.507 2.408a2.329 2.329 0 0 1 2.322 2.322 2.329 2.329 0 0 1-2.322 2.322 2.329 2.329 0 0 1-2.322-2.322 2.329 2.329 0 0 1 2.322-2.322zm-1.161 6.807v2.481h2.322V9.215a4.65 4.65 0 0 0 3.338-5.66 4.65 4.65 0 0 0-5.66-3.338 4.65 4.65 0 0 0-3.338 5.66 4.631 4.631 0 0 0 3.338 3.338z" />
                                        </g>
                                        <g>
                                            <path fill=""
                                                d="M5.16 38.398a2.329 2.329 0 0 1-2.321-2.322 2.329 2.329 0 0 1 2.322-2.322 2.329 2.329 0 0 1 2.322 2.322 2.329 2.329 0 0 1-2.322 2.322zm4.485-1.16h5.964v-2.323H9.645a4.65 4.65 0 0 0-5.66-3.337 4.65 4.65 0 0 0-3.338 5.66 4.65 4.65 0 0 0 5.66 3.337 4.631 4.631 0 0 0 3.338-3.338z" />
                                        </g>
                                        <g>
                                            <path fill=""
                                                d="M67.853 38.398a2.329 2.329 0 0 1-2.322-2.322 2.329 2.329 0 0 1 2.322-2.322 2.329 2.329 0 0 1 2.322 2.322 2.329 2.329 0 0 1-2.322 2.322zm0-6.965a4.67 4.67 0 0 0-4.484 3.482h-5.965v2.322h5.965c.638 2.482 3.178 3.962 5.66 3.324 2.48-.639 3.961-3.179 3.323-5.66a4.644 4.644 0 0 0-4.5-3.468z" />
                                        </g>
                                        <g>
                                            <path fill="" d="M46.114 10.07l.9-2.133 1.93.813-.9 2.133z" />
                                        </g>
                                        <g>
                                            <path fill="" d="M42.283 8.43l.9-2.132 1.93.812-.9 2.134z" />
                                        </g>
                                        <g>
                                            <path fill="" d="M49.989 11.696l.9-2.133 1.93.813-.9 2.133z" />
                                        </g>
                                        <g>
                                            <path fill="" d="M63.354 43.811l.813-1.93 2.133.9-.813 1.93z" />
                                        </g>
                                        <g>
                                            <path fill="" d="M60.089 51.56l.813-1.93 2.133.9-.813 1.93z" />
                                        </g>
                                        <g>
                                            <path fill="" d="M61.729 47.686l.812-1.93 2.134.9-.813 1.93z" />
                                        </g>
                                        <g>
                                            <path fill="" d="M9.964 21.68l.813-1.93 2.133.9-.798 1.93z" />
                                        </g>
                                        <g>
                                            <path fill="" d="M8.324 25.555l.813-1.93 2.133.9-.812 1.93z" />
                                        </g>
                                        <g>
                                            <path fill="" d="M6.699 29.43l.813-1.93 2.133.9-.813 1.93z" />
                                        </g>
                                        <g>
                                            <path fill="" d="M9.95 50.472l2.133-.9.813 1.93-2.134.9z" />
                                        </g>
                                        <g>
                                            <path fill="" d="M6.714 42.723l2.133-.9.812 1.93-2.133.9z" />
                                        </g>
                                        <g>
                                            <path fill="" d="M8.353 46.598l2.134-.9.812 1.93-2.133.9z" />
                                        </g>
                                        <g>
                                            <path fill="" d="M63.34 28.341l2.133-.9.813 1.93-2.134.9z" />
                                        </g>
                                        <g>
                                            <path fill="" d="M61.7 24.481l2.133-.9.813 1.93-2.134.9z" />
                                        </g>
                                        <g>
                                            <path fill="" d="M60.074 20.592l2.134-.9.812 1.93-2.133.9z" />
                                        </g>
                                        <g>
                                            <path fill="" d="M24.026 8.707l1.93-.813.9 2.133-1.93.813z" />
                                        </g>
                                        <g>
                                            <path fill="" d="M20.152 10.346l1.93-.812.9 2.133-1.93.813z" />
                                        </g>
                                        <g>
                                            <path fill="" d="M27.901 7.081l1.93-.812.9 2.133-1.93.813z" />
                                        </g>
                                        <g>
                                            <path fill=""
                                                d="M58.565 11.696a2.329 2.329 0 0 1 2.322 2.322 2.329 2.329 0 0 1-2.322 2.322 2.329 2.329 0 0 1-2.322-2.322 2.329 2.329 0 0 1 2.322-2.322zm-5.776 6.458l1.64 1.64 1.8-1.8c.71.421 1.523.653 2.35.653a4.639 4.639 0 0 0 4.645-4.643A4.639 4.639 0 0 0 58.58 9.36a4.639 4.639 0 0 0-4.644 4.644c0 .827.232 1.64.653 2.35z" />
                                        </g>
                                        <g>
                                            <path fill=""
                                                d="M14.448 11.696a2.329 2.329 0 0 1 2.322 2.322 2.329 2.329 0 0 1-2.322 2.322 2.329 2.329 0 0 1-2.321-2.322 2.329 2.329 0 0 1 2.321-2.322zm0 6.966c.828 0 1.64-.232 2.351-.653l1.8 1.8 1.64-1.64-1.8-1.8c.421-.711.653-1.524.653-2.351a4.639 4.639 0 0 0-4.644-4.644 4.639 4.639 0 0 0-4.643 4.644 4.639 4.639 0 0 0 4.643 4.644z" />
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill=""
                                                    d="M36.507 45.756c-4.847 0-8.78-4.194-8.78-9.36 0-5.167 3.947-9.36 8.78-9.36 4.832 0 8.78 4.193 8.78 9.36 0 5.166-3.933 9.36-8.78 9.36zm14.73 6.487c-2.264-2.41-4.964-4.209-7.91-5.283 3.15-2.307 5.225-6.182 5.225-10.564 0-7.068-5.399-12.829-12.045-12.829-6.647 0-12.045 5.747-12.045 12.829 0 4.382 2.075 8.257 5.224 10.564-2.946 1.089-5.645 2.874-7.909 5.283-3.933 4.194-6.095 9.752-6.095 15.687h3.25c0-10.318 7.88-18.706 17.575-18.706 9.694 0 17.574 8.388 17.574 18.706h3.25c0-5.92-2.162-11.493-6.094-15.687z" />
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <h2 class="p-solutions-item__title">
                            <a href="solution-ca-and-ma.html">Клиентская аналитика и автоматизация маркетинга</a>
                        </h2>
                        <p class="p-solutions-item__description">
                            Применение более сложных аналитических
                            систем, например, на основе технологий
                            машинного обучения, для получения полезной
                            информации из данных, более полного
                            понимания предпочтений клиентов и
                            повышения окупаемости инвестиций в
                            маркетинговые мероприятия.

                        </p>
                        <div class="square-btn">
                            <span>Узнать подробнее</span>
                        </div>
                    </div>
                    <div class="p-solutions-item">
                        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" width="72" height="71"
                            viewBox="0 0 72 71">
                            <g>
                                <g clip-path="url(#clip-885dc438-f15f-494c-950f-e9da56ea93db)">
                                    <g>
                                        <path fill=""
                                            d="M2.867 63.9h23.666a.953.953 0 0 1 .858.527 3.303 3.303 0 0 0 2.972 1.84h6.82a3.305 3.305 0 0 0 2.974-1.84.948.948 0 0 1 .856-.527H64.4v2.367a2.366 2.366 0 0 1-2.367 2.366h-56.8a2.366 2.366 0 0 1-2.366-2.366zM62.033 71a4.733 4.733 0 0 0 4.734-4.733v-3.55c0-.654-.53-1.184-1.184-1.184h-2.366V42.6H60.85v18.933h-2.367V42.6h-2.366v18.933H41.013a3.303 3.303 0 0 0-2.972 1.838.949.949 0 0 1-.858.529h-6.82a.947.947 0 0 1-.856-.529 3.305 3.305 0 0 0-2.974-1.838H11.15V31.95c0-.654.53-1.183 1.183-1.183h21.3V28.4h-21.3a3.55 3.55 0 0 0-3.55 3.55v29.583H6.417v-31.95a3.55 3.55 0 0 1 3.55-3.55h23.666v-2.366H9.967a5.924 5.924 0 0 0-5.917 5.916v31.95H1.683c-.653 0-1.183.53-1.183 1.184v3.55A4.733 4.733 0 0 0 5.233 71z" />
                                    </g>
                                    <g>
                                        <path fill=""
                                            d="M18.25 44.967h30.767v7.1H18.25zm-2.367-1.184v9.467c0 .654.53 1.183 1.184 1.183H50.2c.654 0 1.183-.53 1.183-1.183v-9.467c0-.653-.53-1.183-1.183-1.183H17.067c-.654 0-1.184.53-1.184 1.183z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M20.617 47.333h2.366V49.7h-2.366z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M25.35 47.333h2.367V49.7H25.35z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M30.083 47.333h2.367V49.7h-2.367z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M34.817 47.333h2.366V49.7h-2.366z" />
                                    </g>
                                    <g>
                                        <path fill=""
                                            d="M69.133 36.255c0 .89-.723 1.611-1.612 1.612H39.979c-.89 0-1.612-.722-1.612-1.612V21.728c0-.89.723-1.611 1.612-1.611h27.542c.89 0 1.612.721 1.612 1.611zM46.65 17.75V14.2a7.1 7.1 0 0 1 14.2 0v3.55zm-4.733-3.55c0-6.536 5.297-11.833 11.833-11.833 6.536 0 11.833 5.297 11.833 11.833v3.55h-2.366V14.2a9.466 9.466 0 0 0-9.467-9.467 9.466 9.466 0 0 0-9.467 9.467v3.55h-2.366zm26.033 3.594V14.2c0-7.843-6.357-14.2-14.2-14.2-7.843 0-14.2 6.357-14.2 14.2v3.594A3.97 3.97 0 0 0 36 21.728v14.527a3.983 3.983 0 0 0 3.98 3.978h27.54a3.983 3.983 0 0 0 3.98-3.978V21.728a3.97 3.97 0 0 0-3.55-3.934z" />
                                    </g>
                                    <g>
                                        <path fill=""
                                            d="M53.75 29.583a1.183 1.183 0 1 1 0-2.366 1.183 1.183 0 0 1 0 2.366zm0-4.733a3.542 3.542 0 0 0-1.183 6.882v2.585h2.366v-2.585a3.542 3.542 0 0 0-1.183-6.882z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M21.8 18.933h2.367V21.3H21.8z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M21.8 14.2h2.367v2.367H21.8z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M21.8 9.467h2.367v2.366H21.8z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M21.8 4.733h2.367V7.1H21.8z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M26.533 4.733H28.9V7.1h-2.367z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M31.267 4.733h2.366V7.1h-2.366z" />
                                    </g>
                                    <g>
                                        <path fill="" d="M36 4.733h2.367V7.1H36z" />
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <h2 class="p-solutions-item__title">
                            <a href="solution-fraud-prevention.html">Противодействие мошенничеству</a>
                        </h2>
                        <p class="p-solutions-item__description">
                            Быстро и точно выявлять мошеннические действия, ненужные траты и злоупотребления. В решениях
                            ведущих вендоров реализована гибридная технология отслеживания, которая объединяет
                            расширенные функции аналитики, искусственный интеллект, машинное обучение с учителем (или
                            без него) и традиционные методы обнаружения и позволяет эффективно выявлять подозрительные
                            события.

                        </p>
                        <div class="square-btn">
                            <span>Узнать подробнее</span>
                        </div>
                    </div>
                    <div class="p-solutions-item">
                        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" width="73" height="72" viewBox="0 0 73 72">
                            <g>
                                <g clip-path="url(#clip-df43952f-eabe-484b-8334-e8505678f4c5)">
                                    <g>
                                        <path fill=""
                                            d="M2.9 19.2a3.6 3.6 0 0 1 3.6-3.6h1.2V60H6.5a5.976 5.976 0 0 0-3.6 1.2zM6.5 72h54a1.2 1.2 0 0 0 1.2-1.2V39.6h-2.4v30H6.5a3.6 3.6 0 0 1 0-7.2h2.4a1.2 1.2 0 0 0 1.2-1.2v-36h19.2v-2.4H10.1v-8.4a1.2 1.2 0 0 0-1.2-1.2H6.5a6.007 6.007 0 0 0-6 6V66a6.007 6.007 0 0 0 6 6z" />
                                    </g>
                                    <g>
                                        <path fill=""
                                            d="M26.9 38.4h-12v-7.2h12zm1.2-9.6H13.7a1.2 1.2 0 0 0-1.2 1.2v9.6a1.2 1.2 0 0 0 1.2 1.2h14.4a1.2 1.2 0 0 0 1.2-1.2V36h4.8v-2.4h-4.8V30a1.2 1.2 0 0 0-1.2-1.2z" />
                                    </g>
                                    <g>
                                        <path fill=""
                                            d="M26.9 60h-12v-7.2h12zm14.4-7.2h12V60h-12zm-1.2 9.6h14.4a1.2 1.2 0 0 0 1.2-1.2v-9.6a1.2 1.2 0 0 0-1.2-1.2h-6v-7.2h-2.4v7.2h-6a1.2 1.2 0 0 0-1.2 1.2v3.6h-9.6v-3.6a1.2 1.2 0 0 0-1.2-1.2H13.7a1.2 1.2 0 0 0-1.2 1.2v9.6a1.2 1.2 0 0 0 1.2 1.2h14.4a1.2 1.2 0 0 0 1.2-1.2v-3.6h9.6v3.6a1.2 1.2 0 0 0 1.2 1.2z" />
                                    </g>
                                    <g>
                                        <path fill=""
                                            d="M52.1 28.8a8.4 8.4 0 0 1-8.4-8.4 8.4 8.4 0 0 1 8.4-8.4 8.4 8.4 0 0 1 8.4 8.4 8.41 8.41 0 0 1-8.4 8.4zm0-19.2c-5.965 0-10.8 4.835-10.8 10.8 0 5.965 4.835 10.8 10.8 10.8 5.965 0 10.8-4.835 10.8-10.8-.006-5.962-4.838-10.794-10.8-10.8z" />
                                    </g>
                                    <g>
                                        <path fill=""
                                            d="M64.873 23.694a13.724 13.724 0 0 1-1.414 3.41 1.2 1.2 0 0 0 .19 1.453l2.88 2.87-3.4 3.394-2.87-2.873a1.2 1.2 0 0 0-1.452-.189 13.667 13.667 0 0 1-3.41 1.413 1.2 1.2 0 0 0-.897 1.16V38.4h-4.8v-4.068a1.2 1.2 0 0 0-.894-1.16 13.667 13.667 0 0 1-3.41-1.413 1.2 1.2 0 0 0-1.452.189l-2.872 2.871-3.4-3.391 2.88-2.87a1.2 1.2 0 0 0 .19-1.455 13.724 13.724 0 0 1-1.414-3.409 1.2 1.2 0 0 0-1.16-.894H34.1V18h4.068a1.2 1.2 0 0 0 1.16-.894 13.724 13.724 0 0 1 1.413-3.41 1.2 1.2 0 0 0-.19-1.453l-2.88-2.872 3.401-3.4 2.872 2.879a1.2 1.2 0 0 0 1.454.19 13.667 13.667 0 0 1 3.409-1.413 1.2 1.2 0 0 0 .893-1.159V2.4h4.8v4.068a1.2 1.2 0 0 0 .894 1.16c1.195.315 2.342.79 3.41 1.413a1.2 1.2 0 0 0 1.456-.19l2.871-2.88 3.401 3.401-2.88 2.872a1.199 1.199 0 0 0-.189 1.454 13.745 13.745 0 0 1 1.413 3.409 1.2 1.2 0 0 0 1.156.893H70.1v4.8h-4.068a1.2 1.2 0 0 0-1.16.894zM71.3 25.2a1.2 1.2 0 0 0 1.2-1.2v-7.2a1.2 1.2 0 0 0-1.2-1.2h-4.372a15.896 15.896 0 0 0-.949-2.292l3.096-3.085a1.2 1.2 0 0 0 0-1.7l-5.095-5.1a1.2 1.2 0 0 0-1.697.002l-3.09 3.096a15.963 15.963 0 0 0-2.293-.95V1.2A1.2 1.2 0 0 0 55.7 0h-7.2a1.2 1.2 0 0 0-1.2 1.2v4.372c-.787.256-1.554.573-2.292.949l-3.086-3.096a1.201 1.201 0 0 0-1.697-.001L35.124 8.52a1.2 1.2 0 0 0 0 1.7l3.096 3.084c-.376.74-.693 1.507-.948 2.296H32.9a1.2 1.2 0 0 0-1.2 1.2V24a1.2 1.2 0 0 0 1.2 1.2h4.372c.256.788.573 1.554.949 2.292l-3.096 3.085a1.2 1.2 0 0 0 0 1.7l5.095 5.088a1.2 1.2 0 0 0 1.697 0l3.086-3.086c.74.376 1.508.693 2.297.95V39.6a1.2 1.2 0 0 0 1.2 1.2h7.2a1.2 1.2 0 0 0 1.2-1.2v-4.372a15.977 15.977 0 0 0 2.293-.949l3.087 3.086a1.2 1.2 0 0 0 1.695 0l5.1-5.089a1.199 1.199 0 0 0 0-1.7l-3.096-3.085c.376-.738.693-1.504.95-2.291z" />
                                    </g>
                                    <g>
                                        <path fill=""
                                            d="M52.1 22.8a2.4 2.4 0 1 1 0-4.8 2.4 2.4 0 0 1 0 4.8zm0-7.2a4.8 4.8 0 1 0 0 9.6 4.8 4.8 0 0 0 0-9.6z" />
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <h2 class="p-solutions-item__title">
                            <a href="solution-business-process-robotization.html">Роботизация Бизнес процессов</a>
                        </h2>
                        <p class="p-solutions-item__description">
                            Набор инструментов, который помогает решать множество проблем, возникающих при работе с
                            неструктурированной информацией, собирать, систематизировать и анализировать текстовые
                            данные в автоматическом режиме, благодаря применению лингвистических правил, статистических
                            методов и методов машинного обучения.

                        </p>
                        <div class="square-btn">
                            <span>Узнать подробнее</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <%= require('html-loader?attrs[]=!./components/footer.html') %>
    </div>
</body>