<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Solution page. Risk management. </title>
</head>

<body class="text-page solution-page">
    <div class="wrapper">
        <%= require('html-loader?attrs[]=!./components/header.html') %>
        <%= require('html-loader?attrs[]=!./components/modal.html') %>
        <div class="content">
            <div class="breadcrumbs">
                <div class="container">
                    <ul class="breadcrumbs-list">
                        <li><a href="#">Главная</a></li>
                        <li><a href="solutions.html">Решения</a></li>
                        <li><span>Управление рисками</span></li>
                    </ul>
                </div>
            </div>
            <div class="text-page-top">
                <div class="container">
                    <img src="./icons/loss.svg" alt="">
                    <div class="text-page-header">
                        <h1>Управление рисками</h1>
                        <p>Решения наших партнеров, которые внедряет наша компания, помогают эффективно управлять
                            кредитными рисками, чтобы обеспечить неукоснительное соблюдение нормативных требований и
                            повысить производительность работы в целом.
                        </p>
                    </div>

                </div>

            </div>
            <div class="text-page-main">
                <div class="container">
                    <h3>Внедрение систем управления финансовыми рисками позволит:</h3>
                    <ul>
                        <li>Обеспечить соответствие международным нормативам, а именно соответствие различным
                            интерпретациям правил и инструкций в разных юрисдикциях.
                        </li>
                        <li>Оценить убытки в ходе различных экономических циклов в рамках проекта, особенно при
                            экономических спадах. Это поможет оце-нить влияние требований к достаточности капитала с
                            учетом бу-дущих рисков на протяжении жизненного цикла каждого потенци-ального риска по всем
                            портфелям.
                        </li>
                        <li>Создать консолидированную платформу для объединения данных, моделирования и отчетности.
                            Путем интеграции существующих моделей рисков и иерархии данных в оптимизированную
                            унифицированную инфраструктуру данных, чтобы оценивать и документировать кредитные и
                            рыночные риски, а также риски, связанные с несостоятельностью контрагента и потерей
                            ликвидности.
                        </li>
                    </ul>
                    <hr>
                    <h3>Управление кредитными рисками решает следующие задачи:</h3>
                    <p>
                        Слишком высокий кредитный риск может повысить процент невозвратных задолженностей, а слишком
                        низкий — привести к потере бизнеса и прибыли. Решения наших партнеров, которые внедряет наша
                        компания, помогают эффективно управлять кредитными рисками, чтобы обеспечить неукоснительное
                        соблюдение нормативных требований и повысить производительность работы в целом.
                    </p>
                    <hr>
                    <h3>Внедряемые нами решения дают возможность:</h3>
                    <ul>
                        <li>Принимать более гибкие и взвешенные решения о предоставлении займов. Точная оценка
                            кредитного риска в момент выдачи кредита посредством оценки кредитных заявок и поведения
                            потребителей позволяет лучше понять особенности того или иного риска.
                        </li>
                        <li>Управлять кредитным портфелем с помощью инструментов оценки риска/обеспечения возврата.</li>
                        <li>Эффективно мониторить множество портфелей займов. Расчет и стресс-тестирование портфеля на
                            предмет подверженности риску с учетом реестра взаиморасчетов, маржирования, залогового
                            обеспечения и кредитных деривативов. Расширенное моделирование вероятных рисков в будущем.
                        </li>
                        <li>Оптимизировать взыскания и возврат кредитов.</li>
                        <li>Иметь Эффективную систему управления рисками. Внедряемые системы анализа рисков позволяют
                            рассчитать диапазон мер по управлению рисками (например, подверженность рискам, их вес,
                            коэффициенты достаточности капитала, влияние на залоговое обеспечение) и применять более
                            продвинутые методы моделирования при изменении нормативов и усложнении финансовых продуктов.
                            Кроме того, функции регулятивного анализа интегрированы с анализом сценариев,
                            стресс-тестированием и оптимизированными алгоритмами снижения рисков.
                        </li>
                        <li>Принимать более взвешенные решения. Дополнив интегрированную платформу анализа рисков, можно
                            решать задачи, не связанные с соблюдением нормативных требований и относящиеся, например, к
                            экономическому капиталу и другим передовым технологиям.
                        </li>
                    </ul>

                    <div class="text-page-buttons">
                        <a href="#" class="btn">Обсудить решение</a>
                        <a href="#" class="btn btn-emty">Вернуться</a>
                    </div>
                </div>

            </div>
            <section class="section-others">
                <div class="container">
                    <h4 class="others__title">
                        <span>Вас могут заинтересовать</span>
                        другие наши решения
                    </h4>
                    <div class="others-list">
                        <div class="others-item">
                            <img src="./icons/robotization.svg" alt="" class="others__icon">
                            <a href="#" class="others-item__title">
                                Роботизация Бизнес процессов
                            </a>
                        </div>
                        <div class="others-item">
                            <img src="./icons/analytics.svg" alt="" class="others__icon">
                            <a href="#" class="others-item__title">
                                Финансовая аналитика
                            </a>
                        </div>
                        <div class="others-item">
                            <img src="./icons/algorithm.svg" alt="" class="others__icon">
                            <a href="#" class="others-item__title">
                                Data Governance
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <%= require('html-loader?attrs[]=!./components/footer.html') %>
    </div>
</body>