<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Solution page. Client analytics and marketing automation.</title>
</head>

<body class="text-page solution-page">
    <div class="wrapper">
        <%= require('html-loader?attrs[]=!./components/header.html') %>
        <%= require('html-loader?attrs[]=!./components/modal.html') %>
        <div class="content">
            <div class="breadcrumbs">
                <div class="container">
                    <ul class="breadcrumbs-list">
                        <li><a href="#">Главная</a></li>
                        <li><a href="solutions.html">Решения</a></li>
                        <li><span>Клиентская аналитика и автоматизация маркетинга</span></li>
                    </ul>
                </div>
            </div>
            <div class="text-page-top">
                <div class="container">
                    <img src="./icons/client.svg" alt="">
                    <div class="text-page-header">
                        <h1>Клиентская аналитика и автоматизация маркетинга</h1>
                        <p>Применение более сложных аналитических систем, например, на осно-ве технологий машинного
                            обучения, для получения полезной инфор-мации из данных, более полного понимания предпочтений
                            клиентов и повышения окупаемости инвестиций в маркетинговые мероприятия. Эффективное
                            выявление, отслеживание, обслуживание и удержание клиентов независимо от того, сколько
                            устройств они используют. Управ-ление маркетинговыми программами на всех этапах.
                        </p>
                    </div>

                </div>

            </div>
            <div class="text-page-main">
                <div class="container">
                    <h3>Решения, внедряемые нашей командой, помогают в следующем:</h3>
                    <ul>
                        <li>Повышение лояльности клиентов. Если вы понимаете, кто ваши существующие и потенциальные клиенты, то сможете в большей степени отвечать их потребностям и, следовательно, повысить уровень их удовлетворенности. Довольный клиент — лояльный клиент.</li>
                        <li>Оптимизация маркетинговых кампаний. Повышая производитель-ность своей работы, вы сможете свести к минимуму затраты и максимально эффективно использовать доступные ресурсы, чтобы обеспечить дальнейшее развитие и увеличить прибыль.</li>
                        <li>Поддержание конкурентоспособности. Если вы предоставляете клиентам новые уникальные преимущества, это делает их взаимодействие с вами запоминающимся и впечатляющим, что помогает вам опередить конкурентов.</li>
                        <li>Формирование золотой записи клиента.</li>
                        <li>Формирование золотой записи продукта.</li>
                    </ul>
                    <hr>
                    <h3>Решения, реализованные нашими специалистами:</h3>
                    <ul>
                        <li>Построение профиля клиента Customer360.</li>
                        <li>Сегментация клиентской базы.</li>
                        <li>Управление процессами Cross sell и Up sell.</li>
                        <li>Управление оттоком.</li>
                        <li>Сбор и анализ откликов, A/B тестирование.</li>
                        <li>Анализ поведения клиентов на сайте.</li>
                        <li>Real-time marketing, Next Best Offer.</li>
                    </ul>
                    <div class="text-page-buttons">
                        <a href="#" class="btn">Обсудить решение</a>
                        <a href="#" class="btn btn-emty">Вернуться</a>
                    </div>
                </div>
            </div>
            <section class="section-others">
                <div class="container">
                    <h4 class="others__title">
                        <span>Вас могут заинтересовать</span>
                        другие наши решения
                    </h4>
                    <div class="others-list">
                        <div class="others-item">
                            <img src="./icons/data-storage.svg" alt="" class="others__icon">
                            <a href="#" class="others-item__title">
                                Хранилище данных
                            </a>
                        </div>
                        <div class="others-item">
                            <img src="./icons/analytics.svg" alt="" class="others__icon">
                            <a href="#" class="others-item__title">
                                Финансовая аналитика
                            </a>
                        </div>
                        <div class="others-item">
                            <img src="./icons/article.svg" alt="" class="others__icon">
                            <a href="#" class="others-item__title">
                                Текстовая аналитика
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <%= require('html-loader?attrs[]=!./components/footer.html') %>
    </div>
</body>