<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Solution page. Business process robotization.</title>
</head>

<body class="text-page solution-page">
    <div class="wrapper">
        <%= require('html-loader?attrs[]=!./components/header.html') %>
        <%= require('html-loader?attrs[]=!./components/modal.html') %>
        <div class="content">
            <div class="breadcrumbs">
                <div class="container">
                    <ul class="breadcrumbs-list">
                        <li><a href="#">Главная</a></li>
                        <li><a href="solutions.html">Решения</a></li>
                        <li><span>Роботизация Бизнес процессов</span></li>
                    </ul>
                </div>
            </div>
            <div class="text-page-top">
                <div class="container">
                    <img src="./icons/robotization.svg" alt="">
                    <div class="text-page-header">
                        <h1>Роботизация Бизнес процессов</h1>
                        <p>Набор инструментов, который помогает решать множество проблем, возникающих при работе с
                            неструктурированной информацией, собирать, систематизировать и анализировать текстовые
                            данные в автоматическом режиме, благодаря применению лингвистических правил, статистических
                            методов и методов машинного обучения.
                        </p>
                    </div>
                </div>
            </div>
            <div class="text-page-main">
                <div class="container">
                    <h3>Данные решения позволят вашей организации:</h3>
                    <ul>
                        <li>Снизить количество ошибок и повышения качества процессов.</li>
                        <li>Сместить фокус сотрудников на выполнение интеллектуальных и творческих задач.</li>
                        <li>Снизить затраты на выполнение рутинных операций.</li>
                        <li>Повысить скорость выполнения бизнес-процессов.</li>
                        <li>Увеличить объемы обработки информации.</li>
                    </ul>
                    <div class="text-page-buttons">
                        <a href="#" class="btn">Обсудить решение</a>
                        <a href="#" class="btn btn-emty">Вернуться</a>
                    </div>
                </div>
            </div>
            <section class="section-others">
                <div class="container">
                    <h4 class="others__title">
                        <span>Вас могут заинтересовать</span>
                        другие наши решения
                    </h4>
                    <div class="others-list">
                        <div class="others-item">
                            <img src="./icons/loss.svg" alt="" class="others__icon">
                            <a href="#" class="others-item__title">
                                Управление рисками
                            </a>
                        </div>
                        <div class="others-item">
                            <img src="./icons/list.svg" alt="" class="others__icon">
                            <a href="#" class="others-item__title">
                                Стресс тестирование
                            </a>
                        </div>
                        <div class="others-item">
                            <img src="./icons/secure.svg" alt="" class="others__icon">
                            <a href="#" class="others-item__title">
                                Противодействие мошенничеству
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <%= require('html-loader?attrs[]=!./components/footer.html') %>
    </div>
</body>