<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Solution page. Data storage. </title>
</head>

<body class="text-page solution-page">
    <div class="wrapper">
        <%= require('html-loader?attrs[]=!./components/header.html') %>
        <%= require('html-loader?attrs[]=!./components/modal.html') %>
        <div class="content">
            <div class="breadcrumbs">
                <div class="container">
                    <ul class="breadcrumbs-list">
                        <li><a href="#">Главная</a></li>
                        <li><a href="solutions.html">Решения</a></li>
                        <li><span>Хранилище данных</span></li>
                    </ul>
                </div>
            </div>
            <div class="text-page-top">
                <div class="container">
                    <img src="./icons/data-storage.svg" alt="">
                    <div class="text-page-header">
                        <h1>Хранилище данных</h1>
                        <p>Хранилище собирает, обрабатывает и анализирует большие объемы данных. Оно помогает совершать
                            быстрый поиск по базе. Хорошее хранилище данных приспособлено для работы большого количества
                            пользователей — система выдерживает нагрузку одновременного до-ступа, доступен анализ данных
                            разных уровней детализации, можно использовать шаблонные отчёты или создавать собственные. И
                            все это надежно, удобно и безопасно.
                        </p>
                    </div>
                </div>
            </div>
            <div class="text-page-main">
                <div class="container">
                    <h3>Развитие хранилища как эффективного инструмента решения задач управления и отчетности включает в себя:</h3>
                    <ul>
                        <li>Развитие методик, инструментов контроля и управления качеством данных.</li>
                        <li>Подготовка методик и инструментов для обработки инцидентов управления данными.
                            <ul>
                                <li>Постановку задачи и бизнес-требования</li>
                                <li>Подготовка документов в соответствие с внутренними регламентами банка</li>
                                <li>Реализация бизнес задачи, включая интеграцию с источниками</li>
                                <li>Управление проектом</li>
                            </ul>
                        </li>
                        <li>Аудит и лояльная коррекция структуры данных хранилища с целью повышения эффективности (сроки, трудозатраты и др) решения бизнес-задач</li>
                    </ul>
                    <div class="text-page-buttons">
                        <a href="#" class="btn">Обсудить решение</a>
                        <a href="#" class="btn btn-emty">Вернуться</a>
                    </div>
                </div>
            </div>
            <section class="section-others">
                <div class="container">
                    <h4 class="others__title">
                        <span>Вас могут заинтересовать</span>
                        другие наши решения
                    </h4>
                    <div class="others-list">
                        <div class="others-item">
                            <img src="./icons/robotization.svg" alt="" class="others__icon">
                            <a href="#" class="others-item__title">
                                Роботизация Бизнес процессов
                            </a>
                        </div>
                        <div class="others-item">
                            <img src="./icons/analytics.svg" alt="" class="others__icon">
                            <a href="#" class="others-item__title">
                                Финансовая аналитика
                            </a>
                        </div>
                        <div class="others-item">
                            <img src="./icons/algorithm.svg" alt="" class="others__icon">
                            <a href="#" class="others-item__title">
                                Data Governance
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <%= require('html-loader?attrs[]=!./components/footer.html') %>
    </div>
</body>